<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.rsvt.mapper.BizMenuMapper">
		<!-- 가게 메뉴 -->
	<select id="bizMenu" parameterType="String" resultType="com.goguma.rsvt.vo.BizMenuVO">
		select * 
		from biz_menu
		where biz_no = #{bizNo}
		order by menu_prc
	</select>
	<!-- 메뉴 하나 선택 -->
	<select id="selectBizMenuOne" parameterType="int" resultType="com.goguma.rsvt.vo.BizMenuVO">
	SELECT * FROM BIZ_MENU
	WHERE MENU_NO = #{menuNo}
	</select>
	
	<!-- 메뉴 하나 삭제 -->
	<delete id="deleteMenu">
	DELETE BIZ_MENU
	WHERE MENU_NO = #{menuNo}
	</delete>
</mapper>