<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.rsvt.mapper.RsvtMapper">
	<!-- 예약 정보 저장 -->
	<insert id="insertRsvtInfo"
		parameterType="com.goguma.rsvt.vo.RsvtVO">
		INSERT INTO rsvt(
			rsvt_no, biz_no, user_id, rsvt_ymd, rsvt_tm, rsvt_nope,
			rsvt_want, rsvt_pay, rsvt_tm, rsvt_stts, com_order_yn,
			pay_mthhd, alarm_yn)
		VALUES(
			#{rsvtNo},
			#{bizNo},
			#{userId},
			#{rsvtYmd},
			#{rsvtTm},
			#{rsvtNope},
			#{rsvtWant},
			#{rsvtPay},
			#{payTm},
			#{rsvtStts},
			#{comOrderYn},
			#{payMthhd},
			#{alarmYn}
			)
	</insert>
</mapper>