<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.rsvt.mapper.RsvtMapper">

	<!-- 예약테이블(rsvt)에 정보 저장 -->
	<insert id="insertRsvtInfo"
		parameterType="com.goguma.rsvt.vo.RsvtVO">
		<selectKey keyProperty="rsvtNo" resultType="int" order="BEFORE">
			SELECT
			CASE WHEN MAX(rsvt_no) IS NULL THEN 1 ELSE
			MAX(rsvt_no) + 1 END as rsvt_no
			FROM rsvt
		</selectKey>
		INSERT INTO rsvt(
			rsvt_no,
			biz_no,
			user_id,
			rsvt_ymd,
			rsvt_tm,
			rsvt_nope,
			rsvt_want,
			rsvt_stts,
			alarm_yn
		)
		VALUES(
			#{rsvtNo},
			#{bizNo},
			#{userId},
			#{rsvtYmd},
			#{rsvtTm},
			#{rsvtNope},
			#{rsvtWant},
			#{rsvtStts},
			#{alarmYn}
		)
	</insert>

	<!-- 예약 메뉴 -->
	<insert id="insertRsvtMenu"
		parameterType="com.goguma.rsvt.vo.RsvtMenuVO">
		<selectKey keyProperty="rsvtMenuNo" resultType="int" order="BEFORE">
			SELECT
			CASE WHEN MAX(rsvt_menu_no) IS NULL THEN 1 ELSE
			MAX(rsvt_menu_no) + 1 END as rsvt_menu_no
			FROM rsvt_menu
		</selectKey>
		
		INSERT into rsvt_menu(
			rsvt_menu_no,
			rsvt_no,
			menu_no,
			amount,
			user_id
		)
		VALUES(
			#{rsvtMenuNo},
			#{rsvtNo},
			#{menuNo},
			#{amount},
			#{userId}
		)

	</insert>

	<!-- 결제 총 금액(고른메뉴 * 수량 을 각 메뉴만큼)을 결제정보 테이블에 넣기 -->
	<insert id="insertRsvtPayment"
		parameterType="com.goguma.rsvt.vo.RsvtPaymentVO">
		<selectKey keyProperty="payNo" resultType="int" order="BEFORE">
			SELECT
			CASE WHEN MAX(pay_no) IS NULL THEN 1 ELSE
			MAX(pay_no) + 1 END as pay_no
			FROM rsvt_payment
		</selectKey>
		INSERT INTO rsvt_payment
		VALUES(
			#{payNo},
			#{rsvtNo},
			sysdate,
			(SELECT SUM (subquery."prc*menu") AS totalSum
			FROM (
					SELECT( SELECT amount * menu_prc
					FROM biz_menu
					WHERE menu_no = rsvt_menu.menu_no
					) AS "prc*menu"
					FROM rsvt_menu
					WHERE rsvt_no = #{rsvtNo}
					) subquery), '카드결제')

	</insert>
	
	<!-- 예약목록 가져오기 -->
	<select id="selectMyRsvtList" parameterType="String" resultType="map">
		SELECT b.biz_nm, b.bgng_tm, c.common_nm AS openTime, b.end_tm, cc.common_nm AS closeTime, r.*, ccc.common_nm AS rsvtTime
		FROM biz_mem b INNER JOIN rsvt r 
		                ON b.biz_no = r.biz_no
		                INNER JOIN common_code c 
		                ON c.common_code = '007' 
		                AND c.common_detail_code = b.bgng_tm
		                INNER JOIN common_code cc 
		                ON cc.common_detail_code = b.end_tm
		                INNER JOIN common_code ccc
		                ON ccc.common_detail_code = r.rsvt_tm
		WHERE r.user_id = #{userId}
	</select>
	
	<!-- 예약상세내역 가져오기 -->
	<select id="selectMyRsvtDetail" parameterType="String" resultType="map">
		SELECT r.*, m.*, p.*, b.*, bm.biz_nm
		FROM rsvt r JOIN rsvt_menu m
					ON r.rsvt_no = m.rsvt_no
					JOIN rsvt_payment p
					ON p.rsvt_no = r.rsvt_no 
					JOIN biz_menu b
					ON b.menu_no = m.menu_no
                    JOIN biz_mem bm
                    On b.biz_no = bm.biz_no
		WHERE r.rsvt_no = #{rsvtNo}
	</select>
	
	<!-- 예약 한건 조회 -->
	<select id="selectRsvtOne" parameterType="String" resultType="com.goguma.rsvt.vo.RsvtVO">
		SELECT r.*, m.*, b.biz_nm, b.bgng_tm, c.common_nm AS openTime, b.end_tm, cc.common_nm AS closeTime, ccc.common_nm AS rsvtTime
		FROM rsvt r INNER JOIN mem m 
					ON r.user_id = m.user_id
					INNER JOIN biz_mem b 
					ON r.biz_no = b.biz_no
					INNER JOIN common_code c 
					ON c.common_code = '007' 
					AND c.common_detail_code = b.bgng_tm
					INNER JOIN common_code cc 
					ON cc.common_detail_code = b.end_tm
					INNER JOIN common_code ccc
			        ON ccc.common_detail_code = r.rsvt_tm
		 WHERE rsvt_no = #{rsvtNo}
	</select>
	
	<!-- 예약번호 가게메뉴 조회 -->
	<select id="selectRsvtBizMenu" parameterType="String" resultType="com.goguma.rsvt.vo.BizMenuVO">
		select r.rsvt_no, b.biz_nm, m.*
		from biz_mem b, rsvt r, biz_menu m
		where b.biz_no = r.biz_no
		    and r.biz_no = m.biz_no
		    and r.rsvt_no = #{rsvtNo}
	</select>
	
	<!-- 예약변경 신청 테이블 등록 (insert) -->
	<insert id="insertRsvtUpdateTbl" parameterType="com.goguma.rsvt.vo.RsvtUpdateVO">
		<selectKey keyProperty="rsvtUpdateNo" resultType="int" order="BEFORE">
			SELECT
			CASE WHEN MAX(rsvt_update_no) IS NULL THEN 1 ELSE
			MAX(rsvt_update_no) + 1 END as rsvt_update_no
			FROM rsvt_update
		</selectKey>
		INSERT INTO rsvt_update(
	        rsvt_update_no,
	        rsvt_no2,
	        aprv_yn,
	        rsvt_nope,
	        rsvt_want,
	        rsvt_pay,
	        rsvt_ymd,
	        rsvt_tm
	    )VALUES(
	        #{rsvtUpdateNo},
	        #{rsvtNo2},
	        #{aprvYn},
	        #{rsvtNope},
	        #{rsvtWant},
	        #{rsvtPay},
	        #{rsvtYmd},
	        #{rsvtTm}
	    )
	</insert>
	
	<!-- 예약 삭제(마이페이지) -->
	<delete id="deleteAllByRsvtNo" parameterType="String">
	    DELETE FROM rsvt 
	    WHERE rsvt_no = #{rsvtNo};
	    DELETE FROM rsvt_menu 
	    WHERE rsvt_no = #{rsvtNo};
	    DELETE FROM rsvt_payment
	    WHERE rsvt_no = #{rsvtNo};
	</delete>

</mapper>