<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 다음 우편번호 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=235765131723c6d6cee12c6f95e9a46a&libraries=services"></script> -->
<!-- <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=235765131723c6d6cee12c6f95e9a46"></script> -->
<style>
.text-start input {
	width: 400px;
	display: inline-block;
}
</style>
</head>

<body>
	<div layout:fragment="myContent">
		<div class="wrapper">
			<section id="page-content" class="page-wrapper section">
				<div class="about-section mb-80">
					<div class="container">
						<!--▶ 우리동네 select -->
						<div class="row mb-100" id="myAreaNow">
							<div class="section-title text-start ">
								<h2 class="uppercase">우리 동네</h2>
								<h3 th:if="${userInfo!=null}">
									지금 우리 동네는 <span style="font-weight: bold;" class="dealArea"
										th:text="${userInfo.dealArea}"></span> 입니다.
								</h3>
								<h3 th:if="${userInfo == null}">우리동네를 설정해주세요 :D</h3>
							</div>
							<div class="mt-20"></div>
						</div>
						<div class="row mb-100" id="setMyArea">
							<div class="section-title text-start ">
								<h2 class="uppercase">우리동네 설정하기</h2>
								<p>우리동네(거래지역)는 구 별로 지정할 수 있습니다. <br> 주소를 입력하면 자동으로 해당 구가 우리동네로 설정됩니다.</p>
								<span class="daeguPlz"></span> <br> 
								<input id="member_post" type="text" placeholder="주소 검색" readonly onclick="findAddr()"> <br> 
								<input id="member_addr" type="text" placeholder="Address" readonly> <br> 
								<input type="text" id="member_dtAddr" placeholder="Detailed Address">
							</div>
							<div class="mt-20">
								<button type="button" onclick="checkInfo()">설정하기</button>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
		<script>
			function findAddr() {
				new daum.Postcode({
							oncomplete : function(data) {
								console.log(data);
								let road = data.roadAddress; // 도로명 주소 변수
								let jibun = data.jibunAddress; // 지번 주소 변수

								if ((road.substring(0, 2) || jibun.substring(0,
										2)) != '대구') {
									$(".daeguPlz").text(
											"대구광역시 소재의 주소지를 입력해주세요 :D");
									$("#member_addr").val("");
									$("#member_post").focus();
								} else {
									$(".daeguPlz").text("");
									$("#member_post").val(data.sigungu);
									if ((road !== '') || (jibun !== '') ) {
										$("#member_addr").val(jibun + " ("+ road.substring(3)+ ")");
									}
									$("#member_dtAddr").focus();
// 									var geocoder = new kakao.maps.services.Geocoder();
// 									var callback = function(result, status){
// 										if(status ===kakao.maps.services.Status.OK){
// 											conole.log(result)
// 										}
// 									}
// 									geocoder.addressSearch(data.raod,callback);
								}
								
							}
						}).open();
			}

			function checkInfo() {
				let fullAddr = $("#member_addr").val().split('(')[0]
						+ $("#member_dtAddr").val();
				let Gu = $("#member_addr").val();
				Gu = Gu.split(' ')[1];
				let confirmMsg = confirm("우리 동네를 " + Gu + "로 설정하시겠습니까?");
				if (confirmMsg) {
					myAreaSetAjax(fullAddr, Gu);
				}
			}

			function myAreaSetAjax(fullAddr, Gu) {
				let memVO = {
					addr : fullAddr,
					dealArea : Gu
				};
				$.ajax({
					url : "/myAreaSetAjax",
					type : 'post',
					data : JSON.stringify(memVO),
					dataType : 'text',
					contentType : 'application/json; charset = utf-8',
					success : function(result) {
						afterAjax(result, memVO)

					},
					error : function(err) {
						console.log(err);
					}
				})
			}

			function afterAjax(result, memVO) {
				console.log(memVO.dealArea)
				if (result == "success") {
					alert("[우리동네 설정 완료] 우리동네를 " + memVO.dealArea + "로 변경하였습니다 :D");
					$("#member_addr").val("");
					$("#member_post").val("");
					$("#member_dtAddr").val("");;
					
					$(".dealArea").text(memVO.dealArea);
				} else {
					alert("[우리동네 설정 실패] 설정 중 오류가 발생하였습니다.")
				}
			}
		</script>
	</div>

</body>

</html>