<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="myContent">

		<div class="row">
			<div class="col-lg-12">
				<div class="tab-content">
					<div class="tab-pane active" id="checkout">
						<div class="checkout-content box-shadow p-30">

							<div class="row d-flex justify-content-center">

								<!-- 오른쪽부분-->
									<div class="col-md-6">
								<!-- action="/requestModifyAjax" -->
									<form id="modifyRsvtInfo"  onsubmit="return false"  method="post">

										<div class="payment-details pl-10 mb-50">
											<div class="billing-details pr-10">
												<h6 class="widget-title border-left mb-20">가게명</h6>
												<p th:text="${rsvt.bizNm}">(가게이름)</p>
											</div>
											<hr>

											<h6 class="widget-title border-left mb-20">예약수정확인</h6>

											<!--테이블1 : 주문메뉴 : mybook01에서 쓴거 적용-->
											<table class="table" id="menuTbl">
												<thead>
													<tr>
														<td class="td-title-1">메뉴</td>
														<td class="td-title-1">수량</td>
														<td class="td-title-2">가격</td>
													</tr>
												</thead>
												<!-- 메뉴1건 -->
												<tbody>
													<!-- <tr> -->
													<!-- <td class="td-title-1">(메뉴명)</td> -->
													<!-- <td class="td-title-1">(수량)</td> -->
													<!-- <td class="td-title-2">(가격)</td> -->
													<!-- </tr> -->
												</tbody>
											</table>

											<table id="totalTbl">
												<tr>
													<!-- <th class="order-total">합계</th> -->
													<!-- <td class="order-total"></td> -->
													<!-- <td class="order-total-price">(합계)</td> -->
												</tr>
											</table>
											<hr>

											<!--테이블2 : 시간, 인원, 요청사항-->
											<table id="rsvtInfo">
												<!-- <tr> -->
												<!-- <th class="td-title-1">예약일자</th> -->
												<!-- <td class="td-title-1" th:text="${rsvt.rsvtYmd}">(예약날짜)</td> -->
												<!-- <td class="td-title-1" th:text="${rsvt.rsvtTm}">(예약시간)</td> -->
												<!-- </tr> -->
												<!-- <tr id="trRsvtNope"> -->
												<!-- <th class="td-title-1">예약인원</th> -->
												<!-- <td class="td-title-1" th:text="${rsvt.rsvtNope}">(몇명)</td> -->
												<!-- </tr> -->
												<!-- <tr> -->
												<!-- <th class="td-title-1">예약자정보</th> -->
												<!-- <td class="td-title-1" th:text="${rsvt.nickNm}">(닉네임)</td> -->
												<!-- <td class="td-title-1" th:text="${rsvt.mblTelno}">(전화번호)</td> -->
												<!-- </tr> -->
												<!-- <tr> -->
												<!-- </tr> -->
												<!-- <tr> -->
												<!-- <td class="td-title-1">요청사항</td> -->
												<!-- <td class="td-title-1" colspan="2"><textarea -->
												<!-- class="custom-textarea" th:text="${rsvt.rsvtWant}"></textarea> -->
												<!-- </td> -->
												<!-- </tr> -->
											</table>
											<hr>
										</div>
										<div class="d-flex justify-content-center">
											<button class="submit-btn-1 mt-30 btn-hover-1"
												id="modifySubmitBtn" type="button">예약변경하기</button>
											&nbsp;
											<button class="submit-btn-1 mt-30 btn-hover-1" type="reset">예약취소하기</button>
											&nbsp;
											<button class="submit-btn-1 mt-30 btn-hover-1" type="button" onclick="goToMain()">메인으로</button>
										</div>
									</form>
								</div>
								<!-- 오른쪽부분 끝 -->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">

		/*<![CDATA[*/
		var rsvtNo = /*[[ ${rsvt.rsvtNo} ]]*/
		/*]]*/
		console.log(rsvtNo)
		
		//
		$('#modifySubmitBtn').attr('onclick',"modifyRsvtRequest(rsvtNo)");
		
		$(function(){
			// 메뉴 저장정보를 불러오는 함수
			savedMenuLoad();
			
		});
		
		// 메뉴 저장정보를 불러오는 함수
		function savedMenuLoad(){
			//메뉴판 ajax
			$.ajax({
				url:"/my/myRsvtAjax",
				type:"get",
				data: {rsvtNo},

				success: function(lists){
					// 총 결제금액을 저장할 변수
					let totalPrice = 0;
					
					//메뉴판 반복문으로 생성
					for(list of lists){
						console.log(list)
						$('#menuTbl tbody').append(
						`<tr id="${list.MENU_NO}">							
							<td class="td-title-1">${list.MENU_NM}
							</td>
								<input type="hidden" id="menuNm" name="menuNm" value="${list.MENU_NM}">
								<input type="hidden" id="menuNo" name="menuNo" value="${list.MENU_NO}">
								<input type="hidden" id="menuPrc" name="menuPrc" value="${list.MENU_PRC}">
							<td class="td-title-1">
								<div class="cart-plus-minus f-left">
									<div class="dec qtybutton" onclick="qtyBtnClick(this)">-</div>
										<input type="text" value="${list.AMOUNT}" id="amount" name="amount" class="cart-plus-minus-box" menuPrice="${list.MENU_PRC}" menuNo="${list.MENU_NO}">
									<div class="inc qtybutton" onclick="qtyBtnClick(this)">+</div>
								</div>
							</td>
							<td class="td-title-2" id="tdSum_${list.MENU_NO}">${list.AMOUNT * list.MENU_PRC}
							</td>
								<input type="hidden" id="menuSum" name="menuSum" value="${list.AMOUNT * list.MENU_PRC}">
						</tr>
						`
						)
						//토탈가격을 변수에 저장
						 totalPrice += list.AMOUNT * list.MENU_PRC;
						
					}
					
					//총 합계 저장
					$('#totalTbl').append(
							`
							<tr>
								<th class="order-total">합계</th>
								<td class="order-total"></td>
								<td class="order-total-price">${totalPrice}</td>
								<input type="hidden" id="totalSum" name="rsvtPay" value="${totalPrice}">
							</tr>

							<input type="hidden" id="rsvtNo" name="rsvtNo" value="${rsvtNo}">
							`		
					)
					
					
				},error : function(err){
					console.log("error")
				}
			});
			
			//예약인원 ajax
			$.ajax({
				url:"/my/myRsvtInfoAjax",
				type:"get",
				data: {rsvtNo},
				
				//예약내역 출력
				success: function(list){
						console.log(list)
					$('#rsvtInfo').append(
							`<tr>
								<th class="td-title-1">예약일자</th>
								<td class="td-title-1">
									<input type="date" id="rsvtDate" name="rsvtYmd" value="${list.rsvtYmd}" onchange="modifyDate(this)">
								</td>
								<td class="td-title-1">
									<select class="custom-select mb-0" id="selectTime">
										<option value="${list.rsvtTm}">${list.rsvtTime}</option>
										<option value="${list.bgngTm}">${list.openTime}</option>
										<option value="31">15시 00분</option>
										<option value="39">19시 00분</option>
										<option value="${list.endTm}">${list.closeTime}</option>
									</select>
								<input type="hidden" name="rsvtTm" id="rsvtTm">
								</td>
							</tr>
							<tr>
								<th class="td-title-1">예약인원</th>
								<td class="td-title-1" colspan="2" >
									<div class="cart-plus-minus f-left">
										<div class="dec qtybutton" onclick="nopeClick(this)">-</div>
											<input type="text" value="${list.rsvtNope}" id="rsvtNope" name="rsvtNope" class="cart-plus-minus-box">
										<div class="inc qtybutton" onclick="nopeClick(this)">+</div>
									</div>								
								</td>
							</tr>
							<tr>
								<th class="td-title-1">예약자정보</th>
								<td class="td-title-1">${list.nickNm}</td>
								<td class="td-title-1">${list.mblTelno} </td>
							</tr>
							<tr>
								<th class="td-title-1">요청사항</th>
								<td class="td-title-1" colspan="2">
									<textarea class="custom-textarea" id="rsvtWant" name="rsvtWant" onchange="modifyRsvtWant(this)">${list.rsvtWant}</textarea>
								
								</td>
							</tr>
							`
							)
				},error : function(err){
					console.log("error")
				}
			});
			
		}
		
		//메뉴 수량 변경 & 계산
		function qtyBtnClick(obj){
			var $button = $(obj);
			
			//요소로 넣어준 menuPrice와 menuNo를 변수에 넣어줌
			var menuPrice = $button.parent().find("input").attr("menuPrice");
			var menuNo = $button.parent().find("input").attr("menuNo");
			
			var tdSum = $("#tdSum_"+menuNo); 	// 메뉴별 합계 인풋(박스)
			var totalSum = $("#totalSum").val();
			
			
	        var oldValue = $button.parent().find("input").val();
	        if ($button.text() == "+") {
		        
	            var newVal = parseFloat(oldValue) + 1;
	        }
	        else {
	            // 0이하는 안되게 설정
	            if (oldValue > 0) {
	                var newVal = parseFloat(oldValue) - 1;
	            } 
	            else {
	                newVal = 0;
	            }
	        }
        	$button.parent().find("input").val(newVal);
        	
        	//버튼누를때
        	if ($button.hasClass('inc')) {
	   			// "+" 버튼 클릭 시 실행될 코드
	   			var input = $(obj).prev('input[name="amount"]');
	   		  	var value = parseInt(input.val());
	   		  	console.log(value);
	
		   		// input 요소의 값을 증가시켜 저장
		   		input.attr('value', value);
		   		  
		   		//메뉴별 가격 계산
		   		var calcTdSum = value * menuPrice;
		   		tdSum.text(calcTdSum);
		   		  
		   		//총 가격 계산
		   		var calcTotalSum = parseInt(totalSum) + parseInt(menuPrice);
		   		$('.order-total-price').text(calcTotalSum);
		   		$('#totalSum').val(calcTotalSum);
       		  
       		} else if ($button.hasClass('dec')) {
	       		// "-" 버튼 클릭 시 실행될 코드
	       		var input = $(obj).next('input[name="amount"]');
	       		var value = parseInt(input.val());
	       		console.log(value);
	
	       		// input 요소의 값을 감소시켜 저장
	       		input.attr('value', value);
	       		  
	       		// -수량 가격계산 예외처리
	       		//console.log(tdSum.text());
	       		if(tdSum.text() <= 0){
	       			return;
	       		}
       		  
       		 	//메뉴별 가격 계산
	       		var calcTdSum = value * menuPrice;
	       		tdSum.text(calcTdSum);
	       		  
	       		//총 가격 계산
	       		var calcTotalSum = parseInt(totalSum) - parseInt(menuPrice);
	       		$('.order-total-price').text(calcTotalSum);
	       		$('#totalSum').val(calcTotalSum);	        			  
       		}
	        	
		}
		
		//예약인원 수정
		function nopeClick(obj){
			var $button = $(obj);
			var oldValue = $button.parent().find("input").val();
			if ($button.text() == "+") {
	            var newVal = parseFloat(oldValue) + 1;
	        }
	        else {
	            // Don't allow decrementing below zero
	            if (oldValue > 0) {
	                var newVal = parseFloat(oldValue) - 1;
	            } 
	            else {
	                newVal = 0;
	            }
	        }
			
	        $button.parent().find("input").val(newVal);
	        	
	        if ($button.hasClass('inc')) {
       			// "+" 버튼 클릭 시 실행될 코드
	       		var input = $(obj).prev('input[name="rsvtNope"]');
	       		var value = parseInt(input.val());
	       		console.log(value);
	
	       		// input 요소의 값을 증가시켜 저장
	       		input.attr('value', value);
        		  
        		  
       		} else if ($button.hasClass('dec')) {
       		  	// "-" 버튼 클릭 시 실행될 코드
	       		var input = $(obj).next('input[name="rsvtNope"]');
	       		var value = parseInt(input.val());
	       		console.log(value);
	
	       		// input 요소의 값을 감소시켜 저장
	       		input.attr('value', value);
       		  
			}	
		}
		
		//날짜 수정시 value값 저장
		function modifyDate(obj){
			//선택한 날짜 변수에 저장
			selectedDate = event.target.value;
			console.log(selectedDate)
			//value에 넣기
			$('#rsvtDate').attr("value",selectedDate);
			
		}
		
		//요청사항 수정시 value값 저장
		function modifyRsvtWant(obj){
			modifyWant = event.target.value;
			console.log(modifyWant)
			$('#rsvtWant').attr("value",modifyWant);
		}
		
		
		
		//

		
		//예약 수정정보 폼데이터 DB에 저장하기
		function modifyRsvtRequest(rsvtNo){
			var selectedTime = $("#selectTime option:selected").val();
			$('#rsvtTm').val(selectedTime)
			
			if($('#totalSum').val() == 0){
				alert("메뉴 수량을 확인해주세요")
				return false;
			}else if($('#rsvtNope').val() == 0 || $('#rsvtNope').val() > 11){
				alert("인원을 확인해주세요")
				return false;
			}else{
				modifyAjax(rsvtNo);
			}
		}
		
		function modifyAjax(rsvtNo){
			console.log(rsvtNo)
			var formData = new FormData($("#modifyRsvtInfo")[0]);	
			
			$.ajax({
				url: "/my/requestModifyAjax",
				type: "POST",
				data: formData,
				processData : false,
                contentType : false,
                success: function(result){
                	console.log(result);
                	alert("예약변경이 접수되었습니다.");
                	window.location.href="/my/myReservation";
                	
                }, error: function(err){
                	alert("인서트-실패--")
                }
				
			});
			//form데이터 submit
			$("#modifyRsvtInfo").submit();
		}
		
		function goToMain(){
			window.location.href="/";
		}
		
		
		</script>
	</div>
	<!-- 타임리프 div끝 -->
</body>
</html>