<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="myContent">

		<div class="col-lg-12">
			<form action="#">

				<div class="row">
					<div class="col-lg-12">
						<div class="section-title text-start mb-20">
							<h2 class="uppercase">나의 예약 리스트</h2>
						</div>
					</div>
				</div>


				<!-- 내용 윗쪽 -->
				<div class="row">

					<div class="col-lg-8">
						<table class="table">
							<tr>
								<th class="td-title-1">가게명</th>
								<th class="td-title-1" colspan="2">예약일</th>
								<th class="td-title-1">예약상태</th>
							</tr>

							<!-- 예약1건 -->
							<tr th:each="sim: ${simple}" th:id="${sim.RSVT_NO}"
								th:onclick="trClick([[${sim.RSVT_NO}]])" style="cursor: pointer;">
								<th:block th:if="${sim != null}">
									<td class="td-title-1" th:text="${sim.BIZ_NM}">(가게명)</td>
									<td class="td-title-1" th:text="${sim.RSVT_YMD}">(예약일)</td>
									<td class="td-title-1" th:each="code: ${code}"
										th:if="${code.commonDetailCode} == ${sim.RSVT_TM}"
										th:text="${code.commonNm}">(예약시간)</td>
									<td class="td-title-1" th:text="${sim.RSVT_STTS}">(예약상태)</td>
								</th:block>
								<th:block th:if="${sim == null}">
									<td class="td-title-1" colspan="4">예약 내역이 없습니다.</td>

								</th:block>
							</tr>


						</table>
					</div>

					<div class="col-lg-4">달력자리</div>
				</div>
				<hr>

				<!--내용 아랫쪽-->
				<div class="row">
					<div class="col-lg-6 offset-lg-1">

						<!--테이블1 : 주문메뉴-->
						<div class="myRsvtDetail">
							<div class="tab-pane active" id="order-complete">
								<div class="order-complete-content box-shadow"
									style="padding: 20px;">

									<table id="menuTbl">
										<thead>
											<tr>
												<th class="td-title-1">메뉴</th>
												<th class="td-title-1">수량</th>
												<th class="td-title-2">가격</th>
											</tr>
										</thead>
										<!-- 메뉴 1건 -->
										<tbody>
											<!-- <tr> -->
											<!-- <td class="td-title-1">(메뉴이름)</td> -->
											<!-- <td class="td-title-1">(수량)</td> -->
											<!-- <td class="td-title-1">(수량*각 가격)</td> -->
											<!-- </tr> -->
										</tbody>

									</table>

									<table id="totalTbl">
										<!-- <tr> -->
										<!-- <th class="order-total">합계</th> -->
										<!-- <td class="order-total"></td> -->
										<!-- <td class="order-total-price" id="totalSum">(합계)</td> -->
										<!-- </tr> -->
									</table>
									<hr>

									<!--테이블2 : 시간, 인원, 요청사항-->
									<table id="rsvtInfo">
				

									</table>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tab-pane active pt-30" id="order-complete">
							<a class="button extra-small mb-20" href="/test.do"><span>1/n정산하기
							</span></a> <a class="button extra-small mb-20" onclick="rsvtModify()"
								style="cursor: pointer;"><span>예약변경신청</span></a> <a
								class="button extra-small mb-20" href="#"><span>예약취소하기</span>
							</a> <a class="button extra-small mb-20" href="#" id="modalBtn"><span>알림설정</span>
							</a>

						</div>
					</div>
				</div>


			</form>

		</div>

		<!-- 모달창 시작 -->
		<div id="myBookModal" class="bookmodal">
			<div class="bookmodal-content">
				<span class="close">&times;</span>

				<div class="row">
					<div class="widget operating-systemmb-30">
						<h4 class="widget-title mb-20">알림설정</h4>
						<form action="action_page.php">
							<label><input type="checkbox" name="" value="">일주일
								전 알림</label><br> <label><input type="checkbox" name=""
								value="">하루 전 알림</label><br> <label><input
								type="checkbox" name="" value="">당일 알림</label><br> <br>
							<label><input type="checkbox" name="" value="">알림
								끄기</label><br> <br>
							<div class="d-flex justify-content-center">
								<a class="button extra-small button-black mb-20" href="#"><span>설정
								</span> </a>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
		<!-- 모달창 끝-->

		<script th:inline="javascript">
		
		var getRsvtNo = 0; 
		console.log(getRsvtNo)
		
		function rsvtModify(){
			window.location.href = "/my/mybook02/" + getRsvtNo	//예약번호 받아서 넘기기
		}
		
		//세션에 담긴 정보 변수에 담아주기
		/*<![CDATA[*/
			var userId = /*[[ ${session.userId} ]]*/
			let userNm = /*[[ ${session.userNm} ]]*/
			let nickNm = /*[[ ${session.nickNm} ]]*/
			let mblTelno = /*[[ ${session.mblTelno} ]]*/
			let email = /*[[ ${session.eml} ]]*/
		/*]]*/
		console.log("유저아이디="+userId, "전화번호="+mblTelno, "닉넴="+nickNm);
		
		//세션으로 받아온거 화면에 출력, value에 값넣기
		$("#tdNick").text(nickNm);
		$("#tdTel").text(mblTelno);
		$("#nickNm").val(nickNm);
		$("#mblTelno").val(mblTelno);
		
		$(function(){
			$('.myRsvtDetail').attr('style','display:none;');
		});
		
		function trClick(rsvtNo){
			console.log("tr클릭")
			//클릭시 상세정보 보이게
			$('.myRsvtDetail').attr('style','display:block;');
		
		//메뉴부분 ajax호출
		$.ajax({
			url:"/my/myRsvtAjax",
			type:"get",
			data: {rsvtNo},

			success: function(lists){
				//누를때마다 지워지고 append하기 위함 
				$('#menuTbl tbody').empty()	
				$('#totalTbl').empty()		

				// 총 결제금액을 저장할 변수
				let totalPrice = 0; 
				
				for(list of lists){
					$('#menuTbl tbody').append(
					`<tr>
						<td class="td-title-1">${list.MENU_NM}</td>
						<td class="td-title-1">${list.AMOUNT}</td>
						<td class="td-title-2">${list.AMOUNT * list.MENU_PRC}</td>
					</tr>`
					)
					 totalPrice += list.AMOUNT * list.MENU_PRC;
				
				}
					$('#totalTbl').append(
							`
							<tr>
								<th class="order-total">합계</th>
								<td class="order-total"></td>
								<td class="order-total-price">${totalPrice}</td>
							</tr>
							`		
						)
				getRsvtNo = list.RSVT_NO
				console.log(getRsvtNo)
				
			},error : function(err){
				console.log("error")
			}
		})
		
		//상세내역 예약자부분 ajax
		$.ajax({
			url:"/my/myRsvtInfoAjax",
			type:"get",
			data: {rsvtNo},

			success: function(list){
				console.log("밑에꺼: "+list.mblTelno + list.nickNm)
				$('#rsvtInfo').empty()
				$('#rsvtInfo').append(
				`<tr>
					<th class="td-title-1">예약일자</th>
					<td class="td-title-1">${list.rsvtYmd}</td>
					<td class="td-title-1">${list.rsvtTm}</td>
				</tr>
				<tr>
					<th class="td-title-1">예약인원</th>
					<td class="td-title-1" colspan="2" >${list.rsvtNope}</td>
				</tr>
				<tr>
					<th class="td-title-1">예약자정보</th>
					<td class="td-title-1">${list.nickNm}</td>
					<td class="td-title-1">${mblTelno}</td>
				</tr>
				<tr>
					<th class="td-title-1">요청사항</th>
					<td class="td-title-1" colspan="2">${list.rsvtWant}</td>
				</tr>
				`
				)
				
				
			},error : function(err){
				console.log("error")
			}
		})
			
		}
		

	</script>

	</div>
	<!-- 타임리프 div끝 -->

</body>
</html>