<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/myPages/myCouponNPoint.css">

</head>
<body>
	<div layout:fragment="myContent">
		<div class="leftContainer">
			<h3 style="font-weight: bold;">나의 쿠폰</h3>
			<div class="avCp">
				<button>사용 가능한 쿠폰</button>
			</div>
			<div class="unavCp">
				<button>사용 완료 쿠폰</button>
			</div>
			<!-- 쿠폰존 : 쿠폰 아작스로 리스트 뽑아낼 div -->
			<div class="cpZone">
				<!-- 쿠폰 시작 -->
				<div class="CouponContainer">
					<div class="coupon">
						<div class="main">
							<div class="couponContent">
								<h3 class="cnDetail">
									리뷰이벤트 쿠폰 <span>></span>
								</h3>
								<h5 class="who">단골전용</h5>
								<p class="ydt">2023년 3월 27일까지</p>
							</div>
							<div class="usedYn">
								<p>
									✔️<br>받은쿠폰
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 쿠폰 끝 -->
			</div>

		</div>
		<div class="rightContainer">
			<h3 style="font-weight: bold;">나의 포인트</h3>
		</div>
	</div>


</body>
</html>