<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="myContent">
		<br>
		<br>
		<div class="registered-customers" style="width: 40%; margin: 0 auto;">
			<h4 class="blog-section-title border-left mb-30">비밀번호 확인</h4>
			<form action="/my/myPwCh">
				<div class="login-account p-30 box-shadow">
					<label for="userPw">비밀번호</label> <input type="password" id="userPw"
						name="userPw">
					<div class="mb-20">
						<div style="text-align: center;">
							<button class="submit-btn-1 btn-hover-1" type="submit">회원정보수정</button>
							<button class="submit-btn-1 btn-hover-1" type="button"
								onclick="findPw()">비밀번호 찾기</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<script type="text/javascript">
		function findPw(){
			location="/goguma/findPw";
		}
		</script>
	</div>
</body>
</html>