<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/myPages/myPoint.css">

<style>
.notifyGroup {
	width: 60%;
	min-height: 70%;
	border: 1px solid gray;
}

.notifyView {
	width: 90%;
	min-height: 70px;
	border: 1px solid salmon;
	margin: 3px auto;
}
</style>


<script>



$(document).ready(function () {
	loadNotify();
	setInterval(() => checkNotify(), 20000);
});


function checkNotify(){
	  console.log("새로고침");
	  $.ajax({
	    url: "/my/checkNotifyCount",
	    type: 'GET',
	    success: function (data) {
	      console.log(data);

	      if ( data > 0 ) {
	    	  loadNotify();
	      } else {
	      }
	    },
	    error: function (error) {
	      console.log(error);
	    },
	  });
	}


function loadNotify() {

  $.ajax({
	    url: "/my/selectNotify",
    type: 'GET',
    success: function (data) {
      console.log(data);

      $(".notifyGroup").empty();
      $(data).each(function (index, obj) {
        $(".notifyGroup").append(
        		"<td class='notifyView' id='viewIndex_"+ index + "'><p>"+ obj['almCn'] + "</p></td>"
        )
      });
      updateNotify();


    },
    error: function (error) {
      console.log(error);
    },
  });
}

function updateNotify() {

  $.ajax({
	    url: "/my/updateNotify",
    type: 'GET',
    success: function (data) {
      console.log("업데이트 테스트 : " + data);
     
 	


    },
    error: function (error) {
      console.log(error);
    },
  });
}



</script>



</head>
<body>
	<div layout:fragment="myContent">
		<div class="container">

			<div class="tab-pane active" id="order-complete">
				<div class="tab-pane active" id="order-complete">
					<br>
					<div>
						<h4 class="blog-section-title border-left mb-30">나의 쪽지함</h4>
					</div>
					<div class="order-complete-content box-shadow">
						<div class="order-info p-30 mb-10">
							<ul class="order-info-list">
								<li><a class="totalP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">현재 포인트</a>
									<p>
										총 <span class="totalPTrgt"
											style="color: #fd7e14; font-weight: bold;">0</span>포인트
									</p></li>
								<li><a class="attendP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">출석하기</a>
									<p>
										<span class="attendPTrgt">0</span>포인트
									</p></li>
								<li><a class="dealP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">거래후기</a>
									<p>
										<span class="dealPTrgt">0</span>포인트
									</p></li>
								<li><a class="freeP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">무료나눔</a>
									<p>
										<span class="freePTrgt">0</span>포인트
									</p></li>

							</ul>
						</div>
						<div class="row">
							<div>
								<table style="text-align: center">
									<thead>
										<tr>
											<th>NO</th>
											<th>FROM</th>
											<th>ALM_CN</th>
											<th>YMD</th>
											<th>CHK</th>
										</tr>
									</thead>
									<tbody class="notifyGroup">
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>


	<!--      <td class="td-title-2">${pointInfo.usedYmd}</td> -->

</body>
</html>