<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">

<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/myPages/myPoint.css">

<style>
.notifyGroup {
	width: 60%;
	min-height: 70%;
}

.notifyView {
	width: 90%;
	min-height: 70px;
	margin: 3px auto;
}
</style>


<script>
		radio = $("<input>").attr({
			name: "userStts",
			class: "select",
			name: "check",
			type: "checkbox",
			id: "almNo"
		}); // 테이블에 변경항목 추가하기위한 태그 생성

		/* hidden = $("<input>").attr({
			name: "cked",
			name: "cked",
			type: "hidden",
			id: "cked",

		});
 */

		$(document).ready(function () {
			loadNotifyAjax();
			countNotify()
			setInterval(() => checkNotify(), 2000);
		

			$("#cbx_chkAll").click(function () {
				if ($("#cbx_chkAll").is(":checked")) $("input[name=almNo]").prop("checked", true);
				else $("input[name=almNo]").prop("checked", false);
			});

			$("input[name=almNo]").click(function () {
				var total = $("input[name=almNo]").length;
				var checked = $("input[name=almNo]:checked").length;

				if (total != checked) $("#cbx_chkAll").prop("checked", false);
				else $("#cbx_chkAll").prop("checked", true);
			});
		})

		
		
		function countNotify() {
			$.ajax({
				url: "/my/countNotify",
				async: false,
				type: 'GET',
				success: function (data) {
					console.log(data);
					
					let cnt=0;
					$(data.count).each(function (index, data) {
						
						cnt+=data.cnt;
						if (data.pstSe == 'AD') {
							$("#AD").text(data.cnt).css('color','#edb347')
						}
						if (data.pstSe == 'AU') {
							$("#AU").text(data.cnt).css('color','#edb347')
						}
						if (data.pstSe == 'SN') {
							$("#SN").text(data.cnt).css('color','#edb347')
						}
						if (data.pstSe == 'BI') {
							$("#BI").text(data.cnt).css('color','#edb347')
						}
						if (data.pstSe == 'DE') {
							$("#DE").text(data.cnt).css('color','#edb347')
						}
						
					})
					$("#all").text(cnt).css('color','#edb347')
					

				},
				error: function (error) {
					console.log(error);
				},
			});
		}
		
		function deleteAlm() {
			console.log('gdgd')
			var almNo = new Array();
			var deleteArr = new Array();


			$("input[name=almNo]:checked").each(function () {
				almNo.push({'almNo': $(this).val() }); // push: 배열에 값 삽입
			});

			console.log(JSON.stringify(almNo))

			/* idxArr.push($("input[name=chk]:checked").text());*/


			$.ajax({
				url: "/my/deleteAlm",
				type: "POST",
				data: JSON.stringify(almNo),
				contentType: "application/json",
				success: function (result) {
					if (result == 0) {
						alert("알림 삭제에 실패 했습니다.")
					} else {
						alert(result + "개의 알림을 삭제 했습니다.")
					}

					loadNotify();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log(textStatus, errorThrown);
				}
			});
		}



		function checkNotify() { // 1.알림이 왔는지 확인하는 함수
			console.log("새로고침");
			$.ajax({
				url: "/my/checkNotifyCount",
				async: false,
				type: 'GET',
				success: function (data) {
					console.log(data);

					if (data > 0) { 
						loadNotify();
					} else {
					}
				},
				error: function (error) {
					console.log(error);
				},
			});
		}




		function loadNotify(pstSe) { // 2 - 1  알림의 카테고리를 선택하고 입력하기위한 함수 
			$("#pstSe").val(pstSe);
			$("#page").val(1);
			loadNotifyAjax()
		}
		
		function gopage(page) { // 2 - 2  페이지 정보를 저장하고 해당 페이지를 출력하기 위한 함수
			$("#page").val(page);
			loadNotifyAjax()
		}


		function loadNotifyAjax() { // 2. 모든 알림을 출력하는 함수


			$.ajax({
				url: "/my/selectNotify",
				type: 'GET',
				async: false,
				data: $("#frm").serialize(),
				success: function (result) {
					console.log(result)
					console.log(result.page)

					$(".notifyGroup").empty();
					$(".pagination").empty();
					
					let pstSed = ''; // 코드에 맞는 헤더를 넣기 위한 함수

					$(result.data).each(function (index, data) {

						if (data.pstSe == 'AD') {
							pstSed = ' [ 관리자 알림 ] '
						}
						if (data.pstSe == 'AU') {
							pstSed = ' [ 경매 알림 ] '
						}

						if (data.pstSe == 'SN') {
							pstSed = ' [ 동네 생활 ] '
						}
						if (data.pstSe == 'BI') {
							pstSed = ' [ 동네 가게 ] '
						}
						if (data.pstSe == 'DE') {
							pstSed = ' [ 중고 거래 ] '
						}
						
						$(".notifyGroup").append($("<tr class=" + 'ml-30' + ">").attr({
																						   "id"   : "check",
																						   "value":data.cked,	
																					  })
										 .append(
												$("<td>").html(radio.clone().attr({
													"value": data.almNo,
													"class": "check_" + data.almNo,
													"name": "almNo"
												})
												)
				
											)
						
											
							.append($("<td>").text(index + 1))
							.append($("<td>").text(pstSed))
							.append($("<td>").text(data.almCn))
							.append($("<td>").text(data.almYmd))
							
							)
						//==================================================================================
					});
					 $('.notifyGroup').find("tr[value=0]").css("opacity","50%")


					$(result.page).each(function (index, page) {
						for (i = 0; i < parseInt(page.endPage); i++) {
							$(".pagination").append(
								' <li class="page-item page_' +
								(i + 1) +
								'"><a class="page-link" href="#" onClick="gopage(' +
								(i + 1) +
								')"> ' +
								(i + 1) +
								"</a></li>"
							);
						}
					})
						updateNotify(); // 알림 상태를 읽음 상태로 변경 하는 함수실행
							},
							error: function (error) {
								console.log(error);
							},
						});
					}

		function updateNotify() { //알림의 상태를 (1)안읽음 > (2)읽음 처리로 변경하는 함수 

			$.ajax({
				url: "/my/updateNotify",
				type: 'GET',
				success: function (data) {
					console.log("업데이트 테스트 : " + data);
		},
				error: function (error) {
					console.log(error);
				},
			});
		}
	</script>
</head>

<body>
	<div layout:fragment="myContent">
		<form id="frm">
			<input type="hidden" name="pstSe" id="pstSe"
				th:value="${param.pstSe}"> <input type="hidden" name="page"
				id="page" value="1">
		</form>
		<div class="container">
			<div class="message-box box-shadow white-bg" style="width: 100%">
				<div class="tab-pane active" id="order-complete">
					<div>
						<h4 class="blog-section-title border-left mb-30">나의 쪽지함</h4>
					</div>
					<div class="order-complete-content box-shadow"
						style="width: 100%; height: 50%;">
						<form>
							<div class="order-info p-5 mb-10">
								<ul class="order-info-list" style="font-size: 10px;">
									<li><a class="totalP" href='javascript:void(0);'
										onclick="loadNotify();" value="" name="pstSe">전체</a>
										<p>
											총 <span class="totalPTrgt" style="font-weight: bold;"
												id="all" name="pstSe">0</span> 개
										</p></li>
									<li><a class="totalP" href='javascript:void(0);'
										onclick="loadNotify('AD');" value="AD">관리자</a>
										<p>
											총 <span class="totalPTrgt" style="font-weight: bold;" id="AD"
												name="pstSe">0</span> 개
										</p></li>
									<li><a class="attendP" href='javascript:void(0);'
										onclick="loadNotify('DE');" value="DE">중고거래</a>
										<p>
											<span class="attendPTrgt" id="DE" name="pstSe">0</span> 개
										</p></li>
									<li><a class="dealP" href='javascript:void(0);'
										onclick="loadNotify('AU');" value="AU">경매</a>
										<p>
											<span class="dealPTrgt" id="AU" name="pstSe">0</span> 개
										</p></li>
									<li><a class="freeP" href='javascript:void(0);'
										onclick="loadNotify('SN');" value="">동네생활</a>
										<p>
											<span class="freePTrgt" id="SN" name="pstSe">0</span> 개
										</p></li>
									<li><a class="freeP" href='javascript:void(0);'
										onclick="loadNotify('BI');" value="">동네가게</a>
										<p>
											<span class="freePTrgt" id="BI" name="pstSe">0</span> 개
										</p></li>
								</ul>
							</div>
							<div class="row">
								<div>
									<table class="table" style="text-align: center; width: 100%; font-size: 12px;">
										<thead style="border: 1px">
											<tr>
												<th><input type="checkbox" name="select"
													class="cbx_chkAll" id="cbx_chkAll"></th>
												<th>번호</th>
												<th>보낸사람</th>
												<th>알림 내용</th>
												<th>수신일</th>
											</tr>
										</thead>
										<tbody class="notifyGroup">


										</tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
					<button type="button" class="btn btn-secondary f-right mt-20"
						onclick="deleteAlm()">delete</button>
					<div class="pagination mt-30" style="margin-left: 40%"></div>
				</div>


			</div>
		</div>
	</div>


	<!--      <td class="td-title-2">${pointInfo.usedYmd}</td> -->

</body>

</html>