<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/myPages/myPoint.css">
</head>
<body>
	<div layout:fragment="myContent">
		<div class="container">
			<div class="message-box box-shadow white-bg"
				style="height: 750px; width: 100%">
				<div class="tab-pane active" id="order-complete">
					<div>
						<h4 class="blog-section-title border-left mb-30">나의 포인트</h4>
					</div>
					<div class="order-complete-content box-shadow">
						<div class="order-info p-30 mb-10">
							<ul class="order-info-list">
								<li><a class="totalP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">현재 포인트</a>
									<p>
										총 <span class="totalPTrgt"
											style="color: #C04A82; font-weight: bold;">0</span>포인트
									</p></li>
								<li><a class="attendP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">출석하기</a>
									<p>
										<span class="attendPTrgt">0</span>포인트
									</p></li>
								<li><a class="dealP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">거래후기</a>
									<p>
										<span class="dealPTrgt">0</span>포인트
									</p></li>
								<li><a class="freeP" href='javascript:void(0);'
									onclick="criteriaPoint(event);">무료나눔</a>
									<p>
										<span class="freePTrgt">0</span>포인트
									</p></li>
								<li><a class="usedP">사용완료</a>
									<p>
										<span class="usedPTrgt">0</span>포인트
									</p></li>
							</ul>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="payment-details p-30">
									<h6 class="widget-title border-left mb-20"
										style="display: inline-block;">
										<span style="color: #C04A82" id="ttlTrgt">전체</span> 적립 내역
									</h6>

									<button class="submit-btn-1 btn-hover-1"
										style="float: right; border-radius: 20px; height: 30px"
										id="usePointBtn">포인트 사용하기</button>
									<table class="saveTable">
									</table>
								</div>
							</div>
							<div class="col-md-6">
								<div class="payment-details p-30">
									<h6 class="widget-title border-left mb-20"
										style="display: inline-block;">포인트 사용 내역</h6>
									<table class="usedTable">
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
	// ==============================================================
	// ❤️ 전역변수 선언
		var pointInfo; // 전체 포인트 정보
		
   		var pointTotal = 0; // 전체 총합
   		var attendPTotal = 0; // 출석 총합
   		var dealPTotal = 0; // 거래후기 총합
   		var freePTotal = 0; // 무료나눔 총합
   		var usedTotal = 0; // 사용완료 총합
   		
   		var saveCnt = 0; // 적립 횟수
   		var usedCnt = 0; //사용 횟수
   		
   	// ==============================================================
   	// ❤️ DOM 함수
       $(function(){
    	  myPointAjax();
    	  
    	  $("#usePointBtn").on("click",function(){
    		  location = "/my/myDeal";
    	  })
       })
   		
    // ==============================================================
    // ❤️ 특정 포인트만 출력 
    	function criteriaPoint(event){
   			let criteria = $(event.target).text();
   			$("#ttlTrgt").text(criteria); // 📌 교수님 피드백 : 사용자가 알기 쉽게 타이틀에 표시하기
   			saveCnt = 0;
   			
			$(".saveTable").children().remove();
			
   			pointInfo.forEach((point, idx)=>{
   				if(point.pointMthd==criteria){
					makeSaveTable(point);
					saveCnt++;
   				}else if(criteria=='현재 포인트' && point.pointMthd != '끌어올리기'){
   					$("#ttlTrgt").text('전체');
   					makeSaveTable(point);
   					saveCnt++;
   				}
   			})
   			
			if(saveCnt<1){
					$(".saveTable").append(
							`<tr>
					           <td class="td-title-1">${criteria} 적립 내역이 없습니다.</td>
					        </tr>`)
			}
   		}
   		
     // ==============================================================
     // ❤️ 포인트 전체 가져오기 Ajax
       function myPointAjax(){
    	   $.ajax({
    		   url : '/my/myPointAjax',
    		   type : 'get',
    		   success : function(result){
    			   pointInfo = result;
    			   sortPoint(pointInfo);
    			   
    		   },
    		   error : function(err){
    			   console.log(err);
    		   }
    	   })
       }

	// ==============================================================
	// ❤️ 포인트 분류 작업
       function sortPoint(points){
    	   points.forEach((point)=>{
    		   
    		   let pointMthd = point.pointMthd;
    		   let saveYmd = point.saveYmd;
    		   let usedYmd = point.usedYmd;
    		   
    		   pointTotal += point.point;

    		   // # 포인트 적립 테이블
    		   if(saveYmd!=null){
    			  saveCnt++;
    			   
    				// ## 포인트 적립 방법에 따라 분류
        		   switch(pointMthd){
        		   case '출석하기':
        			   attendPTotal += point.point;
        			   break;
        		   case '거래후기':
        			   dealPTotal += point.point;
        			   break;
        		   case '무료나눔':
        			   freePTotal += point.point;
        			   break;
        		   }
    				// ## 화면에 그리기
    			   makeSaveTable(point);
    			
  			   // # 포인트 사용 테이블
    		   }else if(usedYmd != null){
    			   usedCnt++;
    			   usedTotal -= point.point;
    			   makeUsedTable(point);
    		   }
    	   })
    	   
    	   // # 합계 출력
    	   makeTotal();
    	   
    	   // # 적립/사용 포인트 없는 경우
    	   isNullCheck();

       }
	
   	// ==============================================================
   	// ❤️ 포인트 적립/사용 내역이 없는 경우
		function isNullCheck(){
			if(saveCnt < 1){
				$(".saveTable").append(
						`<tr>
				           <td class="td-title-1">포인트 적립 내역이 없습니다.</td>
				        </tr>`)
			}
			
			if(usedCnt < 1 ){
				$(".usedTable").append(
						`<tr>
				           <td class="td-title-1">포인트 사용 내역이 없습니다.</td>
				        </tr>`)
			}
			
			
		}
	
	// ==============================================================
	// ❤️ total 부분 그리기
	   function makeTotal(){
			$(".totalPTrgt").text(pointTotal);
			$(".attendPTrgt").text(attendPTotal);
			$(".dealPTrgt").text(dealPTotal);
			$(".freePTrgt").text(freePTotal);
			$(".usedPTrgt").text(usedTotal);
	   }
	
	// ==============================================================
     // ❤️ 포인트 적립 내역 그리기
       function makeSaveTable(pointInfo){
    	  $(".saveTable").append(
    		`
    		 <tr>
                <td class="td-title-1">[${pointInfo.pointMthd}] ${pointInfo.point}포인트 적립</td>
                <td class="td-title-2">${pointInfo.saveYmd}</td>
             </tr>
    		`	  
    	  )
    	  
       }

	// ==============================================================
	// ❤️ 포인트 사용 내역 그리기
       function makeUsedTable(pointInfo){
		let usedPoint = (pointInfo.point).toString();
		usedPoint = usedPoint.substring(1);
    	  $(".usedTable").append(
    	   `
    	    <tr>
    	       <td class="td-title-1">[${pointInfo.pointMthd}] ${usedPoint}포인트 사용 완료</td>
    	       <td class="td-title-2">${pointInfo.usedYmd}</td>
    	    </tr>
    	    `	  
    	  )
       }
	

       </script>

	</div>


</body>
</html>