<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">
<link rel="stylesheet" href="/css/myPages/myPoint.css">

<style>
.snsGroup {
	width: 100%;
	min-height: 60%;
}

.notifyView {
	width: 90%;
	min-height: 70px;
	margin: 3px auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

td {
	vertical-align: middle;
	padding: 5px;
	border: 1px solid #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
</style>

<head>
<meta charset="UTF-8">

</head>
<body>
	<div layout:fragment="myContent">

		<div class="container">

			<div class="tab-pane active" id="order-complete">
				<div class="tab-pane active" id="order-complete">
					<br>
					<div>
						<h4 class="blog-section-title border-left mb-30">나의 동네생활</h4>
					</div>

					<form>

						<div class="row">
							<div>
								<div class="payment-details box-shadow p-30 mb-50"
									style="height: 750px; width: 100%; padding: 5%;">
									<table class="table"
										style="text-align: center; font-size: 10px;">
										<thead style="border: 1px; table-layout: fixed;">
											<tr>
												<th scope="col">SNS_NO</th>
												<th scope="col">USER_ID</th>
												<th scope="col">SNS_CN</th>
												<th scope="col">SNS_YMD</th>
												<th scope="col">SNS_CNT</th>
												<th scope="col">DELETE</th>


											</tr>
										</thead>
										<tbody class="snsGroup" id="snsList"
											style="text-align: center; word-break: break-all;">

										</tbody>
									</table>
									<input type="hidden" id="userId" value="">
									<button class="btn btn-primary"  id ="goSns" onclick="goMySns()"
										type="button" style="margin-left: 41%;">나의 동내 생활</button>
								</div>
							</div>
						</div>
					</form>


				</div>


			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script th:inline="javascript">
			var link ='/goguma/snsMain';
			var userId
		
	
		btnn = $("<button>").attr({
		}); // 테이블에 변경항목 추가하기위한 태그 생성
			$(document).ready(function() {
				selectMySns();

			});

			function selectMySns() {

				$.ajax({
					url : "/my/selectMySns",
					type : "GET",
					success : function(data) {
						
						console.log(data)
						$("#snsList").empty();
						$(data).each(function(index, obj) {
							$("#snsList").append($("<tr>"))
						.append($("<td>").text(index+1))
						.append($("<td>").text(obj.userId))
						.append($("<td>").text(obj.snsCn).css("width","60%").css("text-overflow", "ellipsis;"))
						.append($("<td>").text(obj.snsYmd))
						.append($("<td>").text(obj.inqCnt))
						.append($("<td>").html(btnn.clone().text("삭제").attr("onclick","deleteSns("+ obj.snsNo +")")))
														
									
							
						})
						
						$("#userId").val(data[0].userId);
						
						}
					})
			}
			
			
			function goMySns(){ //sns page로 이동	
				
				
				 let userId = $("#userId").val()
				 
				 console.log(userId)
				
				 if (confirm("당신의 동네생활로 가겠습니까?")) {
					 
					 	var data = "idx=1&userId="+userId;
						location= '/goguma/snsMain?'+data;
					}
				    
				}
			

			function deleteSns(snsNo) {
			
				let confirmMessage = confirm("정말 삭제 하시겠습니까??");
				
				$.ajax({
					url : "/goguma/deleteSns",
					type : "GET",
					data:{snsNo},
					success : function(data) {
						console.log(data)
						
						
						selectMySns(snsNo)
						}
									})
			}

			/* function editSns() {
				console.log(event.target);

				let confirmMessage = confirm("정말 삭제 하시겠습니까??");

			} */
			
			
			
		</script>
	</div>

</body>
</html>