<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout">
<head>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon"
	href="img/icon/favicon.png">

<!-- All CSS Files -->
<!-- Bootstrap fremwork main css -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Nivo-slider css -->
<link rel="stylesheet" href="/lib/css/nivo-slider.css">
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="/css/core.css">
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="/css/shortcode/shortcodes.css">
<!-- Theme main style -->
<link rel="stylesheet" href="/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- User style -->
<link rel="stylesheet" href="/css/custom.css">
<!-- Style customizer (Remove these two lines please) -->
<link rel="stylesheet" href="/css/style-customizer.css">
<link href="#" data-style="styles" rel="stylesheet">

<!-- 웹소켓 관련 링크 -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</head>
<body>

	<div class="container">
		<div class="row mt-30">

			<div class="checkout-content box-shadow p-30">

				<div class="row">
					<!-- 왼쪽 -->
					<div class="col-lg-12">

						<!--원래 rooms.html내용-->
						<div class="col-12">
							<h3 class="brand-title text-gray">여기는[ [[${room.name}]] ]입니다 </h3>
							<hr>
						</div>
						<div>
							<div id="msgArea" class="col" style="height: 400px;"></div>
							<div class="col-12">
								<div class="input-group mb-3">
									<input type="text" id="msg" class="form-control">&nbsp;&nbsp;
									<div class="input-group-append">
										<button class="btn btn-secondary" type="button"
											id="button-send" style="height: 40px;">전송</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12"></div>

					</div>
				</div>

			</div>

		</div>
	</div>



	<script th:inline="javascript">
            $(document).ready(function(){

                var roomName = [[${room.name}]];
                var roomId = [[${room.roomId}]];
                var username = [[${#authentication.principal.username}]];
                var nickNm = [[${session.nickNm}]];

                console.log(roomName + ", " + roomId + ", " + username + ", " + nickNm );

                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);

                       var writer = content.writer;
                       var str = '';

                       if(writer === username){
                           str = "<div class='col-6' style='float:right;'>";
                           str += "<div class='alert alert-secondary'>";
                           str += "<b>" + writer + " : " + content.message + "</b>";
                           str += "</div></div>";
                           
                       }
                       else{
                           str = "<div class='col-6' style='float:left;'>";
                           str += "<div class='alert alert-warning'>";
                           str += "<b>" + writer + " : " + content.message + "</b>";
                           str += "</div></div>";
                           
                       }

                       $("#msgArea").append(str);
                   });

                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
                   
                   
                });
                
                //disconection test - 안됨
                stomp.disconnect({}, function(){
                	//test
                    stomp.send('/pub/chat/leave', {}, JSON.stringify({roomId: roomId, writer: username}))
                });
				
                //버튼 클릭시 메시지 전송
                $("#button-send").on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
                    msg.value = '';
                });
                
                //엔터키로 전송하기
                $('#msg').keypress(function(event){
                    if (event.which == 13) {
                        $('#button-send').click();
                        return false;
                    }
               });
            });
        </script>


	<!-- Placed JS at the end of the document so the pages load faster -->
	<!-- Modernizr JS -->
	<script src="/js/vendor/modernizr-3.11.2.min.js"></script>
	<!-- jquery latest version -->
	<!-- <script src="../js/vendor/jquery-3.6.0.min.js"></script> 제이쿼리 수정 파트
	<script src="../js/vendor/jquery-migrate-3.3.2.min.js"></script> -->
	<!-- Bootstrap framework js -->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<!-- jquery.nivo.slider js -->
	<script src="/lib/js/jquery.nivo.slider.js"></script>
	<!-- All js plugins included in this file. -->
	<script src="/js/plugins.js"></script>
	<!-- Main js file that contents all jQuery plugins activation. -->
	<script src="/js/main.js"></script>
	<!-- shop 모달 js -->
	<script src="../../js/shopmodal.js"></script>
	<!-- book 모달 js -->
	<script src="../../js/bookmodal.js"></script>
</body>
</html>