<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>중고거래상품등록</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'S-CoreDream-3Light';
}

#uploadFileList {
	width: 100%;
	height: 20%;
	padding: 10px;
	/* 		border: 1px solid lightgrey; */
	/* 		border-radius: 5px; */
	margin-bottom: 30px;
}

#uploadFileList:empty:before {
	content: attr(data-placeholder);
	color: #999;
	font-size: .9em;
}

.message-box input[type=text], textarea {
	width: 70%;
}

.message-box label {
	width: 25%;
}

#dFrm span {
	color: red;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
</head>

<body>
	<div layout:fragment="content">
		<!-- Body main wrapper start -->
		<div class="wrapper">
			<!-- Start page content -->
			<section id="page-content" class="page-wrapper section">

				<!-- MESSAGE BOX SECTION START -->
				<div class="message-box-section mb-80">
					<div class="container">
						<div class="row">
							<div class="col-lg-12" style="width: 70%">
								<div class="message-box box-shadow white-bg">
									<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 주의1 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
									<form id="dFrm" method="post" enctype="multipart/form-data"
										onsubmit="return false">
										<!-- ■■↑ form id 새로 지정해주세요 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
										<div class="row">
											<div class="col-lg-12">
												<h4 class="blog-section-title border-left mb-30">중고거래상품등록</h4>
											</div>
										</div>
										<!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 주의2 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
										<div class="col-lg-10" id="inputFile">
											<label for="files">상품사진<span> *</span></label> <input
												type="file" id="files" placeholder="첨부파일"
												multiple="multiple"> <br> <span id="fileErrMsg"></span>
											<div id="fileList">
												<div id="uploadFileList" data-placeholder='🐶첨부파일이 없습니다🌳'
													class="message-box box-shadow white-bg"></div>
											</div>
										</div>
										<!-- ■■■↑ 건드리면 죽음뿐.■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
										<div class="col-lg-10 mb-10">
											<label for="cate">카테고리<span> *</span></label> <select
												name="cate" id="cate">
												<option value="" disabled selected>선택</option>
												<option th:each="ct : ${category}" th:text="${ct.commonNm}"
													th:value="${ct.commonDetailCode}"></option>
											</select> <span id="ctgryErrMsg"></span> <input type="hidden"
												name="ctgry" id="ctgry" placeholder="카테고리">
										</div>
										<div class="col-lg-10 ">
											<label for="dlTtl">글제목<span> *</span></label> <input
												type="text" name="dlTtl" id="dlTtl"
												placeholder="글 제목을 입력하세요.">
										</div>
										<div class="col-lg-10">
											<label for="dlCn">상품설명<span> *</span></label>
											<textarea class="custom-textarea" name="dlCn" id="dlCn"
												placeholder="게시글 내용을 작성해주세요. 단, 판매금지 물품은 게시가 제한될 수 있어요 :)"></textarea>
										</div>

										<div class="col-lg-10">
											<label for="dlPrc">상품가격<span> *</span></label> <input
												type="text" name="dlPrc" id="dlPrc" placeholder="상품가격"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
										</div>
										<div class="col-lg-10">
											<label for="area">거래지역</label> <input type="text" name="area"
												id="area" placeholder="거래지역" />
										</div>
										<div class="col-lg-10">
											<label for="negoYn">가격 제안받기</label> <input type="checkbox"
												name="negoYn" id="negoYn" style="margin: 0px">
										</div>
										<input type="hidden" name="stts" id="stts" value="판매중">
										<input type="hidden" name="ntslId" id="ntslId"
											th:value="${session.userId}"> <input
											class="submit-btn-1 mt-30 btn-hover-1" type="submit"
											id="btnSave" role="button" value="등록하기">
									</form>
								</div>
								<!-- </form> -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<script th:inline="javascript">
		//==============================================================================
		//✅ DOM 그리면서 실행되는 함수 (== document.onload())
			$(function() {
				$("#files").on("change", function(e) {
					$("#fileErrMsg").text("")
					inputFile(e);
				});
				
				$("#cate").on("change", function(){
					$("#ctgryErrMsg").text("")
				})
				
				$("#btnSave").on("click", function() {
					submitForm();
				});
				
				console.log(sessionStorage.getItem('dealArea')+"거래지역")
				$("#area").val()
			});
		
		//==============================================================================
		//📌	 공통으로 쓰일 변수 선언(전역변수 var)
			var fileCount = 0; //현재 첨부파일 개수
			var totalCount = 10; // 첨부 가능한 파일 개수
			var fileNum = 0; //첨부파일 인덱스
			var inputFileList = new Array(); // insert 파일 배열
			var deleteFileList = new Array(); // delete 파일 배열
			var isSubmitOk = true;

			var img_style = 'width:100px;height:100px;z-index:none'; // 미리보기 이미지 속성

		//==============================================================================
		//✅ input 실행하는 함수
			function inputFile(e) {
				var files = e.target.files;
				var filesArr = Array.prototype.slice.call(files);

				if (fileCount + filesArr.length > totalCount) {
					alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
					return;
				} else {
					fileCount = fileCount + filesArr.length;
				}

				filesArr.forEach(function(f) {
					var reader = new FileReader();
					reader.onload = function(e) {
									inputFileList.push(f);
									$('#uploadFileList').append(
																`<img style=${img_style} src=${e.target.result}
																	   id=file${fileNum} onclick=fileDelete('file${fileNum}') class=m-1>`
																)
									fileNum++;
								};
					reader.readAsDataURL(f);
				});
				$("#files").val("");
			}

		//==============================================================================
		//✅ 화면/배열에서 delete 실행하는 함수			
			function fileDelete(fileNum) {
				var no = fileNum.replace(/[^0-9]/g, "");
				inputFileList[no].is_delete = true;
				$('#' + fileNum).remove();
				fileCount--;
				if(fileCount==0){
					$("#fileErrMsg").text("✅ 상품 사진을 등록해주세요.")
					isSubmitOk = false;
				}
			}
		
		//==============================================================================
		//✅ 화면/배열에서 delete 실행하는 함수
			function submitForm() {
				// 선택한 카테고리 > hidden input value로 넣기
				var ctgry = $("#cate option:selected").val(); 
				$("#ctgry").val(ctgry); 
				
				// 네고여부 > 체크시 value로 Y 주기  //디폴트 N(java에서 처리할 예정~!)
				console.log($('#negoYn'))
				if ($('#negoYn').is(":checked")) {
					console.log("checked!")
		            $('#negoYn').val("Y");
		        }
					
				$('#stts').val("판매중"); // 인서트할때 늘 판매중으로 들어가게..
				//submit 전 체크하기
				if(submitCheck()){
				// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 주의3 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				var formData = new FormData($("#dFrm")[0]);
				// ■■■↑ 주의1에서 지정한 폼 id 적어주세요 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				
				formData.append("deleteFiles", deleteFileList);

				for (var i = 0; i < inputFileList.length; i++) {
					if (!inputFileList[i].is_delete) {
						formData.append("files", inputFileList[i]);
					}
				}
				// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 주의4 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
				$.ajax({	url : "/my/dealformsubmit",
							type : "POST",
							data : formData,
							processData : false,
							contentType : false,
							success : function(result) {
								console.log(result)
									alert("[작성 완료] \""+ result.dlTtl+"\"게시글 작성이 완료되었습니다 :D");
									location.href = "/dealMain";
								
							},
							error : function(err){
								alert("[작성 실패] 게시글 작성을 실패하였습니다. :(");
							}
						});
				// ■■■↑ ①url ②alert 내용 ③success > location.href 경로 바꿔주세요 ■■■■■■■■■■■■■■
				}
			}
		//==============================================================================
		//✅ 화면/배열에서 delete 실행하는 함수
			function submitCheck(){
			//1. 파일 업로드 여부
			if(inputFileList.length==0){
				$("#fileErrMsg").text("✅ 상품 사진을 등록해주세요.")
				isSubmitOk = false;
			}
			
			//2. 카테고리 선택 여부
			else if($("#ctgry").val()==""){
				$("#ctgryErrMsg").text("✅ 카테고리를 선택해주세요.")
				isSubmitOk = false;
			}
			
			//3. 글제목 작성 여부
			else if($("#dlTtl").val()==""){
				$("#dlTtl").focus();
				isSubmitOk = false;
			}
			
			//4. 글내용 작성 여부
			else if($("#dlCn").val()==""){
				$("#dlCn").focus();
				isSubmitOk = false;
			}

			//5. 상품가격 작성 여부
			else if($("#dlPrc").val()==""){
			   $("#dlPrc").focus();
				isSubmitOk = false;
			}else{
				isSubmitOk = true;
			}		
			
			return isSubmitOk;			
		}
		//==============================================================================
		//✅ (수정/삭제에서 사용) 기존 db에서 삭제할 파일들을 배열에 담아서 보내는 함수
			function deleteFile(elem) {
// 				console.log(elem.value);
// 				$(elem).parent().remove();
// 				if (!deleteFileList.includes(elem.value)) {
// 					deleteFileList.push(elem.value);
// 					}
			}
			
	</script>
	</div>
	<!-- jquery latest version -->
	<script src="js/vendor/jquery-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
	<!-- Bootstrap framework js -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<!-- jquery.nivo.slider js -->
	<script src="lib/js/jquery.nivo.slider.js"></script>
	<!-- All js plugins included in this file. -->
	<script src="js/plugins.js"></script>
	<!-- ajax-mail js -->
	<script src="js/ajax-mail.js"></script>
	<!-- Main js file that contents all jQuery plugins activation. -->
	<script src="js/main.js"></script>


</body>

</html>