<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>중고거래상품 메인 페이지입니다</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
    <style>
	
		.col-lg-3 span{
		color: #C04A82;
		}
   		 .action-button span {
			color: #C04A82;
		}
		
        .rolling_box{
            width: 300px;
            height: 40px;
            text-align: center;
            border: 1px solid #848484;
        }

        .rolling_box ul {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }

        .rolling_box ul li {
            width: 100%;
            height: 100%;
            transition: .5s;
            position:absolute;
            transition: top .75s;
            top: 100%;
            z-index: 1;
            background-color: #ffffff;
        }

        .card_sliding{
            top: 0 !important;
            z-index: 100 !important;
        } 

        .card_sliding_after{
            top: -100% !important;
            z-index: 10 !important;
        }

        .rolling_box ul li p {
            font-size: 30px;
            line-height: 40px;
            font-weight: bold;
        }

        .before_slide {
            transform: translateY(100%);
        }

        .after_slide {
            transform: translateY(0);
        }

    </style>

</head>

<body>
	<div layout:fragment="content">
    	<script>
    		// 함수로받아서
			function gopage(page) {
				frmSearch.page.value = page;
				frmSearch.submit();
			}
			// 검색어 결과가 유지되도록 + 서브밋 함수 
			function SearchSubmit(orderby){
				frmSearch.orderby.value = orderby;
				frmSearch.submit();
			}
			// 초기화버튼
			function resetSearch(){
				frmSearch.page.value='1';
				frmSearch.orderby.value='';
				frmSearch.ctgry.value='';
				frmSearch.searchType.value='';
				frmSearch.searchTtl.value='';
				
			}
			
		</script>
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section plr-200 mb-80 section">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">중고마켓</h1>
                                <ul class="breadcrumb-list">
                                    <li><a href="/">홈으로가기</a></li>
                                    <li>중고마켓메인</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

									
									
        <div class="newsletter-section section-bg-tb pt-60 pb-80">
            <div class="container">
	            <div center="align">
		            <h2 class="newsletter-title" style="color:#C04A82; margin-left:30px;">🍠중고마켓 통합검색</h2>
	                    <p style="margin-left:30px;">1. 카테고리와 글유형을 선택하세요</p>
	                    <p style="margin-left:30px;">2. 선택하지 않을 시 전체글에서 조회됩니다</p>
	            </div>
                <div class="row">
                    <div class="col-lg-8 lg-2">
                       <!-- 카테고리&검색&페이징 삼위일체로 한큐에 : form 태그로 감싼다 -->
                        <div class="newsletter"> 
                        	<div class="newsletter-info text-center">
		                        <form name="frmSearch" align="center">
				                    
		                                <div class="subcribe clearfix">
		                                        <input type="hidden" name="page" value="1"> 
		                                        <input type="hidden" name="orderby" value="dl_ymd"> 
		                                        <div class="row">
		                                        <div class="col-2" style="padding: 15px 15px 0 15px;">
		                                            <select style="width:150px;" name="ctgry">
		                                            
		                                                <!-- 선택한값을 네임에 담아줘야된다..위에 주소창에 뜸 -->
		                                                <option value="">전체 카테고리
		                                                <option th:each="ct : ${category}" th:text="${ct.commonNm}"
		                                                    th:value="${ct.commonDetailCode}"
		                                                    th:selected="${ct.commonDetailCode}==${dsvo.ctgry}">
		                                            </select> 
		                                             <!-- 키워드별검색 + 키워드저장(실검에쓸) -->                                                        
			                                        <select style="width:150px; " id="searchType" name="searchType" title="검색 유형 선택">
			                                            <option value="">전체 글 유형</option>
			                                            <option value="dlTtl" th:selected="'dlTtl'==${dsvo.searchType}">글제목</option>
			                                            <option value="dlCn" th:selected="'dlCn'==${dsvo.searchType}">글내용</option>
			                                            <option value="ntslId" th:selected="'ntslId'==${dsvo.searchType}">판매자</option>
			                                        </select> 
			                                        </div>
			                                <div class="col-8">
			                                <div class="row">
			                                <div class="col-6">
			                                	<input th:value="${dsvo.searchTtl}" type="text" name="searchTtl" id="searchTtl"
			                                           placeholder="검색어를 입력하세요" title="키워드 입력"
			                                           style="margin-top:20px;"/>
			                               </div>
			                                <div class="col-4">
			                                    <button class="submit-btn-2 btn-hover-2" type="submit" style="width:95px; margin-top:20px;" >검색</button>
				                                <button class="submit-btn-2 btn-hover-2" style="width:95px; margin-top:20px;" onclick="resetSearch()" type="button">리셋</button>
			                                </div>
			                                </div>
			                                </div>
			                                </div>
		                             </div>
		                        </form>
	                        </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3" style="margin-top:0px;">
                <!-- 인기검색어 롤링박스 -->
		              <h3><span>🍠인기검색어</span></h3>
		                <div class="rolling_box">
		                    <ul id ="rolling_box">
		                    <li class="card_sliding" id ="first"><p></p></li>
		                    <li class="" id ="second"><p></p></li>
		                    <li class="" id ="third"><p></p></li>
		                    </ul>
		                </div>
		                
		            </div>
                    
                </div>
            </div>
        </div>
         
            
        </div>

		
        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">
            
            <div class="mb-80">

            <!-- PRODUCT TAB SECTION START -->
            <div>
                <div class="container">
                    <div class="row">
                       
                        <div class="col-lg-6">
                            <div class=" text-end f-right">
                               
                            </div>
                        </div>
                       <!-- Nav tabs -->
                        <div class="col-lg-10">
                                <ul>
                                    <li style="display: inline-block;"><a th:class="'dl_ymd'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('dl_ymd')">최신순</a></li>
                                    &nbsp; &nbsp;
                                    <li style="display: inline-block;"><a th:class="'inq_cnt'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('inq_cnt')">인기순</a></li>
                                     &nbsp; &nbsp;
                                    <li style="display: inline-block;"><a th:class="'dl_prc'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('dl_prc')">가격순 </a></li>
                                   
                                </ul>  
	                       </div>
	                        <div class="col-lg-2"><a class="button small mb-20" onclick="location.href='/my/dealform'"><span>판매글등록</span></a></div>
                        <hr>
                        <div class="col-lg-12">
                            <div>
                                <!-- popular-product start -->
                                <div id="popular-product">
                                    <div class="row">
                                        <!-- product-item start -->
                                       <div class="container">
							                <div th:if="${#lists.isEmpty(lists)}" style=" width:100%; height:200px;" align="center">
	                                       	</div>  
	                                        	<div align="center" th:if="${#lists.isEmpty(lists)}" th:text="'검색어와 일치하는 판매글이 없습니다'"></div>
                                        	 <div th:if="${#lists.isEmpty(lists)}" style=" width:100%; height:200px;" align="center">
	                                       	</div>  
                                        </div>
                                        <!-- 판매완료가 아닌 상태인 물품만 보여줍니다.  -->
                                        <!--  th:if="${deal.stts != '판매완료'}" 이거쓰면 빵꾸나서 컨트롤러로제어해야.. -->
                                        <div th:each="deal : ${lists}" class="col-lg-3 col-md-4">
                                            <div class="product-item product-item-2"  >
                                                <div class="product-img">
                                                    <a th:href="@{/goguma/dealdetail/{dlNo}(dlNo=${deal.dlNo})}">
                                                        <img th:src="${deal.atchNm}"style="width:270px; height:270px;" 
                                                        onerror="this.onerror=null; this.src='/img/logo/001.png'"/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    
                                                    <h4 th:text="${deal.dlTtl}">Product Name</h4>
                                                    <!-- 카테고리 버튼이쁘길래 모양 저걸로함  -->
													<a class="button small"
														th:each="c : ${category}"
														th:if="${deal.ctgry == c.commonDetailCode && deal.ctgry != 'FR'}"
														th:text="${c.commonNm}" ></a>
                                                    <h4 style="color:#C04A82;" th:if="${deal.ctgry != 'FR'}"
                                                    	th:text="${#numbers.formatInteger(deal.dlPrc, 3, 'COMMA') + '원'}" class="pro-price"
                                                    	>$ 869.00</h4>
                                                    <h4 style="color:#FCD052; margin-top:22px;" th:if="${deal.dlPrc == 0}">무료나눔</h4>
                                                </div>
                                                
                                                <!-- 마우스 오버시 : 거래지역(판매글의) & 내가 판매중인 글 표시 -->
                                                <ul class="action-button">
                                                    <li>
                                                        <p th:text="${deal.area}" th:href="@{/goguma/dealdetail/{dlNo}(dlNo=${deal.dlNo})}"></p>
                                                    </li>
                                                    <li>
													    <span th:if="${session.userId == deal.ntslId}" th:inline="text" th:text="'내가 판매중인 게시글입니다'"></span>
													</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- product-item end -->
                                    </div>
                                </div>
                           
							         <!-- 스타일 적용한 페이징 번호 띄웢루 곳-->
				                     <ul class="shop-pagination box-shadow text-center ptblr-10-30">
				                        <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
				                        <li
				                           th:each="num: *{#numbers.sequence(paging.startPage, paging.endPage)}"
				                          th:class="${paging.page}==${num} ? 'active'"><a
				                           th:href="|javascript:gopage(${num})|">[[${num}]]</a></li>
				
				                        <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
				                     </ul>
			                                <!-- new-arrival end -->
                         
                                <!-- special-offer end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT TAB SECTION END -->

            </div>            
        </section>
        <!-- End page content -->

      
    
    <!-- Body main wrapper end -->
	<script th:inline="javascript">
	
	/* 인기검색어 롤링기능 관련 자스  */
	
	/*<![CDATA[*/
	let Data = /*[[ ${word} ]]*/
	console.log(Data);
	
	let rollingData = new Array();
	for(let i in Data){
		  const index = parseInt(i) + 1;
		  console.log(index);
		  console.log(Data[i].searchTtl);
		  rollingData.push(index + " " + Data[i].searchTtl);
		  console.log(rollingData);
		}


    let timer = 2000 // 롤링되는 주기 입니다 (1000 => 1초)

    let first = document.getElementById('first'),
        second = document.getElementById('second'),
        third = document.getElementById('third')
    let move = 2
    let dataCnt = 1
    let listCnt = 1

    //위 선언은 따로 완전히 수정하지 않는 한 조정할 필요는 없습니다.
    first.children[0].innerHTML = rollingData[0]
    
    setInterval(() => {
        if(move == 2){
            first.classList.remove('card_sliding')
            first.classList.add('card_sliding_after')

            second.classList.remove('card_sliding_after')
            second.classList.add('card_sliding')

            third.classList.remove('card_sliding_after')
            third.classList.remove('card_sliding')

            move = 0
        } else if (move == 1){
            first.classList.remove('card_sliding_after')
            first.classList.add('card_sliding')

            second.classList.remove('card_sliding_after')
            second.classList.remove('card_sliding')

            third.classList.remove('card_sliding')
            third.classList.add('card_sliding_after')

            move = 2
        } else if (move == 0) {
            first.classList.remove('card_sliding_after')
            first.classList.remove('card_sliding')

            second.classList.remove('card_sliding')
            second.classList.add('card_sliding_after')

            third.classList.remove('card_sliding_after')
            third.classList.add('card_sliding')

            move = 1
        }
        
        if(dataCnt < (rollingData.length - 1)) {
            document.getElementById('rolling_box').children[listCnt].children[0].innerHTML = rollingData[dataCnt]
                dataCnt++
        } else if(dataCnt == rollingData.length - 1) {
            document.getElementById('rolling_box').children[listCnt].children[0].innerHTML = rollingData[dataCnt]
            dataCnt = 0
        }

        if(listCnt < 2) {
            listCnt++
        } else if (listCnt == 2) {
            listCnt = 0
        }

        console.log(listCnt)
    }, timer);
	</script>
</div>
<!--     jquery latest version -->
<!--     <script src="js/vendor/jquery-3.6.0.min.js"></script> -->
<!--     <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script> -->
<!--     Bootstrap framework js -->
<!--     <script src="js/bootstrap.bundle.min.js"></script> -->
<!--     jquery.nivo.slider js -->
<!--     <script src="lib/js/jquery.nivo.slider.js"></script> -->
<!--     All js plugins included in this file. -->
<!--     <script src="js/plugins.js"></script> -->
<!--     Main js file that contents all jQuery plugins activation. -->
<!--     <script src="js/main.js"></script> -->

</body>

</html>