<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>중고거래상품 메인 페이지입니다</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
    <style>
	@font-face {
	     font-family: 'S-CoreDream-3Light';
	     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	     font-weight: normal;
	     font-style: normal;
		}
	* {
        font-family : 'S-CoreDream-3Light'; 
    }
    
        .rolling_box{
            width: 300px;
            height: 40px;
            text-align: center;
            border: 1px solid #848484;
        }

        .rolling_box ul {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }

        .rolling_box ul li {
            width: 100%;
            height: 100%;
            transition: .5s;
            position:absolute;
            transition: top .75s;
            top: 100%;
            z-index: 1;
            background-color: #ffffff;
        }

        .card_sliding{
            top: 0 !important;
            z-index: 100 !important;
        } 

        .card_sliding_after{
            top: -100% !important;
            z-index: 10 !important;
        }

        .rolling_box ul li p {
            font-size: 30px;
            line-height: 40px;
            font-weight: bold;
        }

        .before_slide {
            transform: translateY(100%);
        }

        .after_slide {
            transform: translateY(0);
        }

    </style>

</head>

<body>
	<div layout:fragment="content">
    	<script>
    		// 함수로받아서
			function gopage(page) {
				frmSearch.page.value = page;
				frmSearch.submit();
			}
			// 검색어 결과가 유지되도록 + 서브밋 함수 
			function SearchSubmit(orderby){
				frmSearch.orderby.value = orderby;
				frmSearch.submit();
			}
			
		</script>
    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section plr-200 mb-80 section">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">중고거래</h1>
                                <ul class="breadcrumb-list">
                                    <li><a href="index.html">홈으로가기</a></li>
                                    <li>중고거래메인</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newsletter-section section-bg-tb pt-60 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                    <a>카테고리 | 글분류</a>
                       <!-- 카테고리&검색&페이징 삼위일체로 한큐에 : form 태그로 감싼다 -->
                        <form name="frmSearch" align="center">
                            <div class="newsletter"> 
                                <div class="subcribe clearfix">
                                        <input type="hidden" name="page" value="1"> 
                                        <input type="hidden" name="orderby" value="dl_no"> 
                                            <select name="ctgry">
                                                <!-- 선택한값을 네임에 담아줘야된다..위에 주소창에 뜸 -->
                                                <option value="">전체
                                                <option th:each="ct : ${category}" th:text="${ct.commonNm}"
                                                    th:value="${ct.commonDetailCode}"
                                                    th:selected="${ct.commonDetailCode}==${dsvo.ctgry}">
                                            </select>
                                             <!-- 키워드별검색 + 키워드저장(실검에쓸) -->                                                        
	                                        <select id="searchType" name="searchType" title="검색 유형 선택">
	                                            <option value="">전체 검색</option>
	                                            <option value="dlTtl" th:selected="'dlTtl'==${dsvo.searchType}">글제목</option>
	                                            <option value="dlCn" th:selected="'dlCn'==${dsvo.searchType}">글내용</option>
	                                            <option value="ntslId" th:selected="'ntslId'==${dsvo.searchType}">판매자</option>
	                                        </select> 
	                                    <input th:value="${dsvo.searchTtl}" type="text" name="searchTtl" id="searchTtl"
	                                            placeholder="검색어를 입력하세요" title="키워드 입력"/>
                                    <button class="submit-btn-2 btn-hover-2" type="submit">검 색</button>
                                </div>
                             </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
            <div class="col-lg-3 f-right">
                <!-- 인기검색어 롤링박스 -->
                <div class="rolling_box">
                    <ul id ="rolling_box">
                    <li class="card_sliding" id ="first"><p></p></li>
                    <li class="" id ="second"><p></p></li>
                    <li class="" id ="third"><p></p></li>
                    </ul>
                </div>
                
                <table>
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>검색어</th>
                    </tr>
                </thead>
                <tbody id="word">
                    <tr th:each="word, i : ${word}">
                        <td th:text=${i.index+1}></td>
                        <td th:text="${word.searchTtl}"></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>


        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">
            
            <div class="mb-80">

            <!-- PRODUCT TAB SECTION START -->
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title text-start mb-40">
                                <h2 class="uppercase">상품리스트</h2>
                                <h6>고구마켓에서 중고거래를 해보세요</h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class=" text-end f-right">
                                <!-- Nav tabs -->
                                <ul>
                                    <li><a th:class="'dl_no'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('dl_no')">최신순</a></li>
                                    <li><a th:class="'inq_cnt'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('inq_cnt')">인기순</a></li>
                                    <li><a th:class="'dl_prc'==${dsvo.orderby}?'active'" href="#" onclick="javascript:SearchSubmit('dl_prc')">가격순 </a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-10"><input type="hidden"></div>
                        <div class="col-lg-2"><a class="button small mb-20" onclick="location.href='/my/dealform'"><span>판매글등록</span></a></div>
                        
                        <hr>
                        <!-- 페이지번호관련  -->
						<div align="center">
							<a
								th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
								th:href="|javascript:gopage(${num})|"
								th:class="${paging.page}==${num} ? 'active'"> [[${num}]]</a>
						</div>
                        <div class="col-lg-12">
                            <div>
                                <!-- popular-product start -->
                                <div id="popular-product">
                                    <div class="row">
                                        <!-- product-item start -->
                                        <div th:each="deal : ${lists}"  class="col-lg-3 col-md-4">
                                            <div class="product-item product-item-2"  >
                                                <div class="product-img">
                                                    <a th:href="@{/goguma/dealdetail/{dlNo}(dlNo=${deal.dlNo})}">
                                                        <img th:src="${deal.atchNm}"style="width:270px; height:270px;" />
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <a th:text="${deal.dlTtl}" href="single-product.html">Product Name</a>
                                                    </h6>
                                                    <h6 th:text="${deal.ctgry}" class="brand-name">Sumsung</h6>
                                                    <h3 th:text="${deal.dlPrc}" class="pro-price">$ 869.00</h3>
                                                </div>
                                                <ul class="action-button">
                                                    <li>
                                                        <a th:text="${deal.dlNo}" th:href="@{/dealdetail/{dlNo}(dlNo=${deal.dlNo})}"><i class="zmdi zmdi-favorite"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#productModal" title="Quickview"><i
                                                                class="zmdi zmdi-zoom-in"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- product-item end -->
                                    </div>
                                </div>
                                <!-- new-arrival end -->
                         
                                <!-- special-offer end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT TAB SECTION END -->

            </div>            
        </section>
        <!-- End page content -->

      </div>
    
    <!-- Body main wrapper end -->
	<script th:inline="javascript">
	
	/* 인기검색어 롤링기능 관련 자스  */
	
	/*<![CDATA[*/
	let Data = /*[[ ${word} ]]*/
	console.log(Data);
	
	let rollingData = new Array();
	for(i in Data){
		console.log(i);
		console.log(Data[i].searchTtl);
		rollingData.push(Data[i].searchTtl);
	console.log(rollingData);
	}

    let timer = 2000 // 롤링되는 주기 입니다 (1000 => 1초)

    let first = document.getElementById('first'),
        second = document.getElementById('second'),
        third = document.getElementById('third')
    let move = 2
    let dataCnt = 1
    let listCnt = 1

    //위 선언은 따로 완전히 수정하지 않는 한 조정할 필요는 없습니다.
    first.children[0].innerHTML = rollingData[0]
    
    setInterval(() => {
        if(move == 2){
            first.classList.remove('card_sliding')
            first.classList.add('card_sliding_after')

            second.classList.remove('card_sliding_after')
            second.classList.add('card_sliding')

            third.classList.remove('card_sliding_after')
            third.classList.remove('card_sliding')

            move = 0
        } else if (move == 1){
            first.classList.remove('card_sliding_after')
            first.classList.add('card_sliding')

            second.classList.remove('card_sliding_after')
            second.classList.remove('card_sliding')

            third.classList.remove('card_sliding')
            third.classList.add('card_sliding_after')

            move = 2
        } else if (move == 0) {
            first.classList.remove('card_sliding_after')
            first.classList.remove('card_sliding')

            second.classList.remove('card_sliding')
            second.classList.add('card_sliding_after')

            third.classList.remove('card_sliding_after')
            third.classList.add('card_sliding')

            move = 1
        }
        
        if(dataCnt < (rollingData.length - 1)) {
            document.getElementById('rolling_box').children[listCnt].children[0].innerHTML = rollingData[dataCnt]
                dataCnt++
        } else if(dataCnt == rollingData.length - 1) {
            document.getElementById('rolling_box').children[listCnt].children[0].innerHTML = rollingData[dataCnt]
            dataCnt = 0
        }

        if(listCnt < 2) {
            listCnt++
        } else if (listCnt == 2) {
            listCnt = 0
        }

        console.log(listCnt)
    }, timer);
	</script>


    <!-- Placed JS at the end of the document so the pages load faster -->
    <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>
</body>

</html>