<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>중고거래상품 상세페이지1</title>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.profile {
			width: 15%;
			height: 80px
		}

		.leftProfile {
			float: left;
			text-align: left;
			width: 10px;
		}

		.rightProfile {
			float: right;
			text-align: left;
		}
</style>
</head>
<body class="wide-layout">
	<div layout:fragment="content">
	
		<script type="text/javascript" 
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5910303ba80aa602d476d406bd428897&libraries=services">
		</script>
		
		<script th:inline="javascript">
		
			// 시세를 담을 데이터. 265줄 스크립트에 넣어줌
			console.log("cccc")
			/*<![CDATA[*/	
				var prc = /*[[ ${prc} ]]*/
			console.log(prc);
			/*]]*/
			
			// '판매자 정보 더보기' 버튼을 누르면 가는곳
			function seller() {
				// ❤ 판매자 id url로 보내기 
				/*<![CDATA[*/
				var ntslId = /*[[ ${deal.ntslId} ]]*/
				var dlNo=/*[[ ${deal.dlNo} ]]*/
				console.log(ntslId)
				/*]]*/
				location.href = `/goguma/dealSellerpage/${ntslId}/${dlNo}`
			}
			/* $(".single-product-info a") 이거 널값나옴..wh y ? 
					캄 걍 걍 th onclick ㄱㄱㄱ*/
			
			// 수정하기 버튼 클릭스 수정폼으로 이동
// 			function updateform() {
// 				let dlno = $(".single-product-info a").first().text();
// 				location.href = `/my/dealupdate/${dlno}`
// 			}
// 			// 삭제하기
// 			function deleteDeal() {
// 				let dlno = $(".single-product-info a").first().text();
// 				location.href = `/my/deleteDeal/${dlno}`
// 			}
			function chat(){
				window.open("/chat/rooms", "채팅창", 'width=500px,height=700px,scrollbars=yes')
			}
			// 번호 넘어가도록..
			function gopage(page) {
				frmSearch.page.value = page;
				frmSearch.submit();
			}
			$(function(){
				const url = new URL(location.href);
				// URLSearchParams 객체
				const urlParams = url.searchParams;
				// URLSearchParams.get()
				let tabName = urlParams.get('tabName'); 	
				
			  var firstTabEl = document.querySelector(`[data-bs-target="#${tabName}"]`)
			  var firstTab = new bootstrap.Tab(firstTabEl)
			  firstTab.show();
				
			})
			// 탭에서 페이징 새로고침
// 			$(function(){
// 				var link = document.location.href; // 현재접속url
// 				 console.log(link);
// 				var tab = location.hash //link.split('#').pop();   // 배열의 맨 마지막 요소를 삭제하고 해당값을 반환한다
// 				console.log(tab);
// 				$('a[href$='+tab+']'.trigger("click")); // 해당 앵커 트리거를 이용 클릭이벤트
// 			});
		</script>
		<hr>
		<!-- Body main wrapper start -->
		<div class="wrapper" style="padding-top:100px;">
		<h1 th:each="deal : ${dealList}" th:text="${deal.DL_NO}"></h1> 
				<!-- SHOP SECTION START -->
				<div class="shop-section mb-80">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<!-- single-product-area start -->
								<div class="single-product-area mb-80">
									<div class="row">
											<!-- imgs-zoom-area start -->
										<div class="col-md-5">
											<div class="imgs-zoom-area">
												<img id="zoom_03" th:data-zoom-image="${file[0].atchPath}"
												th:src="${file[0].atchPath}"
												onerror="this.onerror=null; this.src='/img/logo/001.png'"
													alt="" style="width:300px; height:300px">
												<div class="row">
													<div class="col-lg-12">
														<div id="gallery_01"
															class="carousel-btn slick-arrow-3 mt-30">
															<div th:each="f : ${file}" class="p-c">
																<a href="#" 
																	th:data-image="${f.atchPath}"
																	th:data-zoom-image="${f.atchPath}" style="width:3000px; height:300px"> <img
																	th:src="${f.atchPath}" 
																	onerror="this.onerror=null; this.src='/img/logo/001.png'"
																	alt="">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- imgs-zoom-area end -->
									
										<!-- single-product-info start -->
										<div class="col-md-7" >
											<div class="single-product-info" th:each="deal : ${deal}">
<!-- 													<h4 th:text="'판매자id : '+${deal.ntslId}">판매자아이디</h4> -->
												<div class="row">
													<div class="col-3 section-title text-start mb-40" >
														<div class="leftProfile">
															<img th:src="${profile[0].PROFILE}" alt=""
																style="width: 50px; height: 50px; border-radius: 70%; overflow: hidden;"
																onerror="this.onerror=null; this.src='/img/logo/001.png'" >
														</div>
														<div class="rightProfile">
															<h2 style="color:#C04A82;" th:text="${profile[0].NICK_NM}">판매자아이디</h2>
															<h4 th:text="${profile[0].ADDR}">거래지역</h4>
														</div> 
													</div>
												</div>
													<button type="button" class="btnInfo" onClick="seller()">판매자의정보더보기</button>
													<div class="f-right"></div>
													<!-- hr -->
													<!-- plus-minus-pro-action -->
										<div class="plus-minus-pro-action">
											<div class="sin-pro-action f-right">
												<ul th:each="d : ${deal}" class="action-button">
													<!-- 판매자입장에서 -->
													<li th:if="${session.userId == deal.ntslId}"><button 
															style="background-color:#C04A82"
															class="submit-btn-1 mt-30 btn-hover-1"
															type="button"
															th:onclick="|location.href='@{/my/dealupdate/{dlNo}(dlNo=${d.dlNo})}'|"
															>수정하기</button></li>
													<li th:if="${session.userId == deal.ntslId}"><button class="submit-btn-1 mt-30 btn-hover-1"
															style="background-color:#C04A82"
															type="submit" 
															th:onclick="|location.href='@{/my/deleteDeal/{dlNo}(dlNo=${d.dlNo})}'|">삭제하기</button></li>
														
													<!-- 판매자 + 구매자 둘다 사용할 버튼 -->															
													<li th:if="${session.userId != null}"><button class="submit-btn-1 mt-30 btn-hover-1"
															type="submit" onclick="chat()"
															style="background-color:#C04A82">채팅하기</button></li>
													<li th:if="${d.stts == '예약중' && d.ntslId == session.userId}">
													<button class="submit-btn-1 mt-30 btn-hover-1"
															style="background-color:#C04A82"
															type="submit" 
															onclick="cancel()">예약취소</button></li>
													<!-- 아작스로. 누르면 판매상태=판매중 구매자=null 으로 수정  -->		
															<!--  아 걍 구매예약 테이블이 잇어야될거같은데 시뱌 한테이블로하니까 불편한듯 -->
				
													<li th:if="${d.stts == '예약완료' && d.ntslId == session.userId}"><button class="submit-btn-1 mt-30 btn-hover-1"
															type="submit" style="background-color:#C04A82"
															onclick="soldout()">판매완료</button></li>
													<!--  판완은 버튼누르면 걍 바로 stts="판완" 으로 바꾸게 하면안되냐 아작스?로? 아 제안받은 가격처리는 흠.. -->	
													<!-- 구매자 -->
													<li th:if="${session.userId != deal.prchsId}"><button class="submit-btn-1 mt-30 btn-hover-1"
															type="submit"
															style="background-color:#C04A82"
															th:onclick="|location.href='@{/my/dealUpdateRsvt/{dlNo}(dlNo=${d.dlNo})}'|"
															>구매예약</button></li>
													<!-- <li><button class="submit-btn-1 mt-30 btn-hover-1"
														type="submit" 
														th:if="${session.userId != deal.ntslId && d.stts == '판매완료'}" 
														th:onclick="|location.href='@{/my/dealReview/{dlNo}(dlNo=${d.dlNo})}'|"
															>리뷰쓰기</button></li> -->
															<li th:if="${session.userId != deal.ntslId && session.userId == d.prchsId}" ><button class="submit-btn-1 mt-30 btn-hover-1"
														type="submit" 
														style="background-color:#C04A82"
														th:onclick="|location.href='@{/my/dealReview/{dlNo}(dlNo=${d.dlNo})}'|"
															>리뷰쓰기</button></li>
												</ul>
											</div>
										</div>
													<hr>
													
													<h3 th:text="${deal.dlTtl}" class="text-black-1">글제목이랍니다</h3>
													<h6 th:text="${deal.dlYmd}" class="brand-name-2">날짜보여주는곳</h6>
													<h5 th:text="${deal.stts}" class="brand-name-2 f-right">판매상태</h5>
													<h6 class="brand-name-2" 
														th:each="c : ${category}"
														th:if="${deal.ctgry == c.commonDetailCode}"
														th:text="'카테고리 : '+${c.commonNm}">카테고리</h6>
											</div>
											<!-- single-product-tab -->
											<div class="single-product-tab reviews-tab" >
												<ul class="nav nav-tabs mb-20">
													<li class="nav-item"><a class="nav-link active" href="#description" data-bs-toggle="tab" role="tab" data-bs-target="#description">상품설명</a></li>
													<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#information">시세</a></li>
													<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#map2">추천거리</a></li>
													<li class="nav-item"><a  class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#reviews" >
															판매자의 다른 판매상품</a></li>
												</ul>
												
												<div class="tab-content" th:each="deal : ${deal}">
													<div role="tabpanel" class="tab-pane active show"
														id="description" style="width:100%;height:350px;">
														<p th:text="${deal.dlCn}"></p>
													</div>
													<div role="tabpanel" class="tab-pane" id="information">
														<p>시세조회가 들어갈 그래프 자리입니다</p>
														<p>조회결과가 없다면 '조회 결과가 없습니다' 메세지를 호출합니다</p>
														<div style="width:100%;height:350px;">
															<!--차트가 그려질 부분-->
															<canvas id="myChart"></canvas>
														</div>
														
													</div>
													<div role="tabpanel" class="tab-pane" id="map2" style="width:100%;height:400px;">
													<p>추천지도 선으로 연결 기능</p>
														<div id="map" style="width:100%;height:350px;">
													</div>	
													</div>
													
													<!-- 판매자의 다른 판매상품-->
													<div role="tabpanel"  id="reviews"  class="tab-pane" style="width:100%;height:350px;">
														<div class="reviews-tab-desc">
														
														<form name="frmSearch" align="center">		
															<input type="hidden" name="page" value="1">
															<input type="hidden" name="tabName" value="reviews">
															<div class="media mt-30" th:each="l : ${list}">
																<div class="media-left">
																	<a href="#"><img class="media-object"
																		th:src="${l.atchNm}"
																		onerror="this.onerror=null; this.src='/img/logo/001.png'"
																		style="width: 75px; height: 75px;"></a>
																</div>
																<div class="media-body">
																	<div class="clearfix">
																		<div class="name-commenter f-left">
																			<h6 class="media-heading">
																				<a th:text="${l.dlTtl}" 
																					th:href="@{/goguma/dealdetail/{dlNo}(dlNo=${l.dlNo})}">타이틀자리</a>
																			</h6>
																			<p class="mb-10" th:text="${l.dlYmd}">27 Jun,
																				2022 at 2:30pm</p>
																		</div>
																		<div class="f-right">
																			<ul class="reply-delate">
																				<li><a th:text="${l.stts}">판매상태</a></li>
																			</ul>
																		</div>
																	</div>
																	<p class="mb-0" th:text="${l.dlCn}">상품 상세 설명 넣기</p>
																</div>
															</div>
<!-- 																페이지번호관련   -->
																<div align="center">
																	<a
																		th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
																		th:href="|javascript:gopage(${num})|"
																		th:class="${paging.page}==${num} ? 'active'"> [[${num}]]</a>
																</div>
															
															</form>
														</div>
													</div>
													
												</div>
											</div>
										</div>
										<!--  hr -->
										<hr>
										
										<!-- hr -->
										<hr>
										
									</div>
								</div>
								<!-- single-product-info end -->
							</div>
						</div>
						<!-- single-product-area end -->
					</div>
				</div>
			</div>

	 
	 <script th:inline="javascript">
	 console.log("테스트]")
	
			/*<![CDATA[*/
			var addr = /*[[ ${profile[0].ADDR} ]]*/
			console.log(addr)
			/*]]*/
		
	//카카오지도 API
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	
	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();
	
	// 주소로 좌표를 검색합니다
	geocoder.addressSearch(addr , function(result, status) {
	
	    // 정상적으로 검색이 완료됐으면 
	     if (status === kakao.maps.services.Status.OK) {
	
	        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
	
	        // 결과값으로 받은 위치를 마커로 표시합니다
	        var marker = new kakao.maps.Marker({
	            map: map,
	            position: coords
	        });
	
	        // 인포윈도우로 장소에 대한 설명을 표시합니다
	        var infowindow = new kakao.maps.InfoWindow({
	            content: '<div style="width:150px;text-align:center;padding:6px 0;">판매자의지역</div>'
	        });
	        infowindow.open(map, marker);
	
	        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
	        map.setCenter(coords);
	    } 
});    
	
			

	</script>
	 
	 
	 
	 
	 
	 
	 
	 <script>
	 console.log(prc[0].avg+"prc");
	 
	 var context = document
     .getElementById('myChart')
     .getContext('2d');

	/*  function comma(num){
		 let result = num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		 return 
	 } */

 	var myChart = new Chart(context, {
     type: 'bar', // 차트의 형태
     data: { // 차트에 들어갈 데이터
         labels: [
             //x 축
        	prc[2].month,prc[1].month,prc[0].month
         ],
         datasets: [
             { //데이터
                 label: '평균값', //차트 제목
                 fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                 data: [
                	 prc[2].avg, prc[1].avg, prc[0].avg
                 ],
                 backgroundColor: [
                     //색상
                     'rgba(255, 99, 132, 0.2)',
                     'rgba(54, 162, 235, 0.2)',
                     'rgba(255, 206, 86, 0.2)'
                 ],
                 borderColor: [
                     //경계선 색상
                     'rgba(255, 99, 132, 1)',
                     'rgba(54, 162, 235, 1)',
                     'rgba(255, 206, 86, 1)'
                    
                 ],
                 borderWidth: 1 //경계선 굵기
             }
         ]
     },
     options: {
    	 tooltips: {
    		 callbacks: {
    			  label: function(tooltipItem, data) {
    			    var label = data.datasets[tooltipItem.datasetIndex].label || '';
    			    if (label) {
    			      label += ': ';
    			    }
    			    label += tooltipItem.yLabel.toFixed(0).replace(/\d(?=(\d{3})+$)/g, '$&,');
    			    return label;
    			  }
    			}

    	  },
         scales: {
             yAxes: [
                 {
                   
                	 ticks: {
                		 beginAtZero: true,
                         callback: function(label, index, labels) {
                             return label/1000+'k';
                         }
                     },
                     scaleLabel: {
                         display: true,
                         labelString: '1k = 1000'
                     }

                 }
             ]
         }
     }
 });
	 </script>
	</div>
</body>
</html>