<!-- 올라가라 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>중고거래상품등록</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.png">

    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="lib/css/nivo-slider.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="css/style-customizer.css">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
</head>

<body>
	 <div layout:fragment="content">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER AREA -->
        <header class="header-area header-wrapper">
            <!-- header-top-bar -->
            <div class="header-top-bar plr-185">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 d-none d-md-block">
                            <div class="call-us">
                                <p class="mb-0 roboto">현재페이지는 중고거래 상품등록 페이지입니다</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top-link clearfix">
                                <ul class="link f-right">
                                    <li>
                                        <a href="my-account.html">
                                            <i class="zmdi zmdi-account"></i>
                                            내정보
                                        </a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">
                                            <i class="zmdi zmdi-favorite"></i>
                                            위시리스트
                                        </a>
                                    </li>
                                    <li>
                                        <a href="login.html">
                                            <i class="zmdi zmdi-lock"></i>
                                            로그인
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   
      <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">

            <!-- MESSAGE BOX SECTION START -->
            <div class="message-box-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="message-box box-shadow white-bg">
                                <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="blog-section-title border-left mb-30">중고거래상품등록</h4>
                                        </div>
                                    </div>
                                    <div class="mega-menu-photo f-left">
                                        <a href="#">
                                            <img src="img/mega-menu/1.jpg" alt="mega menu image">
                                        </a>
                                    </div>
                                    <div class="mega-menu-photo f-left">
                                        <a href="#">
                                            <img src="img/mega-menu/1.jpg" alt="mega menu image">
                                        </a>
                                    </div>
                                    <div class="mega-menu-photo f-left">
                                        <a href="#">
                                            <img src="img/mega-menu/1.jpg" alt="mega menu image">
                                        </a>
                                    </div>
                                        <form id="frm" action="dealform" method="get">
                                        <div class="col-lg-10">
                                            <input type="text" name="dlTtl" id="dlTtl" placeholder="상품제목">
                                        </div>
                                        <div class="col-lg-10">
                                            <textarea class="custom-textarea" name="dlCn" id="dlCn"
                                                placeholder="상품설명"></textarea>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="ctgry" id="ctgry" placeholder="카테고리">
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="dlNo" id="dlNo" placeholder="나눔하기 : 카테고리의 공통코드사용">
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="dlPrc" id="dlPrc" placeholder="가격">
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="area" id="area" placeholder="직거래장소">
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="negoYn" id="negoYn" placeholder="네고여부">
                                        </div>
                                        <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">등록하기</button>
                                    	</div>
                                    	</form>
                                    <p class="form-message"></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MESSAGE BOX SECTION END -->
        </section>
        <!-- End page content -->
    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- jquery.nivo.slider js -->
    <script src="lib/js/jquery.nivo.slider.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="js/plugins.js"></script>
    <!-- ajax-mail js -->
    <script src="js/ajax-mail.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="js/main.js"></script>

</body>

</html>