<div class="replyGroup" id="">
	<div class="card mb-1">
		<div class="card-body bg-light">
			<div class="media" style="margin: 10px">
				<div class="media-left">
					<a href="#"><img class="media-object" src="img/author/1.jpg"
						alt="#"></a>
				</div>
				<div class="media-body ml-10">
					<div class="clearfix">
						<div class="name-commenter pull-left">
							<h6 class="media-heading">
								<a href="#" id="cmntMem">작성자</a> <br> <a
									href="#" style="opacity: 50%" id="cmntYmd">게시날짜</a>
							</h6>
							<div class="form-inline" id="cmntCn"
								style="word-break: break-all;">댓글내용</div>
						</div>
					</div>
				</div> 
			</div>
			<input type="button" class="btn btn-dark mt-3 f-right"
				id="reInput" onClick=""  value="reply"/>
		</div>
	</div>
	<!--Insert form-->

	<div class="rrplyGroup" id="rrplyGroup_${댓글번호}">
	
	
	</div>



</div>