<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>

<style>
textarea {
	width: 80%;
	resize: none;
	float: right;
}
</style>
</head>
<body>
	<div th:fragment="replyNoLogin">
		<div class="Sns-commet">
			<!-- 댓글시작 -->

			<form id="reply" action="#">
				<div class="card mb-1">
					<div class="card-body bg-light">
						로그인후 이용할수 있습니다.
					</div>

				</div>
			</form>
			<!--댓글 끝-->
		</div>
	</div>
</body>
</html>