<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>

<script src="../js/sns/sns.js"></script>


<style>
textarea {
	width: 80%;
	resize: none;
	float: right;
}
</style>
</head>
<body>
	<div th:fragment="replyWrite">
		<div class="Sns-commet">
			<!-- 댓글시작 -->

			<div class="card mb-1">
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="form-inline mb-2">
								
								
								
							</div> <textarea class="form-control" id="replyCmntCn"
								name="replyCmntCn"> </textarea>
							<button type="button" class="btn btn-dark mt-3 f-right"
								onclick="insertReply()">post reply</button>
						</li>
					</ul>
				</div>
			</div>

			<!--댓글 끝-->
		</div>
	</div>

</body>
</html>