<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
	
<script src="../js/sns/sns.js"></script>


<style>
textarea {
	width: 80%;
	resize: none;
	float: right;
}
</style>
</head>
<body>
		<div class="Sns-commet mtb-20 ">
			<!-- 댓글시작 -->
			<form id="reply">
				<div class="card mb-1">
					<div class="card-header bg-light">
						<i class="fa fa-comment fa"></i> REPLY
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<div class="form-inline mb-2">
									<input type="hidden" id="replySnsNo" name="replySnsNo" value=1>
									<input type="hidden" id="replyUserId" name="replyUserId"
										value="eop">
								</div> <textarea class="form-control" id="replyCmntCn"
									name="replyCmntCn"> </textarea>
								<button type="button" class="btn btn-dark mt-3" onclick="insertReply()">post
									reply</button>
							</li>
						</ul>
					</div>
				</div>
			</form>
			<!--댓글 끝-->
		</div>
	
</body>
</html>