<div class="rrpBox">
	<div id="groupLeft">-></div>
	<div id="groupRight">
		<form id="rrpView" action="">
			<div class="card mb-1">
				<div class="card-body bg-light">
					<div class="media" style="margin: 10px">
						<div class="media-left">
							<a href="#"><img class="media-object" src="img/author/1.jpg"
								alt="#"></a>
						</div>
						<div class="media-body ml-10">
							<div class="clearfix">
								<div class="name-commenter pull-left">
									<h6 class="media-heading">
										<input type="hidden" id="rrpCmntNo">
										<input type="hidden" id="rrpGroupNo">
										 <a href="#" id="rrpCmntMem"></a> <a href="#" id="rrpCmntYmd"></a>
									</h6>

									<div class="form-inline" id="rrpCmntCn"
										style="word-break: break-all;">댓글내용</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button type="button" class="btn btn-dark mt-3 f-right"
							onclick="rreplyEdit()" style="margin:10px" id="editbutton">수정</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-dark mt-3 f-right "
							onclick="rreplyDel()" id="delbutton" >삭제</button>
						&nbsp;&nbsp;
					</div>
				</div>
			</div>
		</form>
	</div>
</div>