<div class="rrpBox">
	<div id="groupLeft">-></div>
	<div id="groupRight">
		<form id="rrpView" action="" method="post" onsubmit="return false">
			<div class="card mb-1">
				<div class="card-body bg-light">
					<div class="media" style="margin: 10px">
						<div class="media-left" style="width:50px; height:50px; ">
							<a href="#"><img class="media-object" id="rrpAtchPath" src=""
								alt="#" onerror="this.onerror=null; this.src='/img/logo/003.png'" style="width:50px; height:50px; "></a>
						</div>
						<div class="media-body ml-10">

							<div class="clearfix">
								<div class="name-commenter pull-right" id='rrpContent'
									style="width: 100%">

									<h6 class="media-heading">
										<input type="hidden" id="rrpCmntNo" name="cmntNo"> <input
											type="hidden" id="rrpGroupNo" name="groupNo"> <input
											type="hidden" id="rrpSnsNo" name="snsNo"> <a href="#"
											id="rrpCmntMem" name="cmntMem"></a><br> <a href="#"
											id="rrpCmntYmd"></a> <br>

									</h6>

									<div class="form-inline" id="cmntCn" name="cmntCn"
										style="word-break: break-all;">댓글내용</div>
								</div>
							</div>
						</div>
					</div>

					<div id="buttonForm" class="bg-light">

						<button type="button" class="btn btn-dark mt-3 f-right"
							onclick="rreplyEditForm()" style="margin: 10px" id="editbutton">수정</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-dark mt-3 f-right "
							onclick="rreplyDel()" id="delbutton">삭제</button>
						&nbsp;&nbsp;

					</div>
				</div>
			</div>
		</form>
	</div>
</div>