<div class="rrpBox">
	<div id="groupLeft">-></div>
	<div id="groupRight">
		<div class="card mb-1">
			<div class="card-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<p id="formMem"></p>
						<div class="form-inline mb-2">
							<input type="hidden" id="groupNo" name="groupNo">
							<input type="hidden" id="replySnsNo" name="replySnsNo">
						</div> <textarea class="form-control" id="replyCmntCn"
							name="replyCmntCn"> </textarea>
						<button type="button" class="btn btn-dark mt-3 f-right"
							onclick="insertRrp()">post rereply</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>


