	<div class="rrpBox">
		<div id="groupLeft">-></div>
		<div id="groupRight">
			<input type="hidden" name="groupNo" id="groupNo" >	
		    <input type="hidden" name="step" id="step">
		    <input type="hidden" name="recomntOrder" id="recomntOrder">   
		    <div class="card mb-1">
		        <div class="card-body bg-dark">
		            <div class="media" style="margin: 10px">
		                <div class="media-left">
		                    <a href="#"><img class="media-object" src="img/author/1.jpg"alt="#"></a>
		                        </div>
		                            <div class="media-body ml-10">
		                                <div class="clearfix">
		                                    <div class="name-commenter pull-left">
		                                        
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                <div class="btn btn-dark mt-3 f-right" id="reInput">input</div>
		            </div>
		        </div>
		        <div id="replyInput" class="replyInput">
		            <ul class="list-group list-group-flush mt-10">
		                <li class="list-group-item">
		                <textarea class="form-control" id="replyCmntCn"
		                    name="replyCmntCn"> </textarea>
		                <button type="button" class="btn btn-dark mt-3 f-right"
		                    onclick="insertReply()">post reply</button>
		                </li>
		            </ul>
		        </div>			
			
		</div>
		
	    
	</div>