<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>

<meta charset="UTF-8">

<title>Insert title here</title>

<style>
ul {
	list-style: none;
}

li {
	
}

textarea {
	width: 80%;
	resize: none;
}
</style>
</head>


<body>
	<article layout:fragment="content">
		<div class="wrapper">

			<div id="page-content" class="page-wrapper section">
				<div class="blog-section mb-50" style="color: black;">

					<div class="featured-product-section section-bg-tb pb-50"
						style="width: 100%; color: black;">
						<div class="container mt-20">
							<div class="section-title text-start mb-20">
								<h2 class="uppercase">동네 생활</h2>

								<h6>당신의 마을을 나에게 소개해주세요</h6>

								<form id="searchForm" action="#" style="margin-left: 30%;">
									<div class="subcribe clearfix f-left" style="width: 60%">
										<input type="text" name="search" id="search"
											placeholder="Enter your town here..." style="width: 80%" />

										<button class="submit-btn-2 btn-hover-2" type="button"
											onclick="selectSnsList()">search</button>
									</div>
								</form>
								<div th:if="${session.userId != null}">
									<br> <a class="btn btn-outline-dark f-right mb-20"
										href="#" id="myBtn" onclick="insertSns()"><span>글쓰기</span>
									</a>
								</div>


								<br> <br>
								<hr>
								<div>
									<form id="sortFrm">
										<ul class="nav f-right mt-10">
											<li><a class="active" href="#popular-product"
												data-bs-toggle="tab" name="sort"
												onclick="selectSnsList('current')">최근순 </a>||</li>
											<li><a href="#special-offer" data-bs-toggle="tab"
												name="sort" onclick="selectSnsList('view')"> &nbsp;조회순 </a></li>
										</ul>
									</form>
								</div>
							</div>
						</div>

						<div class="mt-100">
							<div class="row" id="list"
								style="margin-bottom: 10%; padding: 8%;"></div>

						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- writeFormModal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-body" style="padding: 20px; margin-bottom: 5px;">
					<button class="close1" onclick=""
						style="color: black; padding: 10px;">x</button>

					<img id="preview" style="width: 60%; margin-left: 20%;" />


					<div th:unless="files != null">
						<div>
							<p>이미지가 없습니다</p>
						</div>

					</div>

					<form action="insertSns" method="post"
						enctype="multipart/form-data">
						<div class="login-account p-30 box-shadow mtb-15">
							<div class="col-lg-4 col-md-6 pb-10">
								<div class="banner-item banner-3">

									<input type="file" name="files" id="files" placeholder="첨부파일"
										multiple="multiple" onchange="readURL(this);">
									<!-- atch -->

								</div>
							</div>

							<!-- userId -->
							<input th:value="${session.userId}" type="hidden" name="userId"
								id="userId"> 
								

							<!-- 게시물 -->
							<textarea name="snsCn" id="snsCn" class="form-control-lg mb-15"
								placeholder="게시글 내용 300자 이하." rows="3" cols="300"
								style="width: 100%"></textarea>
							<input type="text" name="hash" id="hash" value="#Tag"
								class="form-control form-control-lg">
							<!--  -->
							<input type="hidden" name="area" id="area"
								th:value="${session.dealArea}">
						</div>
						<button class="submit-btn-1 btn-hover-1 f-right" type="submit">complete</button>
					</form>
				</div>
				<div class="modal-footer" style="background-color: #000000;">
					&nbsp;</div>
			</div>
		</div>
		<!-- writeForm -->
		<!-- 개인 Sns -->
		<div id="mySns" class="Sns">
			<!-- Modal content -->
			<div class="Sns-content" style="width: 40%;">

				<form id="snsContent" action="#">

					<div class="Sns-body">
						<div>
							<img alt="" class="ml-5" id="atchPath" style="width: 100%;">
							<span class="ml-10" id="snsYmd"></span>
							<h3 class="mt-10 ml-20"></h3>
						</div>
					</div>
					<div class="Sns-Cn">
						<input type="hidden" id="snsNo" name="snsNo">
						<div class="writeCn pb-10" style="width: 100%;">
							<span class="mb-120" id="CN"></span>
						</div>
					</div>
					<div class="Sns-commet">
						<div class="card">
							<div class="card-header bg-light">
								<i class="fa fa-comment fa"></i> REPLY <input type="hidden"
									id="userId" name="userId" th:value="${param.userId}">
							</div>
							<th:block th:if="${session.userId != null}">
								<!-- 아이디 check-->
								<div th:insert="~{sns/replyWrite :: replyWrite}"></div>

								<div class="Sns-reply" id="Sns-reply"></div>
							</th:block>
							<th:block th:unless="${session.userId != null}">
								<div th:insert="~{sns/replyNoLogin :: replyNoLogin}"></div>
							</th:block>
							<!--댓글 끝-->
						</div>
					</div>
					<!--Sns-footer-->

				</form>
			</div>

		</div>
		<div id="loadDiv" style="display: none"></div>
		<script th:inline="javascript">
		
			$(document).ready(function () {
			selectSnsList()
		
			
		
		
		
		});
		
			function readURL(input) { // 게시글 입력시 사진 미리보기
				console.log('함수 입장')
			  if (input.files && input.files[0]) {
			    var reader = new FileReader();
			    reader.onload = function(e) {
			      document.getElementById('preview').src = e.target.result;
			    };
			    reader.readAsDataURL(input.files[0]);
			  } else {
			    document.getElementById('preview').src = "";
			  }
			}
			
		
		
		function selectSnsList(sort){
			
			
			console.log('gdgd'+sort)
				formData=[];
		
				formData = $("#searchForm").serialize();
			
				console.log(formData);
				
				if(sort == 'current'){
					
					formData += "&current=" + sort;
				}else{
					formData += "&view=" + sort;
				}
			
				console.log(formData)
			$.ajax({
				url : "/goguma/selectSnsList", // 데이터를 가져올 경로 설정
				type : "GET", // 데이터를 가져오는 방식
				data:formData,
				dataType : 'json',
				contentType : 'application/json; charset = utf-8',
				success : function(result) {
						  console.log(result)
						  
						  if(result == 0) {
							  $("#list").load("/sns/noSns.html")
						}
						  
						
						  
						  $("#list").empty()
						  
						  for(sns of result){
							  $("#list").append(`
									  <div class="col-lg-4 col-md-6">
			                            <div class="blog-item" onclick="snsModal(${sns.snsNo})">
			                                <img src="${sns.atchPath}" alt="" onerror="this.onerror=null; this.src='/img/logo/003.png'">
			                                <div class="blog-desc">
											<h5 class="blog-title">
												<a href="#">${sns.userId} / ${sns.snsYmd} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;조회수:${sns.inqCnt}</a>
												
											</h5>
											<input type="hidden" id="snsNo" name="snsNo" value="${sns.snsNo}">
	            							<input type="hidden" id="userId" name="userId" value="${sns.userId}">
											<h5 class="blog-title">
												<a href="single-blog.html">${sns.hash}</a>
											
											</h5>
											<br>
											<h5 class="blog-title">${sns.snsCn}</h5>
										</div>
										</div>
										
			                            </div>
			                        </div>
							`)
		           							 }
											},
						error : function(err) {
							console.log(err);
						}
					})
		}
		
		
		
			</script>
	</article>

</body>
</html>