<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>

	<div layout:fragment="content">
<!-- 	<h1 th:text="${info}"></h1> -->
	
		<div class="shop-section mb-80">
			<div class="container">
				<div class="d-flex justify-content-center">
					<!-- Tab panes -->
					<div class="tab-content">

						<!-- order-complete start 예약완료 안내 폼-->
						<div class="tab-pane active" id="order-complete">
							<div class="order-complete-content box-shadow">

								<div class="thank-you p-30 text-center">
									<h3 class="text-black-5 mb-0">예약이 완료되었습니다. 감사합니다</h3>
								</div>

								<div class="order-info p-30 mb-10">
									<ul class="order-info-list">
										<li>
											<h6>주문번호&nbsp;&nbsp;&nbsp;</h6>
											<p th:text="|rsvt_no_${info.rsvtNo}|">(주문번호==========)</p>
										</li>
										<li>
											<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상호명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
											<p th:text="${info.bizNm}">(상호명=========)</p>
										</li>
										<li>
											<h6>예약일시</h6>
											<p th:text="|${info.rsvtYmd} 15시00분|">
												(예약일시===============)</p>
										</li>
										<li>
											<h6>&nbsp;&nbsp;&nbsp;예약인원</h6>
											<p th:text="|${info.rsvtNope}명|">(몇명======)</p>
										</li>
									</ul>
								</div>

								<div class="row" style="padding-bottom: 30px;">

									<!-- 주문내역 -->
									<div class="col-md-6">
										<div class="payment-details p-30">
											<h6 class="widget-title border-left mb-20">주문내역</h6>
											<table id="menuTbl">
												<tr>
													<td class="td-title-1">메뉴</td>
													<td class="td-title-1">수량</td>
													<td class="td-title-2">가격</td>
												</tr>
												<tr th:each="mn:${mn}">
													<td class="td-title-1" th:text="${mn.MENU_NM}">(메뉴)</td>
													<td class="td-title-1" th:text="${mn.AMOUNT}">(수량)</td>
													<td class="td-title-2" th:text="${mn.MENU_PRC * mn.AMOUNT}">(가격)</td>
												</tr>
												<tr th:each="mn:${mn}"
													th:if="${mn != null} and ${mnStat.index == 0}">
													<th class="order-total">합계</th>
													<td class="order-total"></td>
													<td class="order-total-price" th:text="${mn.PAY_AMT}">(합계)</td>
												</tr>
											</table>
										</div>
									</div>

									<!-- 결제정보 -->
									<div class="col-md-6">
										<div class="bill-details p-30">
											<h6 class="widget-title border-left mb-20">예약자정보</h6>
											<ul class="bill-address">
												<li th:utext="|<span>닉네임 : </span>${info.nickNm}|">
													(닉네임)</li>
												<li th:utext="|<span>전화번호 : </span>${info.mblTelno}">(전화번호)</li>
												<li th:utext="|<span>요청사항 : </span>${info.rsvtWant}">(요청사항)</li>
											</ul>
										</div>
										<div class="bill-details pl-30">
											<h6 class="widget-title border-left mb-20">결제정보</h6>
											<ul class="bill-address">
												<li><span>카드결제 : </span>카카오페이(1002-9**-***) | 일시불
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
						
						<div class="d-flex justify-content-center mt-30">
							<a class="button extra-small" data-bs-toggle="tab"
								onclick="moveMain()"> <span>메인으로</span>
							</a> &nbsp;&nbsp;&nbsp;
							<a class="button extra-small" data-bs-toggle="tab"
								onclick="moveMypage()"> <span>예약내역 확인하기</span>
							</a>
						</div>
						<!-- order-complete end -->
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			var url = window.location.href;
			console.log(url)
			var urlRsvtNo = url.substring(url.lastIndexOf('/') + 1);
			console.log("예약번호=-----" + urlRsvtNo)

			function moveMain(){
				window.location.href = "/"
			}
			
			function moveMypage(){
				window.location.href="/my/myReservation";
			}
		</script>



	</div>
	<!-- 타임리프 div끝 -->

</body>

</html>