<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<body>

	<div layout:fragment="content">

		<div class="container">

			<!-- 가게이름 부분 -->
			<div class="row">
				<!-- 가게프사 -->
				<div class="col-lg-1">
					<div class="media-left">
						<a href="#"><img class="media-object" src="img/author/1.jpg"
							alt="#"></a>
					</div>
				</div>

				<!-- 가게이름 -->
				<div class="col-lg-8">
					<div class="section-title text-start mt-15">
						<h2 class="uppercase" th:text="${biz.bizNm}">(가게이름)</h2>
						<h6>
							<ul class="blog-meta">
								<li><a href="#"><i class="zmdi zmdi-favorite"></i>단골
										123 </a></li>
								<li><a href="#"><i class="zmdi zmdi-comments"></i>후기 59
								</a></li>
								<li><a href="#">(카테고리)</a></li>
							</ul>
						</h6>
					</div>
				</div>

				<!-- 우측상단 전화문의 등등 -->
				<div class="col-lg-3">
					<div class="product-tab pro-tab-menu">
						<!-- Nav tabs -->
						<ul class="nav">

							<li><a href="#" data-bs-toggle="tab"> <i
									class="zmdi zmdi-phone"></i>
									<h6>전화문의</h6>
							</a></li>
							<li><a class="active" href="#" data-bs-toggle="tab"> <i
									class="zmdi zmdi-email"></i>
									<h6>채팅문의</h6>
							</a></li>
							<li><a href="#" data-bs-toggle="tab"> <i
									class="zmdi zmdi-email"></i>
									<h6>후기작성</h6>
							</a></li>

						</ul>
					</div>
				</div>
			</div>
			<hr>

			<div class="f-right mb-30">
				<button class="btn btn-warning btn-sm" type="submit">함께
					주문하기</button>
			</div>

			<!-- 내용 부분 -->
			<div class="wrapper">

				<!-- Start page content -->
				<section id="page-content" class="page-wrapper section">
					<div class="shop-section mb-80">
						<div class="container">
							<div class="row">

								<div class="col-lg-12">
									<!-- Tab panes -->
									<div class="tab-content">

										<!-- checkout start -->
										<div class="tab-pane active" id="checkout">
											<div class="checkout-content box-shadow p-30">

												<div class="row">

													<!-- 왼쪽부분 예약하기 -->
													<div class="col-md-6">
														<div class="billing-details pr-10">
															<h6 class="widget-title border-left mb-20">예약하기</h6>
														</div>
														<div class="payment-method">
															<div id="accordion">

																<!--1.메뉴 선택-->
																<div class="panel">
																	<h4 class="payment-title box-shadow">
																		<a data-bs-toggle="collapse" href="#bank-transfer">
																			1.메뉴선택 </a>
																	</h4>
																	<div id="bank-transfer"
																		class="panel-collapse collapse show"
																		data-bs-parent="#accordion">
																		<div class="payment-content">

																			<table id="menuInfo">
																				<!-- 메뉴 1건 -->
																				<tr th:each="menu: ${menu}"
																					th:value="${menu.menuNo}">
																					<td class="td-title-1" th:text="${menu.menuNm}">(메뉴이름)</td>
																					<td>
																						<div class="cart-plus-minus f-left">
																							<input type="text" value="0" name="amount"
																								class="cart-plus-minus-box">
																						</div>
																					</td>
																					<!-- ${#numbers.formatInteger(menu.menuPrc, 3, 'COMMA') + '원'} -->
																					<td class="td-title-2" th:text="${menu.menuPrc}">(가격)</td>
																					<td class="td-title-2">
																						<button class="btn btn-warning btn-sm"
																							type="button" onclick="menuPick(this.id)"
																							th:id="${menu.menuNo}">담기</button>
																					</td>
																				</tr>

																			</table>

																		</div>
																	</div>
																</div>

																<!--2. 예약일 선택-->
																<div class="panel">
																	<h4 class="payment-title box-shadow">
																		<a class="collapsed" data-bs-toggle="collapse"
																			href="#collapseTwo"> 2. 예약일 선택 </a>
																	</h4>
																	<div id="collapseTwo" class="panel-collapse collapse"
																		data-bs-parent="#accordion">
																		<div class="payment-content">
																			<div class="row">
																				<div class="col-sm-3">
																					<p>날짜/시간 선택</p>
																				</div>
																				<div class="col-sm-5">
																					<input type="date" id="orderDate" name="orderDate">
																				</div>
																				<div class="col-sm-4">
																					<select class="custom-select">
																						<option th:each="code: ${code}"
																							th:if="${code.commonDetailCode} >= ${biz.bgngTm} 
																											and ${code.commonDetailCode} <= ${biz.endTm}"
																							th:value="|${code.commonDetailCode}|"
																							th:text="${code.commonNm}">(시간)</option>

																					</select>
																				</div>
																			</div>

																		</div>
																	</div>
																</div>

																<!--3. 예약인원 선택-->
																<div class="panel">
																	<h4 class="payment-title box-shadow">
																		<a data-bs-toggle="collapse" href="#collapseThree">
																			3. 예약인원 선택 </a>
																	</h4>
																	<div id="collapseThree" class="panel-collapse collapse"
																		data-bs-parent="#accordion">
																		<div class="payment-content">
																			<p>※1~10명까지 예약 가능합니다.</p>
																			<div class="row">
																				<div class="col-sm-6">방문인원을 선택하세요</div>
																				<div class="col-sm-6">
																					<div class="cart-plus-minus f-left">
																						<input type="text" value="0" name="peopleCnt"
																							class="cart-plus-minus-box">
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="mt-30">
															<button class="btn btn-success btn-sm" type="submit">쿠폰사용</button>
														</div>
													</div>
													<!-- 왼쪽부분 끝 -->

													<!-- 오른쪽부분-->
													<div class="col-md-6">
														<!-- action="/orderFormSubmit" -->
														<form id="orderForm" action="/orderFormSubmit"
															method="post">
															<div class="payment-details pl-10 mb-50">
																<h6 class="widget-title border-left mb-20">예약확인</h6>

																<!--테이블1 : 주문메뉴-->
																<table id="orderMenu">

																	<tr>
																		<td class="td-title-1">메뉴</td>
																		<td class="td-title-1">수량</td>
																		<td class="td-title-2">가격</td>
																	</tr>

																	<!-- 메뉴 1건 -->
																	<!--
																	<tr>
																		<td class="td-title-1">(메뉴이름)</td>
																		<td class="td-title-1">(수량)</td>
																		<td class="td-title-2">(가격)</td>
																	</tr>  
																	-->

																	<!-- 합계 -->
																	<tr>
																		<th class="order-total">합계</th>
																		<td class="order-total"></td>
																		<td class="order-total-price">(합계가격)
																			<!-- <input type="hidden" id="totalSum" name="totalSum" value=""> -->
																		</td>
																	</tr>
																</table>
																<hr>

																<!--테이블2 : 시간, 인원, 요청사항-->
																<table id="orderDateTimePeople">
																	<tr>
																		<th class="td-title-1">예약일자</th>
																		<!-- 예약일 -->
																		<td class="td-title-1" id="tdDate">
																			<!-- <input type="hidden" id="rsvtYmd" name="rsvtYmd" value=""> -->
																		</td>
																		<!-- 예약시간 -->
																		<td class="td-title-1" id="tdTime">
																			<!-- <input type="hidden" id="rsvtTm" name="rsvtTm" value=""> -->
																		</td>
																	</tr>
																	<tr>
																		<th class="td-title-1">예약인원</th>
																		<!-- 예약인원 -->
																		<td class="td-title-1" id="tdCnt">
																			<!-- <input type="hidden" id="rsvtCnt" name="rsvtCnt" value=""> -->
																		</td>
																	</tr>
																	<tr>
																		<th class="td-title-1">예약자정보</th>
																		<td class="td-title-1">(닉네임)
																			<input type="hidden" id="userNickname" name="userNickname" value="">
																		</td>
																		<td class="td-title-1">(전화번호)
																			<input type="hidden" id="userTel" name="userTel" value="">
																		</td>
																	</tr>
																	<tr>
																	</tr>
																	<tr>
																		<td class="td-title-1">요청사항</td>
																		<td class="td-title-1" colspan="2"><textarea
																				id="rsvtWant" name="rsvtWant" class="custom-textarea"
																				placeholder="요청사항을 입력하세요."></textarea></td>
																	</tr>
																</table>
																<hr>
															</div>
															<div class="f-right">
															
																<button class="submit-btn-1 mt-30 btn-hover-1"
																	type="button" onclick="frmSubmit()">결제하기</button>
															</div>
														</form>
													</div>
													<!-- 오른쪽부분 끝 -->

												</div>

											</div>
										</div>
										<!-- checkout end -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End page content -->

				<!--style-customizer end -->
			</div>
			<!-- Body main wrapper end -->

		</div>
		<script th:inline="javascript">
			console.log(window.location.href);
			var url = window.location.href;
			var urlBizNo = url.substring(url.lastIndexOf('/') + 1);
			console.log("가게번호받아오기222-=-----" + urlBizNo)
			/*<![CDATA[*/
				let userId = /*[[ ${session.userId} ]]*/
				/*]]*/
			
			$(".f-right").append(`
					<input type="hidden" name="bizNo" value="${urlBizNo}">
					<input type="hidden" name="bizNo" value="${userId}">
					`)
			
			// 모든 메뉴의 토탈가격을 담는 변수
			var totalSum = 0;

				var cnt = 0;
			//메뉴 담기 클릭이벤트
			function menuPick(id) {
				

				//빈 배열 생성
				var menuInfo = [];

				// 정보 불러오기
				var tr = $('#' + id).closest('tr');
				var trValue = tr.attr('value');

				//버튼과 같은 tr에 있는 메뉴 하나만 배열에 담기
				if (id == trValue) {
					var menuNm = tr.find('td').eq(0).text();
					var amount = tr.find('input[name="amount"]').val();
					var menuPrc = tr.find('td').eq(2).text();
					var totalPrice = amount * menuPrc;

					menuInfo.push({
						name : menuNm,
						cnt : amount,
						price : totalPrice
					});
				}
				// console.log(menuInfo);
				// console.log(menuNm)

				//우측 테이블에 정보 출력
				var orderMenu = $('#orderMenu');
				var lastRow = orderMenu.find('tr:last');
				var newRow = $('<tr>');

				//메뉴들 가격을 합하기 위한 변수 선언
				var sum = 0;
				for (let i = 0; i < menuInfo.length; i++) {
					
// 					console.log(menuInfo.length);
					console.log(cnt);
					console.log(`${cnt}`)
					var menuNm = $('<td>').addClass('td-title-1').text(
							menuInfo[i].name).append(
								`
								<input type='hidden' id='menuNm'  name='menuInfo[${cnt}].menuNm' value='${menuInfo[i].name}'>
								`		
							);
					var amount = $('<td>').addClass('td-title-1').text(
							menuInfo[i].cnt).append(
								`
								<input type='hidden' id='amount'  name='menuInfo[${cnt}].amount' value='${menuInfo[i].cnt}'>
								`			
							);
					var menuPrc = $('<td>').addClass('td-title-2').text(
							menuInfo[i].price).append(
								`
								<input type='hidden' id='menuPrc'  name='menuInfo[${cnt}].rsvtPay' value='${menuInfo[i].price}'>
								`			
							);
					console.log(amount.text());
					//수량이 0일경우 빠꾸, 1이상일때만 추가
					if (amount.text() == 0) {
						alert('수량을 선택해 주세요')
						return;
					} else {
						newRow.append(menuNm, amount, menuPrc);
					}

					sum += parseInt(menuInfo[i].price);
					
				}
				lastRow.before(newRow);
				console.log(sum);

				// 합계 출력
				var totalRow = orderMenu.find("tr:last");
				var totalPrice = totalRow.find(".order-total-price");
				// 	totalPrice.text(sum);

				//각 메뉴의 합을 더해줌
				totalSum += sum;
				console.log(totalSum);
				totalPrice.text(totalSum).append(
					`
					<input type=hidden id=rsvtPay name=rsvtPay value="${totalSum}">
					`
				);
				
				cnt++;
			}

			//날짜, 시간, 인원
			$(function() {
				// 선택한 날짜와 시간, 방문인원을 저장할 변수 초기화
				var selectedDateTimePeople = [];

				// 날짜 선택이 변경되었을 때 실행될 함수
				$('input[id="orderDate"]').on('change', function() {
					var selectedDate = $(this).val();
					console.log(selectedDate);
					$('#tdDate').text(selectedDate).append(
						`
						<input type='hidden' id='rsvtYmd' name='rsvtYmd' value='${selectedDate}'>
						`
					);
					//$('#rsvtYmd').val(selectedDate);
					selectedDateTimePeople.push(selectedDate);
				});

				// 시간 선택이 변경되었을 때 실행될 함수
				$('select.custom-select').on('change', function() {
					var selectedTime = $(this).children(':selected').text();
					var selectedTimeVal = $(this).val();
					console.log(selectedTime);
					$('#tdTime').text(selectedTime).append(
						`
						<input type='hidden' id='rsvtTm' name='rsvtTm' value='${selectedTimeVal}'>
						`
					);
					//$('#rsvtTm').val(selectedTime);
					selectedDateTimePeople.push(selectedTimeVal);
				});

				// 방문인원 입력이 변경되었을 때 실행될 함수
				// +될때
				$($('input[name="peopleCnt"]')[0].nextSibling.nextSibling).on(
						'click', function() {
							var peopleCnt = $('input[name="peopleCnt"]').val();
							console.log(peopleCnt);
							$('#tdCnt').text(peopleCnt).append(
								`
								<input type='hidden' id='rsvtCnt' name='rsvtCnt' value='${peopleCnt}'>
								`
							)
							//$('#tdCnt').text(peopleCnt);
							selectedDateTimePeople.push(peopleCnt);
						});
				//-될때
				$(
						$('input[name="peopleCnt"]')[0].previousSibling.previousSibling)
						.on('click', function() {
							var peopleCnt = $('input[name="peopleCnt"]').val();
							console.log(peopleCnt);
							$('#tdCnt').text(peopleCnt).append(
								`
								<input type='hidden' id='rsvtCnt' name='rsvtCnt' value='${peopleCnt}'>
								`
							)
							//$('#tdCnt').text(peopleCnt);
							selectedDateTimePeople.push(peopleCnt);
						});

			});
			
			function frmSubmit(){
				console.log("뀨")

				//빈 배열 생성
				var menuInfo =[];	//예약메뉴
// 				var rsvtInfo =[];	//예약정보
				var orderList = []; // 폼으로 넘겨줄 최종 메뉴정보
				
				//테이블에서 제목 합계 제외, 메뉴만 뽑기위해 length이용
				var tableSize = $('#orderMenu tr').length - 1
				console.log(tableSize)

				//반복문 이용 메뉴 배열에 담기
				for(var i = 1; i<tableSize; i++){
					var menuNm = $('#orderMenu tr:eq('+i+') td:eq(0)').clone().children().remove().end().text().trim();
					var amount = $('#orderMenu tr:eq('+i+') td:eq(1)').clone().children().remove().end().text().trim();
					var rsvtPay = $('#orderMenu tr:eq('+i+') td:eq(2)').clone().children().remove().end().text().trim();

					console.log(menuNm);
					
					menuInfo.push({menuNm : menuNm, 
								   amount : amount,
								   rsvtPay : rsvtPay})
				}
				
				
				console.log(menuInfo);

				//예악정보 뽑아내기
// 				var rsvtPay = $('.order-total-price').clone().children().remove().end().text().trim();
				//날짜 파싱=====
// 				var date = $('#rsvtYmd').val();
// 				var date2 = new Date(date);
// 				var year = date2.getFullYear();
// 				var month = String(date2.getMonth() + 1).padStart(2, '0');
// 				var day = String(date2.getDate()).padStart(2, '0');
// 				//=====

// 				var rsvtYmd = `${year}-${month}-${day}`;
// 				console.log(rsvtYmd)
				
// 				var rsvtTm = $('#rsvtTm').val();
// 				var rsvtCnt = $('#rsvtCnt').val();
// 				var userNickname = $('#userNickname').val();	//나중에 수정
// 				var userTel = $('#userTel').val();				//나중에 수정
// 				var rsvtWant = $('#rsvtWant').val();

// 				//객체
// 				var rsvtInfo = {rsvtYmd:rsvtYmd, 
// 								rsvtTm:rsvtTm, 
// 								rsvtPay:rsvtPay, 
// 								rsvtcnt:rsvtCnt, 
// 								nickNm:userNickname, 
// 								mblTelno:userTel, 
// 								rsvtWant:rsvtWant}

// 				console.log(rsvtInfo)
				
				//폼 서브밋
// 				var formData = new FormData($("#orderForm")[0]);
// 				formData.append("menuInfo",orderList)
// 				$("#orderForm").submit();	
				
// 				$.ajax({	
// 					url : "/orderFormSubmit",
// 					type : "POST",
// 					data :  JSON.stringify(rsvtInfo, menuInfo),
// 					contentType: "application/json; charset=utf-8",
// 					success : function(delCnt) {
// 							console.log(delCnt)
// 					},
// 					error : function(err){
// 						alert("[삭제실패] 첨부파일 삭제 중 오류가 발생하였습니다. :(");
// 					}
// 				});	
	$("#orderForm").submit();
			}
		</script>
	</div>
	<!-- 타임리프 div 끝 -->


</body>

</html>