<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="content">

		<!-- Start page content -->
		<div id="page-content" class="page-wrapper section">

			<!-- SHOP SECTION START -->
			<div class="shop-section mb-80">
				<div class="container">

					<!-- 제목 부분 -->
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-start ">
								<h2 class="uppercase">동네 이웃들이 자주 가는 동네 가게</h2>
								<h6 class="mb-40">우리동네 사람들이 자주 이용하는 가게를 찾아보세요호우</h6>
							</div>
						</div>
						<!-- hr -->
						<hr>
					</div>

					<div class="row">
						<div class="col-lg-6 order-lg-2 order-1">
							<div class="shop-content">

								<!-- Tab Content start -->
								<div class="tab-content">
									<!-- 검색창 -->
									<aside class="widget-search mb-30">

										<!-- 페이징을 위해 form태그에 name추가, hidden타입 input태그 추가 -->
										<form name="frmSearch" action="#">
											<!-- ▼ 추가된 input -->
											<input type="hidden" name="page" value="1">
										</form>

										<!-- ▼ input태그(검색용) -->
										<form name="searchForm" id="searchForm">
											<!-- 											<input type="hidden" name="page" value="1"> -->
											<input type="hidden" id="searchType" name="searchType"
												value="bizNm"> <input type="text" id="keyword"
												name="keyword" placeholder="찾아볼 가게 이름을 입력하세요!">
											<button type="submit" style="height: 55px;">
												<i class="zmdi zmdi-search"></i>
											</button>
										</form>

										<!-- 검색창 카테고리 목록 FOR문 -->
										<div class="mt-20">
											<ul class="blog-meta">
												<li th:each="ctgry: ${ctgry}"><a href="#"
													th:text="${ctgry.commonNm}">(카테고리) </a></li>
												<!-- <li><a href="#">카테고리2</a></li> -->
												<!-- <li><a href="#">카테고리3</a></li> -->
											</ul>
										</div>
									</aside>

									<!-- list-view -->
									<div id="list-view" class="tab-pane active show"
										role="tabpanel">
										<div class="row">
											<!-- product-item start 이거 for문 돌려서 상점목록 출력하면됨 -->
											<div class="col-lg-12">
												<div class="shop-list product-item" th:each="list: ${lists}">
													<div class="product-img">
														<a href="single-product.html"> <img
															src="img/product/7.jpg" alt="" />
														</a>
														<!-- 														<a th:href="@{/book0205/{bizNo}(bizNo=${list.bizNo})}"> -->
														<!-- 															<img th:src="${biz.atchPath}" alt="" /> -->
														<!-- 														</a> -->
													</div>
													<div class="product-info">
														<div class="clearfix">
															<h6 class="product-title f-left">
																<a th:href="@{/book0205/{bizNo}(bizNo=${list.bizNo})}"
																	th:data-empid="${list.bizNo}" th:text="${list.bizNm}">
																	(가게이름) </a>
															</h6>
															<div class="pro-rating f-right">
																<a href="#"><i class="zmdi zmdi-star"></i></a> <a
																	href="#"><i class="zmdi zmdi-star"></i></a> <a href="#"><i
																	class="zmdi zmdi-star"></i></a> <a href="#"><i
																	class="zmdi zmdi-star-half"></i></a> <a href="#"><i
																	class="zmdi zmdi-star-outline"></i></a>
															</div>
														</div>
														<h6 class="brand-name mb-30" th:text="${list.bizAddr}">(주소)</h6>
														<p th:text="${list.cn}">(가게 설명)</p>
														<ul class="blog-meta">
															<li><a href="#" th:each="cnt: ${dgCnt}"
																th:if="${cnt.bizNo == list.bizNo}"
																th:utext="|<i class='zmdi zmdi-favorite'></i>단골  ${cnt.dCount}|">(단골
																	수)</a></li>
															<li><a href="#" th:each="rcnt: ${rwCnt}"
																th:if="${rcnt.bizNo == list.bizNo}"
																th:utext="|<i class='zmdi zmdi-comments'></i>후기  ${rcnt.rwCount}|">(후기
																	수)</a></li>
															<li><a href="#" th:text="${list.ctgry}">카테고리이름</a></li>
														</ul>

													</div>
												</div>

											</div>
											<!-- product-item end -->

										</div>
									</div>
								</div>
								<!-- Tab Content end -->
							</div>

							<!-- 가게 목록 페이징 -->
							<ul class="shop-pagination box-shadow text-center ptblr-10-30">
								<li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
								<li
									th:each="num: *{#numbers.sequence(pagingVO.startPage, pagingVO.endPage)}"
									th:class="${pagingVO.page}==${num} ? 'active'"><a
									th:href="|javascript:gopage(${num})|">[[${num}]]</a></li>

								<!-- <li><a href="#">02</a></li> -->
								<!-- <li><a href="#">03</a></li> -->
								<!-- <li><a href="#">...</a></li> -->
								<!-- <li><a href="#">05</a></li> -->
								<li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
							</ul>

						</div>


						<!-- 오른쪽에 지도를 넣으면 될까..? -->
						<div class="col-lg-6 order-lg-2 order-1">
							<div class="">
								<h1>지도자리</h1>
								<!-- GOOGLE MAP SECTION START -->
								<div class="google-map-section">
									<div class="container-fluid">
										<div class="google-map plr-185">
											<div id="googleMap"></div>
										</div>
									</div>
								</div>
								<!-- GOOGLE MAP SECTION END -->
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-3"></div>
						<div class="col-lg-3"></div>
						<div class="col-lg-3">
							<a class="button" href="#"><span>💥가게 프로필 만들기 </span> </a>
						</div>
					</div>
				</div>
			</div>
			<!-- SHOP SECTION END -->

		</div>
		<!-- End page content -->

		<!-- 페이징, 검색 자바스크립트 -->
		<script type="text/javascript">
			function gopage(page) {
				frmSearch.page.value = page;
				frmSearch.submit();
			}
		</script>

		<!-- 사진로딩 -->
		<script th:inline="javascript">
		$.ajax({
			url: "/bizImgList",
			type: "GET",
			dataType: "json",
			contentType: 'application/json; charset= utf-8',
			success: function(result){
				var productImg = $('.product-img')
			    productImg.empty();
			    console.log(productImg);

				for(img of result){
					
							$('.product-img').append(
									`<a href="book0205/${img.bizNo}">
										<img src="${img.atchPath}" alt="">
									</a>`	
							);
					
				
				}
			},
			error: function(err){
				console.log(err);
			}
		});
		//브랜치 이름 바꾼
		
		</script>
	</div>
</body>
</html>