<!DOCTYPE html>
<html>
<head>
<title>Hello WebSocket</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/main.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<!-- <script src="/app.js"></script> -->
</head>
<body>
	
	<div id="main-content" class="container">
		<h1>테스트</h1>
		<div class="row">
			<div class="col-md-6">
				<form class="form-inline">
					<div class="form-group">
						<label for="connect">WebSocket connection:</label>
						<button id="connect" class="btn btn-default" type="button">Connect</button>
						<button id="disconnect" class="btn btn-default" type="submit"
							disabled="disabled">disconnect</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<script>
		var stompClient = null;

		function connect() {
			console.log(window.location.href)
			window.location.href="localhost/rsvt/chatTest";
		}

		
		function disconnect() {
			if (stompClient !== null) {
				stompClient.disconnect();
			}
			setConnected(false);
			console.log("Disconnected");
		}

		
	</script>
</body>
</html>