<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.sns.mapper.SnsCmntMapper">

	<select id="SelectCmntlist" parameterType="int"
		resultType="com.goguma.sns.vo.SnsCmntVO">
		SELECT * FROM sns_cmnt
		WHERE sns_no = #{snsNo}
		ORDER BY
		cmnt_no
	</select>
	
	<select id="SelectUserCmnt" parameterType="int"
		resultType="com.goguma.sns.vo.SnsCmntVO">
		SELECT * FROM sns_cmnt
		WHERE cmnt_mem =#{cmntMem}
		<if test="groupNo != null and groupNo != ''">
		AND group_no = {groupNo};
		</if>
	</select>



	


	<insert id="insertReply"
		parameterType="com.goguma.sns.vo.SnsCmntVO">
		<selectKey keyProperty="cmntNo" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(cmnt_no),0)+1 AS cmntNo
			FROM SNS_CMNT
		</selectKey>

		INSERT INTO SNS_CMNT (
		cmnt_no,
		sns_no,
		cmnt_cn,
		cmnt_mem,
		cmnt_ymd,
		atch_path,
		group_no
	


		)
		VALUES (
		#{cmntNo},
		#{snsNo},
		#{cmntCn},
		#{cmntMem},
		CURRENT_Date,
		#{atchPath},
		<choose>
			<when test="groupNo != null">#{groupNo}</when>
			<otherwise>0</otherwise>
		</choose>
		
		

		)
	</insert>

	<delete id="deleteRreply"
		parameterType="com.goguma.sns.vo.SnsCmntVO">
		delete from sns_cmnt
		where cmnt_no = #{cmntNo}





	</delete>

	<update id="updateCmnt"
		parameterType="com.goguma.sns.vo.SnsCmntVO">
		UPDATE sns_cmnt SET cmnt_cn = #{cmntCn} ,
		cmnt_ymd =
		sysdate
		WHERE cmnt_no = #{cmntNo}
	</update>







</mapper>