<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.sns.mapper.SnsMapper">
	<select id="selectSnsList" resultType="com.goguma.sns.vo.SnsVO">
		SELECT s.*
		,(SELECT
		ATCH_PATH FROM ATCH a WHERE s.ATCH_ID = a.ATCH_ID
		AND ROWNUM
		=1)atch_path
		FROM SNS s
		<where>
			<if test="search !=null and search !=''">
			
			sns_Cn LIKE '%'||#{search}||'%'
			 OR user_Id LIKE '%'||#{search}||'%' 
			 OR area LIKE '%'||#{search}||'%'
		     OR hash LIKE '%'||#{search}||'%'
		   
			</if>
		</where>
			<if test="current != null and current != ''">order  by inq_Cnt</if>
			<if test="view != null and view != ''">order by sns_ymd</if>
	</select>

	<select id="selectSns" resultType="com.goguma.sns.vo.SnsVO">

		SELECT *
		FROM SNS
		WHERE sns_no =
		#{snsNo}


	</select>

	<select id="selectPerSns" resultType="com.goguma.sns.vo.SnsVO">

		SELECT *
		FROM SNS
		WHERE
		user_id =
		#{userId}


	</select>

	<select id="selectSnsAtch" parameterType="int"
		resultType="com.goguma.sns.vo.SnsVO">
		SELECT * FROM sns
		WHERE ATCH_ID = (SELECT atch_id
		FROM sns
		WHERE sns_no = #{snsNo})
	</select>


	<insert id="insertSns" parameterType="com.goguma.sns.vo.SnsVO">
		<selectKey keyProperty="snsNo" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(sns_No),0)+1
			AS snsNo
			FROM SNS
		</selectKey>
		INSERT INTO SNS (
		sns_no,
		user_id,
		sns_cn,
		hash,
		like_nocs,
		sns_ymd,
		area,
		atch_id,
		inq_cnt
		)
		VALUES (
		#{snsNo},
		#{userId},
		#{snsCn},
		#{hash},
		0,
		CURRENT_Date,
		#{area},
		#{atchId},
		0
		)


	</insert>

	<update id="snsHitUpdate">
		UPDATE SNS
		SET INQ_CNT = INQ_CNT + 1
		WHERE SNS_NO =
		#{snsNo}
	</update>

	<delete id="deleteSns" parameterType="com.goguma.sns.vo.SnsVO">

		delete from sns where
		sns_no = #{snsNo} and user_Id= #{userId}


	</delete>


</mapper>