<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.common.mapper.AtchMapper">
	<select id="selectAtchId" resultType="int">
		SELECT CASE WHEN MAX(ATCH_ID) IS NULL
					THEN 1
					ELSE MAX(ATCH_ID) + 1
				END AS atchId
		FROM ATCH
	</select>

	<insert id="fileUpload"
		parameterType="com.goguma.common.vo.AtchVO">
		INSERT INTO ATCH
				VALUES(#{atchId}, ATCH_SEQ.NEXTVAL, SYSDATE,
		#{atchNm}, #{orgnlNm}, #{extn}, #{atchSize}, #{atchPath})
	</insert>

	<select id="selectAtch" resultType="com.goguma.common.vo.AtchVO">
		SELECT *
		FROM ATCH
		WHERE ATCH_ID = #{atchId}
	</select>


</mapper>