<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.common.mapper.HomeMapper">
		<!-- 채은 main에서 쓸 메퍼들 -->
		<!-- deal -->
		<select id="selectHomeDeal" resultType="map">
SELECT ROWNUM RN, c.*
		FROM (
		    SELECT a.*, NVL((
		        SELECT ATCH_PATH
		        FROM ATCH
		        WHERE ATCH_ID = a.ATCH_ID AND ROWNUM=1
		    ),0) AS ATCH_PATH, ROWNUM AS ROW_NUM
		    FROM DEAL a
		    ORDER BY dl_ymd DESC
		) c
		<![CDATA[
		WHERE ROWNUM < 10
		]]>
		</select>

		<!-- auct -->
		<select id="selectHomeAuct" resultType="map">
		SELECT ROWNUM RN, c.*
		FROM (
		    SELECT a.*, NVL((
		        SELECT ATCH_PATH
		        FROM ATCH
		        WHERE ATCH_ID = a.ATCH_ID AND ROWNUM=1
		    ),0) AS ATCH_PATH, ROWNUM AS ROW_NUM, (SELECT COUNT(*) FROM AUCT_MEM where auct_no = a.auct_no) COUNT, (SELECT MAX(NOW_PRC) FROM AUCT_MEM WHERE auct_no = a.auct_no) MAX
		    FROM AUCT a
		    WHERE STTS = 1
		    ORDER BY COUNT DESC
		) c
		<![CDATA[
		WHERE ROWNUM < 2
		]]>
		</select>
		
		<select id="selectHomeAuctMem" parameterType="int" resultType="com.goguma.auct.vo.AuctMemVO">
		SELECT * FROM AUCT_MEM
        WHERE AUCT_NO = #{auctNo}
        ORDER BY NOW_PRC DESC
		</select>
	

		<!-- biz -->
		<select id="selectHomeBiz" resultType="map" parameterType="String">
		SELECT ROWNUM RN, c.*
		FROM (
		    SELECT a.*, NVL((
		        SELECT ATCH_PATH
		        FROM ATCH
		        WHERE ATCH_ID = a.ATCH_ID AND ROWNUM=1
		    ),0) AS ATCH_PATH, ROWNUM AS ROW_NUM
		    FROM BIZ_MEM a
		    ORDER BY bIZ_no DESC
		) c
		<![CDATA[
		WHERE ROWNUM < 50
		]]>
		</select>
	
		<!-- sns -->
		<select id="selectHomeSns" resultType="map">
		SELECT ROWNUM RN, c.*
		FROM (
		    SELECT a.*, NVL((
		        SELECT ATCH_PATH
		        FROM ATCH
		        WHERE ATCH_ID = a.ATCH_ID AND ROWNUM=1
		    ),0) AS ATCH_PATH, ROWNUM AS ROW_NUM
		    FROM SNS a
		    ORDER BY SNS_YMD DESC
		) c
		<![CDATA[
		WHERE ROWNUM < 5
		]]>
		</select>


</mapper>