<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.common.mapper.SearchMapper">
	<insert	id="insertSearch"
			parameterType="com.goguma.common.vo.SearchVO">
	<selectKey keyProperty="searchNo" resultType="int"
				order="BEFORE">
			SELECT
			CASE WHEN MAX(search_no) IS NULL THEN 1 ELSE
			MAX(search_no) + 1 END as searchNo
			FROM search
	</selectKey>
	insert into search(
		    search_no,
		    search_ttl,
		    search_ymd,
		    pst_se,
		    stts
			) values (
   			#{searchNo},
   			#{searchTtl},
   			sysdate,
   			#{pstSe},
   			#{stts}
   			)
	</insert>
	
	<select id="getPopularWord"
			resultType="com.goguma.common.vo.SearchVO">
	select *
	from(
	select nvl(search_ttl,0) as searchTtl, 
			count(search_ttl) as ttlCnt
	    from search
	    group by search_ttl
	    order by ttlcnt desc
	    )
	    <![CDATA[
        where rownum <= 10
        					]]>	
        <if test ="pstSe != null">
        and pst_se = #{pstSe}
        </if>
        <if test ="stts == '1'">
        and stts = #{stts}
        </if>
	</select>
	
	<!-- 중고거래 검색어 삭제 웨얼절 저거되나?if걸어야됨 -->
	<delete id="deleteWord"
			parameterType="com.goguma.common.vo.SearchVO">
		delete from search
		where search_ttl = #{searchTtl}
	</delete>
	
	<!-- 검색어 단어 수정 -->
	<update id="updateWord">
		update search
		set stts = #{stts}
		where search_ttl = #{searchTtl}
	</update>
			
</mapper>