<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.auct.mapper.AuctMapper">

<!-- 전체 리스트 -->
	<select id="getAuctList"
		resultType="com.goguma.auct.vo.AuctVO">
		SELECT a.* ,
		       (SELECT ATCH_PATH
	       		FROM ATCH
	       		WHERE ATCH_ID = a.ATCH_ID AND ROWNUM=1) ATCH_NM
		FROM AUCT a
		ORDER BY AUCT_NO DESC
	</select>
	
<!-- 단건조회 -->
	<select id="getAuct"
		parameterType="com.goguma.auct.vo.AuctVO"
		resultType="com.goguma.auct.vo.AuctVO">
		SELECT AUCT_NO, USER_ID, REG_YMD, DDLN_YMD, AUCT_TTL,
				CTGRY, AUCT_CN, LOW_PRC, QUICK_PRC, STTS,
				INQ_CNT, SRCH_CNT, ATCH_ID
		FROM AUCT
		WHERE AUCT_NO = #{auctNo}
	</select>

<!-- 단건조회 첨부파일 -->
	<select id="selectAuctAtch" 
			parameterType="int" 
			resultType="com.goguma.common.vo.AtchVO">
	SELECT * FROM ATCH
	WHERE ATCH_ID = (SELECT atch_id FROM AUCT
	                WHERE auct_no = #{auctNo})
	</select>

<!-- 등록 -->
	<insert id="insertAuct"
			parameterType="com.goguma.auct.vo.AuctVO">
		

	      <selectKey keyProperty="auctNo" resultType="int"
	         order="BEFORE">
	         SELECT NVL(MAX(AUCT_NO),0)+1 AS AUCTNO
	         FROM AUCT
	      </selectKey>
		INSERT INTO AUCT (
		AUCT_NO, REG_YMD, DDLN_YMD, AUCT_TTL, CTGRY,
		AUCT_CN, LOW_PRC, ATCH_ID, USER_ID
		<if test="quickPrc != 0">,QUICK_PRC</if>
		) VALUES 		(
		#{auctNo}, CURRENT_DATE, #{ddlnYmd}, #{auctTtl}, #{ctgry},
		#{auctCn}, #{lowPrc}, #{atchId}, #{userId}
		<if test="quickPrc != 0">,#{quickPrc}</if>
		)
	</insert>
<!-- 삭제 -->
	<delete id="deleteAuct"
		parameterType="com.goguma.auct.vo.AuctVO">
		DELETE FROM AUCT WHERE AUCT_NO = #{auctNo}
	</delete>

<!-- 조회수 증가 -->
	<update id="auctHitUpdate">
		UPDATE AUCT
		SET INQ_CNT = INQ_CNT + 1
		WHERE AUCT_NO = #{auctNo}
	</update>


	<update id="ddlnAuct">
		UPDATE AUCT
		<![CDATA[
		SET STTS = 2
		age <= 20
		WHERE TO_DATE(DDLN_YMD,'YYYY/MM/DD/HH24:MI') < TO_DATE(CURRENT_DATE,'YYYY/MM/DD/HH24:MI')
		]]>
	</update>
<!-- 삭제할때 쓰는 int auctNo -->
	<select id="selectAuct" parameterType="int" resultType="com.goguma.auct.vo.AuctVO">
		SELECT * FROM AUCT
		WHERE auct_no = #{auctNo}
	</select>
</mapper>