<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.auct.mapper.AuctMapper">

	<select id="selectAuctMem">
	
	
	</select>

<!-- 입찰 등록 -->
	<insert id="insertAuctMem"
			parameterType="com.goguma.auct.vo.AuctMemVO">
		<selectKey keyProperty="auctMemNo" resultType="int" order="BEFORE">
			SELECT NVL(MAX(AUCT_MEM_NO),0)+1 AS AUCT_MEM_NO
			FROM AUCT_MEM
		</selectKey>
	INSERT INTO AUCT_MEM (AUCT_MEM_NO, AUCT_MEM, AUCT_NO, AUCT_YMD, NOW_PRC, PNT_CNT)
	VALUES			(#{auctMemNo}, #{auctMem}, #{auctNo}, CURRENT_DATE, #{nowPrc}, #{pntCnt})
	</insert>
	
	
	
	
</mapper>