<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.biz.mapper.BizMemMapper">
	<!-- ❤️ 비즈 번호 가져오기 -->
	<select id="selectBizNo" parameterType="String"
		resultType="String">
		SELECT biz_no FROM biz_mem
		WHERE user_id = #{userId}
	</select>

	<!-- 개별조회(가게상세페이지) : 비즈 프로필사진 join 완-->
	<select id="bizInfo" parameterType="String"
		resultType="com.goguma.biz.vo.BizMemVO">
		SELECT bm.*, 
		       a.atch_path
		       
		FROM biz_mem bm 
		LEFT JOIN atch a 
		  ON bm.prof_atch_id = a.atch_id
		  
		WHERE bm.biz_no = #{bizNo}
	</select>

	<!-- 가게목록 전체조회 -->
	<select id="getBizList" resultType="com.goguma.biz.vo.BizMemVO">
		SELECT * FROM biz_mem
		ORDER BY biz_no
	</select>

	<!-- 가게목록 페이징(전체조회) -->
	<select id="bizListPage"
		parameterType="com.goguma.biz.vo.BizSearchVO" resultType="BizMemVO">
		SELECT * FROM(SELECT rownum rn, a.* FROM(
		SELECT *
		FROM biz_mem
		<include refid="criteria"></include>
		ORDER BY biz_no
		<![CDATA[
		) a WHERE rownum <= #{last} ) b WHERE rn >= #{first}
		]]>
	</select>

	<insert id="bizInsert" parameterType="com.goguma.biz.vo.BizMemVO">
			<selectKey keyProperty="bizNo" resultType="String" order="BEFORE">
				SELECT CONCAT('bn',LPAD(NVL(MAX(SUBSTR(BIZ_NO,3)),0)+1,3,0)) AS BIZ_NO
				FROM BIZ_MEM
			</selectKey>
		INSERT INTO BIZ_MEM (BIZ_NO,USER_ID,BIZ_NM,BIZ_ADDR,BIZ_ADDR_DETAIL,BIZ_TEL,BR_NO,PROF_ATCH_ID, CTGRY)
		VALUES (#{bizNo},#{userId},#{bizNm},#{bizAddr},#{bizAddrDetail},#{bizTel},#{brNo},#{profAtchId}, '한식')
	</insert>

	<update id="updateBizMem">
		UPDATE BIZ_MEM
			<set>
				<if test="bizTel != null"> BIZ_TEL = #{bizTel},</if>
				<if test="cn != null"> CN = #{cn},</if>
				<if test="bgngTm != null"> BGNG_TM = #{bgngTm},</if>
				<if test="endTm != null"> END_TM = #{endTm},</if>
				<if test="ctgry != null"> CTGRY= #{ctgry}</if>
			</set>
		WHERE BIZ_NO = #{bizNo}
	</update>

	<!-- 반복 쿼리문 -->
	<sql id="criteria">
		<where>
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="searchType != null and searchType != ''">
						<choose>
							<when test="'bizNm'.equals(searchType)">
								AND biz_nm LIKE '%' || #{keyword}|| '%'
							</when>
						</choose>
					</when>
				</choose>
			</if>
		</where>
	</sql>

	<!-- 가게리스트 갯수 카운팅(페이징용) -->
	<select id="bizListCnt" parameterType="BizSearchVO"
		resultType="int">
		select count(*)
		from biz_mem
		<include refid="criteria"></include>

	</select>

	<!-- 단골 수 카운팅 -->
	<select id="BizDangolCnt"
		resultType="com.goguma.biz.vo.BizMemVO">
		SELECT count(d.dg_no) dCount, m.biz_no
		FROM biz_dangol d
		RIGHT JOIN biz_mem m
		ON d.biz_no = m.biz_no
		GROUP BY m.biz_no
		ORDER BY biz_no
	</select>

	<!-- 리뷰 수 카운팅 -->
	<select id="BizReviewCnt"
		resultType="com.goguma.biz.vo.BizMemVO">
		SELECT count(rw.res_rv_no) rwCount, 
		       m.biz_no
		
		FROM rsvt_rv rw
		JOIN rsvt r
		  ON rw.rsvt_no = r.rsvt_no
	   RIGHT JOIN biz_mem m
		  ON r.biz_no = m.biz_no
		  
		GROUP BY m.biz_no
	</select>

	<!-- 가게정보 첨부파일 -->
	<select id="bizImgList" resultType="com.goguma.biz.vo.BizMemVO">
		SELECT b.*,
			   ( SELECT atch_path
				   FROM atch
				  WHERE b.atch_id = atch_id
				    AND ROWNUM = 1) atch_nm
		 FROM biz_mem b
		ORDER BY b.biz_no
	</select>

	<!-- 가게 상세 파일 -->
	<select id="bizDetailImg"
		resultType="com.goguma.biz.vo.BizMemVO">
		SELECT b.biz_no, a.*
		FROM biz_mem b 
		RIGHT JOIN atch a
		ON b.atch_id = a.atch_id
		WHERE b.biz_no = #{bizNo}
	</select>

</mapper> 