<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.biz.mapper.BizNewsMapper">

	<!-- 가게 소식 -->
	<select id="bizNews" parameterType="string" resultType="com.goguma.biz.vo.BizNewsVO">
		SELECT *
		FROM biz_news
		WHERE biz_no = #{bizNo}
	</select>
	
</mapper>