<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>테스트 페이지</h1>
<h5>(채은) 이 페이지 약간 익명 신문고(?)처럼 쓰는 거 어때요<br>
하고 싶은 말 있는데 말하기 좀 글타 하면 여기에 적고 가기!<br>
이름 안 쓰면 누가 쓴 건지 모름니도<br>
근데 생각해보니 커밋할 때마다 충돌날 거 같긴 한디..<br>
모르겠네여<br>
아무튼 우리 조 화이팅!!</h5>

<h5>(채은) 그리고 제 노트북에 서버 포트 80 이미 사용중이라고 해서 81번 포트로 설정해뒀는데 혹시 안 되는 분들 말해주세요~! 다 되는 걸로 변경합시다요.<br>
그리고 저 잘 몰라서.. 일단 유미쌤 수업때 한 거 보고 맨들긴했는데 이게 맞는지는 모르게썽여.. 혹시 플젝 이상하다싶으믄 말해주세여 같이 수정해보아요
</h5>
<h3>ㄴ 재엽 커밋 2차 도전</h3>
<h3>ㄴ 재엽 커밋 3차 도전</h3>
</body>
</html>