<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout">

<head>
<style>
.padding {
	padding-bottom: 50px;
}
@font-face {
    
    font-family: 'NanumSquareNeo-Variable';
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'NanumSquareNeo-Variable';
	
}
</style>
<meta charset="UTF-8">

<title>GOGUMARKET::MyPage</title>

<link rel="shortcut icon" type="image/x-icon"
	href="/img/icon/favicon.png">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<!-- All CSS Files -->
<!-- Bootstrap fremwork main css -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Nivo-slider css -->
<link rel="stylesheet" href="/lib/css/nivo-slider.css">
<!-- This core.css file contents all plugings css file. -->
<link rel="stylesheet" href="/css/core.css">
<!-- Theme shortcodes/elements style -->
<link rel="stylesheet" href="/css/shortcode/shortcodes.css">
<!-- Theme main style -->
<link rel="stylesheet" href="/style.css">
<!-- Responsive css -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- User style -->
<link rel="stylesheet" href="/css/custom.css">
<!-- Style customizer (Remove these two lines please) -->
<link rel="stylesheet" href="/css/style-customizer.css">

<!-- Placed JS at the end of the document so the pages load faster -->
<!-- Modernizr JS -->
<script src="../../../js/vendor/modernizr-3.11.2.min.js"></script>
<!-- jquery latest version -->

<script src="/../js/vendor/jquery-3.6.0.min.js"></script>
<!-- <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script> -->
<!-- Bootstrap framework js -->
<script src="/../js/bootstrap.bundle.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="/../lib/js/jquery.nivo.slider.js"></script>
<!-- All js plugins included in this file. -->
<script src="/../js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="/../js/main.js"></script>

<script src="/../js/mySns/mySns.js"></script>

</head>


<!-- 레이아웃에 담길 본문 content 링크 -->
<body>
	<!-- 헤더 -->
	<th:block th:replace="layouts/header :: headerFragment"></th:block>
	<div class=padding></div>
	<div class="wrapper">
		<!-- Start page content -->
		<div id="page-content" class="page-wrapper section">
			<!-- SECTION START -->
			<div class="shop-section mb-80">
				<div class="container">
					<div class="row">
						<!-- ▶ 컨텐츠 적는 공간! ((타임리프))-->
						<div class="col-lg-9 order-lg-2 order-1">
							<div layout:fragment="myContent"></div>
						</div>
						<div class="col-lg-3 order-lg-1 order-2">
							<!-- ▶ 사이드바입니다 -->
							<aside class="widget widget-categories box-shadow mb-30">
								<h6 class="widget-title border-left mb-20">마이페이지</h6>
								<div id="cat-treeview" class="product-cat">
									<ul>
										<li class="open"><a href="/my/myInfoCheck">내정보</a>
											<ul>
												<li><a href="/my/myInfoCheck/info">내 정보 수정</a></li>
												<li><a href="/my/myNotifyList">쪽지함</a></li>
												<li><a href="/my/myArea">우리 동네 설정</a></li>
												<li><a href="/my/myPoint">나의 포인트</a></li>
												<li><a href="/my/myAttend">출석하기</a></li>
												<li><a href="/my/myAct">나의 계좌</a></li>
											</ul></li>
										<li class="closed"><a href="#">나의 거래</a>
											<ul>
												<li class="closed"><a href="/my/myDeal">중고거래</a></li>
												<li><a href="/my/myCashbook">중고거래가계부</a></li>
												<li><a href="/my/myReview">거래후기</a></li>
											</ul>
										<li class="closed"><a href="/my/allAuction">나의 경매</a>
													<ul>
														<li><a href="/my/allAuction">주최경매</a></li>
														<li><a href="/my/bidAuction">참여경매</a></li>
													</ul></li>
										<li class="closed"><a href="/my/mySns">동네생활</a>
											<ul>
												<li><a href="/my/mySns">나의 글/댓글</a></li>
											</ul></li>
										<li class="closed"><a href="/my/myReservation">동네가게</a>
											<ul>
												<li><a href="/my/myReservation">나의예약</a></li>
												<li><a href="/chat/rooms">채팅하기</a></li>
											</ul></li>
										<li class="closed"><a href="/biz/bizMain">나의 비즈니스</a>
											<ul>
												<li th:if="${session.bizNo}!=null"><a href="/biz/bizMain">비즈니스 관리</a></li>
												<li th:if="${session.bizNo}==null"><a href="/my/shop01">비즈니스 등록</a></li>
											</ul></li>
										<li class="closed"><a href="/my/myInfoCheck/goodBye">회원탈퇴</a>	
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

<div class=padding></div>
<!-- 푸터 -->
<th:block th:replace="layouts/footer :: footerFragment"></th:block>







</html>