<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{/admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="adminContent">


		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800 mt-15">회원 관리</h1>
			<p class="mb-4">이곳은 고구마켓의 모든 회원들을 관리 하는곳입니다.</p>
			<!-- DataTales Example -->

			<hr class="sidebar-divider">


			<!-- DataTales Example -->
			<div class="card shadow mb-4 tableGroup">
				<div class="card-header py-2">
					MEMBER TABLE

					<form id="valueForm" name="valueForm" method="post"
						onsubmit="return false">


						<h6 class="m-0 font-weight-bold text-primary pl-100 f-left">
							USER_SE || <select class=" mr-10 ml-10" name="userSe" id="sekey">
							</select> USER_STTS || <select class=" mr-10" name="userStts" id="key">


							</select>

							<button onclick="selectMemberList(1)" class="btn btn-primary"
								style="height: 25px; line-height: 15px">출력</button>
						</h6>
					</form>






				</div>
				<div class="card-body">
					<div class="col-5" style="float: right; margin-bottom: 10px;">
						<form id="searchForm" name="searchForm" method="get"
							onsubmit="return false" style="margin-left: 30px">
							<h6 class="m-0 font-weight-bold text-primary pl-100">
								<select class="mr-10" name="searchKey" id="sort">


								</select> <input type="text" placeholder=" search.." id="searchCn"
									name="search">
								<button id="searchButton" class="btn btn-primary"
									onclick="selectMemberList(2)"
									style="height: 25px; line-height: 15px">SEARCH</button>
							</h6>
						</form>

					</div>
					<div class="table-responsive">
						<table class="table table-bordered" id="memberTable" width="100%"
							cellspacing="0" style="text-align: center">
							<thead>
								<tr>
									<th>INDEX</th>
									<th>ID</th>
									<th>NAME</th>
									<th>NICK</th>
									<th>ADDR</th>
									<th>TEL</th>
									<th>EMAIL</th>
									<th>STTS</th>
									<th>CHANG STTS</th>
								</tr>
							</thead>

							<tbody>

							</tbody>
						</table>
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
							
								
							</ul>
						</nav>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>