<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<style>
.modal_wrap {
	display: none;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
}

.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}
</style>

</head>
<body>
	<div layout:fragment="adminContent">
		<script th:inline="javascript">
			console.log("값찍어보기====")

			// 타임리프 데이터
			/*<![CDATA[*/
			var word = /*[[ ${word} ]]*/
			console.log(word);
			/*]]*/

			//✅ DOM 그리면서 실행되는 함수 (== document.onload())
			$(function() {
				// 둥록하기 버튼 누르면 실행될 함수
				$("#btnSave").on("click", function() {
					submitForm();
				});
			});
			function submitForm() {
				// 클릭한 버튼의 얘들을 들고오고싶음..이거안댈듯..
				
					$('#pstSe').val("중고거래"); // 중고거래 DE..분류로 늘 들어가도록합니다
					$('#stts').val("2");
					if(confirm("등록하시겠습니까?"))
						{
						//if 문 confirm : true false 반환
						var formData = new FormData($("#keywordFrm")[0]);
						// ■■■■■■■■■■■■■■■■■■ 아작스부분 ■■■■■■■■■■■■■■
						$.ajax({
							url : "/admin/adminKeywordboxsubmit",
							type : "POST",
							data : formData,
							processData : false,
							contentType : false,
							success : function(result) {
								console.log(result)
								alert("[등록 완료]	검색어 등록이 완료되었습니다 :D");
								location.href = "/goguma/dealMain"; // 실검뜨는거 볼라고 메인페이지로 날라가기 리다이렉트햇음
							},
							error : function(err) {
								alert("[등록 실패] 검색어 등록을 실패하였습니다. :(");
							}
						});
						
						}
				//
			}
			// submit 전 체크하기 . 수정 (검색어등록) 아작스
				
			
			
	
			// 삭제 아작스 ㄱㄱ
			function deletekeyword(event) {
				$(event.target)
			let keyword = $(event.target).attr("id")
				if(confirm("삭제하시겠습니까?"))
				$.ajax({
					url : "/admin/deletekeyword/"+keyword,
					type : "GET",
					success : function(result) {
						console.log(result)
						alert("[삭제 완료]	검색어가 삭제되었습니다 :D");
						location.href = "/admin/adminKeywordbox"; // 걍 현재페이지에 있도록
					},
					error : function(err) {
						alert("[삭제 실패] 검색어 삭제를 실패하였습니다. :(");
					}

				})
			}
			// 페이징
			/* 	function gopage(page) {
					frmSearch.page.value = page;
					frmSearch.submit();
				} */
		</script>
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800 mt-15">실시간 검색어 관리</h1>
			<p class="mb-4">이곳은 고구마켓의 중고거래의 실시간 검색어를 관리 하는곳입니다.</p>
			<!-- DataTales Example -->

			<hr class="sidebar-divider">


			<!-- DataTales Example -->
			<div class="card shadow mb-4 tableGroup">
				<div class="card-header py-2">KEYWORD BOX UPDATE</div>
				<div class="card-body">
					<div class="col-12"
						style="float: right; margin-bottom: 10px; padding-left: 30px">
						<form id="searchForm" name="searchForm" method="get"
							onsubmit="return false" style="margin-left: 30px">
							<h6 class="m-0 font-weight-bold text-primary pl-100"></h6>
						</form>

					</div>
					<div class="table-responsive">

						<!-- 현재 저장 되어있는 db값 불러오기 -->
						<form id="keywordFrm" method="post" onsubmit="return false">
								<input type="hidden" name="pstSe" id="pstSe"> 
								<input type="hidden" name="stts" id="stts"> 
								<input type="hidden" name="searchTtl" id="searchTtl">

							<div class="col-md-12">
								<table class="table table-bordered" id="" width="100%"
									cellspacing="0" style="text-align: center">
									<thead>
										<tr>
											<th>순위</th>
											<th>검색어</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody id="word">
										<tr th:each="word, i : ${word}">
											<td th:text=${i.index+1}></td>
											<td th:text="${word.searchTtl}"></td>
											<td><input type="hidden" th:name="|sList[${i.index}].searchTtl|" id="searchTtl" th:value="${word.searchTtl}">
											<button class="btn btn-primary"
													style="height: 25px; line-height: 15px"
													onclick="deletekeyword(event)" th:id="${word.searchTtl}">삭제</button></td>
										</tr>
									</tbody>
								</table>
								<input class="submit-btn-1 mt-30 btn-hover-1" 
										type="submit" 
										style="border-color:#4e73df;color:#4e73df;border-radius:10px;
												margin-left:1220px;"
									id="btnSave" role="button" value="등록하기">
										
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>