<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.modal_wrap {
	display: none;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: #eee;
	z-index: 2;
}

.black_bg {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 1;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	text-indent: -9999px;
}
</style>

</head>
<body>
	<div layout:fragment="adminContent">
	<script>
	function gopage(page) {
		frmSearch.page.value = page;
		frmSearch.submit();
	}
	</script>

		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800 mt-15">중고거래 게시글 관리</h1>
			<p class="mb-4">이곳은 고구마켓의 중고거래 게시글을 관리 하는곳입니다.</p>
			<!-- DataTales Example -->

			<hr class="sidebar-divider">


			<!-- DataTales Example -->
			<div class="card shadow mb-4 tableGroup">
				<div class="card-header py-2">
					DEAL TABLE

					<form id="frmSearch">
						<h6 class="m-0 font-weight-bold text-primary pl-100 f-left">
							카테고리 || <select class=" mr-10 ml-10" name="ctgry" id="">
							 <!-- 선택한값을 네임에 담아줘야된다..위에 주소창에 뜸 -->
                              <option value="">전체 카테고리
                              <option th:each="ct : ${category}" th:text="${ct.commonNm}"
                                  th:value="${ct.commonDetailCode}"
                                  th:selected="${ct.commonDetailCode}==${dsvo.ctgry}">
							</select> 
							<!-- 판매상태 || <select class=" mr-10" name="" id="">
							</select> -->
							
							<input type="hidden" name="page" value="1"> 	
							<button type="submit" class="btn btn-primary"
								style="height: 25px; line-height: 15px">검색</button>
						</h6>
					</form>

				</div>
				<div class="card-body">
					<div class="col-6"
						style="float: right; margin-bottom: 10px; padding-left: 30px">
						<form id="searchForm" name="searchForm" method="get"
							onsubmit="return false" style="margin-left: 30px">
							<h6 class="m-0 font-weight-bold text-primary pl-100">
								
							</h6>
						</form>

					</div>
					<div class="table-responsive">
					<div id="alarm"></div>
						<table class="table table-bordered" id="" width="100%"
							cellspacing="0" style="text-align: center; font-size:small;">
							<thead>
								<tr>
									<th width="63px;">글번호</th>
									<th width="88px;">판매자</th>
									<th width="88px;">구매자</th>
									<th width="75px;" style="word-break:break-all;">카테고리 코드</th>
									<th width="110px;">등록일</th>
									<th>제목</th>
									<th>내용</th>
									<th>가격</th>
									<th style="word-break:break-all;">거래상태</th>
									<th>조회수</th>
									<th width="80px;" style="word-break:break-all;">첨부파일아이디</th>
									<th width="80px;">상세조회</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="deal : ${lists}"
									onmouseover='this.style.background="#fcecae";'
									onmouseleave='this.style.background="#FFFFFF";'>
									<td th:text="${deal.dlNo}"></td>
									<td th:text="${deal.ntslId}"  style="word-break:break-all;"></td>
									<td th:text="${deal.prchsId}"  style="word-break:break-all;"></td>
									<td th:text="${deal.ctgry}"></td>
									<td th:text="${#dates.format(deal.dlYmd, 'yyyy-MM-dd')}"></td>
<!-- 									th:text="${#dates.format(sim.RSVT_YMD, 'yyyy-MM-dd')}" -->
									<td th:text="${deal.dlTtl}" style="word-break:break-all;"></td>
									<td th:text="${deal.dlCn}"  style="word-break:break-all;"></td>
									<td th:text="${#numbers.formatInteger(deal.dlPrc, 3, 'COMMA') + '원'}" th:if="${deal.dlPrc} !=0"></td>
									<td th:if="${deal.dlPrc} ==0">무료나눔</td>
									<td th:text="${deal.stts}"></td>
									<td th:text="${deal.inqCnt}"></td>
									<td th:text="${deal.atchId}"></td>
									<td>
										<button 
										th:onclick="|location.href='@{/goguma/dealdetail/{dlNo}(dlNo=${deal.dlNo})}'|"
										type="button" class="btn btn-primary"
								style="height: 25px; line-height: 15px; font-size:small;">조회</button>
										
									</td>
								</tr>
							</tbody>
						</table>

						<!-- 페이지번호관련  -->
						<div align="center">
							<a
								th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
								th:href="|javascript:gopage(${num})|"
								th:class="${paging.page}==${num} ? 'active'"> [[${num}]]</a>
						</div>

							</ul>
						</nav>
					</div>
				</div>
			</div>

		</div>

		


	</div>
</body>
</html>