<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">

<head>

<meta charset="UTF-8">


<style>
.sendAdd {
	list-style: none;
	margin: 0;
}

.sendAdd li {
	float: left;
	margin-left: 30px;
}
</style>
<link type="text/css" rel="stylesheet" href="/css/WriteCss/css.css" />
</head>

<body>
	<div layout:fragment="adminContent">
		<div class="card-body pstSe" style="text-align: center">
			<form name="alarmForm" id="alarmForm" method="post"
					action="location.href='admin/adminMember'" onsubmit="return false">
				<div class="board_wrap">
					<div class="board_title">
						<strong>회원 알람 보내기</strong>
						<p>관리자 전용 페이지입니다.</p>
					</div>
					<div class="board_write_wrap">
						<div class="board_write">
							<div class="title">
								<dl>
									<dt>제목</dt>
									<dd>
										<input type="text" placeholder="제목 입력"> <select
											class=" mr-10 ml-10" name="pstSe" id="pstSe">
										</select>
									</dd>
								</dl>
							</div>
							<div class="info">
								<dl>
									<dt>글쓴이</dt>
									<dd>[[${session.userId}]]</dd>
								</dl>
								<dl>
									<dt>받는사람</dt>
									<dd>[[${userId}]]</dd>
								</dl>
								<dl>
									<dt>보낸일자</dt>
									<dd	th:text="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd / HH:mm:ss')}"></dd>
								</dl>
							</div>
							<div class="cont">
								<textarea id="almCn" name="almCn" rows="5" cols="80"></textarea>
							</div>
						</div>
						<div class="bt_wrap">
							<button class="btn btn-primary " onclick="sendAlarm()"
								style="height: 30px; width: 100px; line-height: 15px; margin-right: 10px; margin-bottom: 30px;">전송</button>



							<button class="btn btn-primary" onclick="exitAlarm()"
								style="height: 30px; width: 100px; line-height: 15px; margin-right: 10px; margin-bottom: 30px;">취소</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script th:inline="javascript">
			var link = '/admin/adminMember';

			$(document).ready(function() {
				alert("ready 함수 작동")
				keyValue();

			});

			function keyValue() {
				$
						.ajax({
							url : "/admin/keyValue",
							type : "GET",
							async : false,
							dataType : "JSON",
							contentType : "application/json; charset = utf-8",

							success : function(data) {
								console.log(data);
								$(".pstSe").find("#pstSe").append(
										`<option value="">전체</option>`);
								$(data["pstSe"])
										.each(
												function(index, obj) {
													$(".pstSe")
															.find("#pstSe")
															.append(
																	`<option id="${obj.commonDetailCode}" value="${obj.commonDetailCode}">${obj.commonNm}</option>`);
												});

							},
							error : function(data) {
								console.log(error);
							},
						});
			}

			function sendAlarm() {

				console.log(almCn);

				formData = $("#alarmForm").serialize();
				console.log(formData)

				$
						.ajax({
							url : "/admin/insertAlarm",
							type : "POST",
							data : formData,
							contentType : "application/x-www-form-urlencoded; charset=UTF-8",
							success : function(data) {
								if (data != 0) {
									alert("알림 전송에 성공하였습니다.")
									location.href = link;

								} else {
									alert("알림 전송에 실패 하였습니다.")

								}
							},
							error : function() {
								console.log(error);
							}
						})
			}

			function exitAlarm() {

				let confirmMessage = confirm("알림 보내기를 취소하시겠습니까?");

				if (confirmMessage) {
					location.href = link;
				}
			}
		</script>
	</div>
</body>

</html>