<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<head>
	<meta charset="UTF-8">
	<title>가게 정보 등록하기</title>
	<script src="js/vendor/jquery-3.6.0.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<div layout:fragment="Bizcontent">
		<div class="message-box-section mb-80">
			<div class="container">
				<div class="message-box box-shadow white-bg">
					<form id="bizInsertForm" method="post" onsubmit="return false">
						<div class="row">
							<div class="col-lg-12">
								<h4 class="blog-section-title border-left mb-30">가게 정보등록 하기</h4>
							</div>
							<div class="userTable">
								<table style="border-spacing: 10px;   border-collapse: separate;">
									<tbody>
										<tr>
											<th><label for="BizNm">가게명</label></th>
											<td colspan="2"><input type="text" id="bizNm" name="bizNm"
													readonly="readonly" th:value="${bizMem.bizNm}"
													style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="userId">아이디</label></th>
											<td colspan="2"><input type="text" id="userId" name="userId"
													readonly="readonly" style="width: 70%;"
													th:value="${session.userId}">
											</td>
										</tr>
										<tr>
											<th class="mblTelno"><label for="bizTel">연락처<span>*</span></label></th>
											<td colspan="2"><input type="text" id="bizTel" name="bizTel" readonly="readonly" 
													th:placeholder="${bizMem.bizTel}" style="width: 70%; margin-right: 50px;"
													oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
											</td>
										</tr>
										<tr><th>가게 메뉴</th>
											<td><input type="text" name="" id=""></td>
										</tr>
										<tr>
											<th><label for="cn">가게설명</label></th>
											<td colspan="2"><input type="text" id="cn" name="cn" readonly="readonly" 
													th:value="${bizMem.cn}" style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="bgngTm">가게 시작 시간</label></th>
											<td colspan="2"><input type="text" id="bgngTm" name="bgngTm" readonly="readonly" 
													th:placeholder="${bizMem.bgngTm}" style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="endTm">가게 마감 시간</label></th>
											<td colspan="2"><input type="text" id="endTm" name="endTm" readonly="readonly" 
													th:placeholder="${bizMem.endTm}"style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="atchId">가게 프로필사진</label></th>
											<td colspan="2"><input type="file" id="profAtchId" name="profAtchId" readonly="readonly" 
													th:placeholder="${bizMem.atchId}" style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="ctgry">카테고리</label></th>
											<td colspan="2"><input type="text" id="ctgry" name="ctgry" readonly="readonly" 
													th:placeholder="${bizMem.ctgry}" style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="hmpgAddr">홈페이지 이메일</label></th>
											<td colspan="2"><input type="email" id="BizNm" name="BizNm"
													readonly="readonly"
													th:placeholder="${bizMem.hmpgAddr}" style="width: 70%;">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-lg-12">

								<input class="submit-btn-1 mt-30 btn-hover-1" type="submit" id="btn" onclick="location.href='/biz/shop03'" value="수정하기">
								&nbsp;&nbsp;
								<button class="submit-btn-1 mt-30 btn-hover-1" type="reset">취소</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script>

		</script>
	</div>
</body>
</html>