<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="js/vendor/jquery-3.6.0.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<style type="text/css">
		.userTable span {
			color: red;
			font-size: large;
		}

		.errPlaceHolder::placeholder {
			color: red;
		}
	</style>
</head>

<body>
	<div layout:fragment="Bizcontent">
		<div class="message-box-section mb-80">
			<div class="container">
				<div class="message-box box-shadow white-bg">
					<form id="bizInsert" class="bizInsert" action="/bizInsert" method="post"
						onsubmit="return false">
						<div class="row">
							<div class="col-lg-12">
								<h4 class="blog-section-title border-left mb-30">가게 등록 하기</h4>
							</div>
							<div class="userTable">
								<table style="border-spacing: 10px;   border-collapse: separate;">
									<tbody>
										<tr >
											<th><label for="profile">가게 프로필사진<span> *</span></label></th>
											<td>
												<div id="pfTrgt">
													<img src="attech/222.jpg" alt="" style="width: 60px; height: 60px; border-radius: 70%;">
												</div>
											</td>
											<td>
												<input type="file" id="profile">
											</td>
										</tr>
										<tr>
											<th><label for="BizNm">가게명<span> *</span></label></th>
											<td colspan="2"><input type="text" id="BizNm" name="BizNm"
														readonly="readonly"
														style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="userId">아이디</label></th>
											<td colspan="2"><input type="text" id="userId" name="userId"
														readonly="readonly"
														style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th class="mblTelno"><label for="bizTel">연락처<span>*</span></label></th>
											<td colspan="2"><input type="text" id="bizTel" name="bizTel"
														placeholder="-/공백 없이 입력"
														style="width: 40%; margin-right: 50px;"
														oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
														<button class="submit-btn-1 btn-hover-1" type="button">인증하기</button>
											</td>
										</tr>
										<tr>
											<th class="mblTelno"><label for="brNo">사업자 번호<span>*</span></label></th>
											<td colspan="2"><input type="text" id="brNo" name="brNo"
														placeholder="-/공백 없이 입력"
														style="width: 40%; margin-right: 50px">
														<button class="submit-btn-1 btn-hover-1" type="button">인증하기</button>
											</td>
										</tr>
										<tr>
											<th><label for="addr">주소<span> *</span></label></th>
											<td colspan="2"><input type="text" id="addr" name="addr"
														placeholder="주소 입력을 위해 클릭해주세요."
														readonly="readonly"
														onclick="findAddr()"
														style="width: 70%;">
											</td>
										</tr>
										<tr>
											<th><label for="cn">가게 설명</label></th>
											<td colspan="2"><input type="text" id="cn" name="cn"
												placeholder="EX) email@naver.com"
														style="width: 70%;"
														>
											</td>
										</tr>
										<tr>
											<th><label for="ctgry">카테고리</label></th>
											<select name="ctgry" id="ctgry">
												<option value="" disabled selected>선택</option>
												<option ></option>
												</select>
											<span id="ctgryErrMsg"></span>
											<input type="hidden" name="ctgry" id="ctgry" placeholder="카테고리"> 
										</tr>
										<tr>
											<th><label for="nickNm">닉네임<span> *</span></label></th>
											<td colspan="2"><input type="text" id="nickNm" name="nickNm"
														required="required"
														style="width: 40%; margin-right: 50px;">
												<button class="submit-btn-1 btn-hover-1"
														onclick="nickNmCkAjax()" 
														id="nickNmBtn" value="0"
														type="button">중복확인</button>
												</td>
										</tr>
										<tr>
											
											
										</tr>
										<tr>
											<th><label for="dealArea">거래지역</label></th>
											<td colspan="2"><input type="text" id="dealArea" name="dealArea"
														placeholder="입력한 주소의 구로 자동 설정"
														style="width: 70%;"
														readonly="readonly">
											</td>
										</tr>
												
									</tbody>
								</table>
								</div>
								<div class="col-lg-12">
									
									<input class="submit-btn-1 mt-30 btn-hover-1" type="submit" id="btnSave" role="button" value="수정하기">
									&nbsp;&nbsp;
									<button class="submit-btn-1 mt-30 btn-hover-1" type="reset">취소</button>
								</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</div>
</body>

</html>