<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<body>

	<div layout:fragment="Bizcontent">

		<div class="container">
			<div class="single-product-area mb-80">
				<div class="row">

					<!-- single-product-info start -->
					<div class="single-product-info">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-start mb-20">
									<h2 class="uppercase">단골 프로필</h2>
									<h6>단골들의 프로필</h6>
								</div>
							</div>
						</div>
						<hr>
						<h1 th:text="${dgInfo}"></h1>
						<h1 th:text="#{dangol}"></h1>
						<div class="row">
							<div class="col-sm-2">
								<img style="height: 70px; border-radius: 50px;"
									class="media-object" th:src="${dangol.atchPath}" alt="#">
							</div>
							<div class="col-sm-7 mt-10">
								<h3 class="text-black-1" th:text="${dangol.nickNm}">김또치</h3>
								<h6 class="brand-name-2"
									th:text="|단골 등록일 : ${dangol.dangolYmd}|">단골 20일째</h6>
							</div>
							<div class="col-sm-3 mt-10">
								<a class="button small button mb-20" onclick="chatRoomOpen()"
									style="cursor: pointer;"><span>1:1 채팅</span> </a>
							</div>
						</div>
						<br>
						<textarea class="custom-textarea" placeholder="고객에 대한 메모를 입력해보세요"
							rows="3">[[${dangol.dangolMemo}]]</textarea>
						<!-- hr -->
						<hr>
						<!-- single-product-tab -->
						<div class="single-product-tab reviews-tab">
							<ul class="nav mb-20">
								<li><a class="active" href="#reviews" data-bs-toggle="tab">후기</a></li>
								<li><a href="#order" data-bs-toggle="tab">주문내역</a></li>
							</ul>
							<hr>
							<div class="tab-content">

								<!-- 후기/댓글 파트 시작 -->
								<div role="tabpanel" class="tab-pane active show" id="reviews">
									<div class="row">
										<div class="col-2">
											<h4>후기</h4>
										</div>
										<div
											class="col-8 pro-rating sin-pro-rating d-flex justify-content-end">
											<a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a> <a
												href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a> <a
												href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a> <a
												href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
											<a href="#" tabindex="0"><i
												class="zmdi zmdi-star-outline"></i></a> &nbsp; <span
												class="text-black-5">( 3.9점 / [[${#lists.size(userRv)}]] 개 )</span>
										</div>
									</div>
									<br>

									<!-- 후기 1건 -->
									<div class="tab-pane active" id="order-complete"
										th:each="rv:${userRv}">
										<h1 th:text="${rv}"></h1>
										<div class="order-complete-content box-shadow"
											style="padding: 20px;">
											<div class="blog-desc">
												<div class="row">
													<div class="col-8">
														<div class="mb-20">
															<div class="pull-right">
																<ul class="reply-delate">
																	<li><a href="#">친절해요</a></li>
																	<li>/</li>
																	<li><a href="#">가격이싸요</a></li>
																	<li>/</li>
																	<li><a href="#">만족스</a></li>
																</ul>
															</div>
														</div>
														<p th:text="${rv.rvCn}">(리뷰내용)</p>
													</div>
													<div class="col-2 d-flex justify-content-end">
														<img class="media-object" src="img/author/1.jpg" alt="#">
													</div>

												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- 후기/댓글 파트 끝-->

								<!-- 주문내역 파트 시작 -->
								<div role="tabpanel" class="tab-pane" id="order">
									<!-- 아코디언 목록 div-->
									<div class="payment-method">
										<div id="accordion">

											<!-- 주문1 -->
											<div class="panel" th:each="rv:${userRv}">
												<h4 class="payment-title box-shadow">
													<div class="f-left">
														<a data-bs-toggle="collapse" href="#bank-transfer" th:text="${rv.bizNm}">(가게이름)</a>
													</div>
													<div class="f-right mr-20" th:text="${rv.rsvtYmd}">(이용날짜)</div>
												</h4>
												<div id="bank-transfer" class="panel-collapse collapse show"
													data-bs-parent="#accordion">
													<div class="payment-content">
														<div class="payment-details pl-10 mb-50">
															<table>
																<tr>
																	<th class="td-title-1">메뉴</th>
																	<td class="td-title-1">수량</td>
																	<td class="td-title-2">가격</td>
																</tr>
																<tr>
																	<td class="td-title-1">커피커피커피</td>
																	<td class="td-title-1">1</td>
																	<td class="td-title-2">4,000원</td>
																</tr>
																<tr>
																	<td class="td-title-1">쿠키쿠키쿠키</td>
																	<td class="td-title-1">1</td>
																	<td class="td-title-2">6,000원</td>
																</tr>
																<tr>
																	<th class="order-total">합계</th>
																	<td class="order-total"></td>
																	<td class="order-total-price">20,000원</td>
																</tr>
															</table>

														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									<!-- 아코디언 목록 끝 -->
								</div>
								<!-- 주문내역 파트 끝-->

							</div>
							<!-- 예약내역 파트 끝-->

						</div>
					</div>
					<!--  hr -->
					<hr>

				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		//유저번호 받아오기
		var url = window.location.href;
		var urlUserId = url.substring(url.lastIndexOf('/') + 1);
		console.log("-----" + urlUserId)

		//채팅방 이동
		function chatRoomOpen() {
			window.open("/chat/rooms", "채팅창",
					'width=500px,height=700px,scrollbars=yes')
		}
	</script>
	</div>
	<!-- 타임리프 div끝 -->
</body>

</html>