<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<body>

	<div layout:fragment="bizContent">
		<script>
			function gopage(page) {
				frmSearch.page.value = page;
				frmSearch.submit();
			}

			function ctgryId(name) {
				console.log(name) //치킨 <- 이런식으로 나옴
			}
		</script>
		<!-- 본문 -->
		<div class="row">

			<!-- 큰제목 -->
			<div class="col-lg-12">
				<div class="shopping-cart-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-start mb-20">
								<h2 class="uppercase">후기 관리</h2>
								<h6>고객들의 소리를 들어보세요</h6>
							</div>
						</div>
					</div>
					<hr>

					<!-- 페이징을 위해 form태그에 name추가, hidden타입 input태그 추가 -->
					<form name="frmSearch" action="#">
						<!-- ▼ 추가된 input -->
						<input type="hidden" name="page" value="1">
					</form>
					<!-- 테이블 부분 -->
					<div class="row">
						<div class="col-md-12">
							<div class="table-content table-responsive mb-30">
								<table class="text-center">
									<thead>
										<tr>
											<th style="width: 5%;">번호</th>
											<th style="width: 20%;">글쓴이</th>
											<th style="width: 85%">후기 미리보기</th>
										</tr>
									</thead>
									<tbody>

										<!-- 후기 1건 -->
										<tr id="modalTr"
											th:each="i : ${#numbers.sequence(0,rv.size()-1)}">
											<td th:text="${[i]+1}">(번호)</td>
											<td th:text="${rv[i].nickNm}">(닉네임)</td>
											<td th:text="${rv[i].rvCn}">()</td>
										</tr>

									</tbody>
								</table>
							</div>

						</div>
					</div>

					<!-- 페이지번호 -->
					<div class="row">
						<div class="col-lg-12">
							<!-- 페이징 -->
							<ul class="shop-pagination box-shadow text-center ptblr-10-30">
								<li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
								<li
									th:each="num: *{#numbers.sequence(pagingVO.startPage, pagingVO.endPage)}"
									th:class="${pagingVO.page}==${num} ? 'active'"><a
									th:href="|javascript:gopage(${num})|">[[${num}]]</a></li>

								<li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
							</ul>
							<!-- 페이징 -->
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- 본문 끝 -->

		<!-- shop 05 모달창 -->
		<div id="shopModal" class="shopmodal">
			<div class="shopmodal-content">
				<span class="close">&times;</span>

				<div class="row">
					<div class="blog-desc">
						<th:block>
							<div class="row">
								<div class="col-lg-9">
									<div class="reviews-tab-desc">
										<div class="media mt-30">
											<div class="media-left">
												<a href="#"><img class="media-object"
													src="img/author/1.jpg" alt="#"></a>
											</div>
											<div class="media-body mt-15">
												<h5 th:text="${rv[0].nickNm}">(닉네임)</h5>
												<p class="mb-10 f-right" th:text="${rv[0].rvYmd}">(날짜)</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 mt-50">
									<a class="button extra-small button-white mb-20" href="#"><span>신고하기</span>
									</a>
								</div>
							</div>
							<hr>

							<p th:text="${rv[0].rvCn}">(리뷰내용)</p>
							<div class="mb-20">
								<div class="pull-right">
									<ul class="reply-delate">
										<li><a href="#">친절해요</a></li>
										<li>/</li>
										<li><a href="#">가격이싸요</a></li>
										<li>/</li>
										<li><a href="#">만족스</a></li>
									</ul>
								</div>
							</div>
						</th:block>
					</div>

					<div class="col-md-3">
						<div class="blog-image">
							<a href="#"><img src="img/product-2/1.jpg" alt=""
								width="150px"></a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 모달 끝 -->

	</div>
</body>

</html>