<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{biz/slide/slide}">

<body>
	<div layout:fragment="Bizcontent">
		<script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5910303ba80aa602d476d406bd428897&libraries=services"></script>

		<div class="row">
			<div class="col-lg-12">
				<form action="#">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-start mb-20">
								<h2 class="uppercase">내 가게 정보</h2>
								<h6>가게에 대한 정보를 관리해보세요</h6>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="coupon-discount box-shadow p-30 mb-50">
								<div class="row">

									<!-- 왼쪽 정보 -->
									<div class="col-lg-8">
										<h6 class="widget-title mb-20">
											가게 소개
											<button class="btn btn-light f-right" type="button">수정</button>
										</h6>

										<div class="media author-post box-shadow mb-30">
											<div class="media-body">
												<p class="mb-0" th:text="${biz.cn}">(소개멘트)</p>
											</div>
										</div>

										<h6 class="widget-title mb-20">
											가게주소
											<button class="btn btn-light f-right" type="button">수정</button>
										</h6>
										<div class="media author-post box-shadow mb-30">
											<div class="media-body">
												<p class="mb-0" th:text="${biz.bizAddr}">(주소)</p>
											</div>
										</div>

										<h6 class="widget-title mb-20">
											전화번호
											<button class="btn btn-light f-right" type="button">수정</button>
										</h6>
										<div class="media author-post box-shadow mb-30">
											<div class="media-body">
												<p class="mb-0" th:text="${biz.bizTel}">(전화번호)</p>
											</div>
										</div>

										<h6 class="widget-title mb-20">
											운영시간
											<button class="btn btn-light f-right" type="button">수정</button>
										</h6>
										<div class="media author-post box-shadow mb-30">
											<div class="media-body">
												<p class="mb-0" th:if="${biz.bgngTm}==${code.commonDetailCode}"
													th:each="code: ${code}" th:text="|오픈 : ${code.commonNm}|">(시간)</p>
												<p class="mb-0" th:if="${biz.endTm}==${code.commonDetailCode}"
													th:each="code: ${code}" th:text="|마감 : ${code.commonNm}|">(시간)</p>
</p>
											</div>
										</div>
									</div>

									<!-- 오른쪽 소식, 지도 -->
									<div class="col-lg-4">
										<div class="column">
											<div>
												<div class="product-item">
													<div class="product-info">
														<h6 class="product-title">
															<a href="#">🔆 최신 가게소식</a>
														</h6>
														<p th:text="${news[0].ntcCn}">(소식)</p>
														<!-- 가게소식 -->
														<div class="product-img">
															<a href="single-product.html"> <img
																th:src="${imgDetail[0].atchPath}" alt=""/>
															</a>
														</div>
													</div>
												</div>
												<!-- 지도 -->
												<div>
													<h6 class="widget-title">가게 위치</h6>
													<div id="map" style="width: 100%; height: 330px;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script>
			//카카오지도 API
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
			mapOption = {
				center : new kakao.maps.LatLng(35.8690334, 128.5932794), // 지도의 중심좌표(예담)
				// 지도의 확대 레벨
				level : 5
			};

			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption);

			// 주소-좌표 변환 객체를 생성합니다
			var geocoder = new kakao.maps.services.Geocoder();

			// DB에서 값 불러오기
			$
					.ajax({
						url : "/goguma/mapOneApiAjax",
						type : "get",
						success : function(obj) {
							console.log(obj)
							// 주소로 좌표를 검색합니다
							geocoder
									.addressSearch(
											obj.bizAddr,
											function(result, status) {
												// 정상적으로 검색이 완료됐으면 
												if (status === kakao.maps.services.Status.OK) {

													var coords = new kakao.maps.LatLng(
															result[0].y,
															result[0].x);

													// 결과값으로 받은 위치를 마커로 표시합니다
													var marker = new kakao.maps.Marker(
															{
																map : map,
																position : coords
															});

													// 인포윈도우로 장소에 대한 설명을 표시합니다
													var infowindow = new kakao.maps.InfoWindow(
															{
																content : '<div style="width:150px;text-align:center;padding:6px 0;">내 가게</div>'
															});
													infowindow
															.open(map, marker);

													// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
													map.setCenter(coords);
												}
											});
						},
						error : function(error) {
							console.log(error)
						}
					});
		</script>

	</div>
	<!-- 타임리프 div끝 -->

</body>

</html>