<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.deal.mapper.DealMapper">

	<select id="getDeal"
			parameterType="string"
			resultType="DealVO">
	select *
		from deal
		where dl_no = #{dlNo}
		order by dl_no
	</select>

	<select id="getDealSeller"
			parameterType="DealVO"
			resultType="DealVO">			                
		SELECT *
		FROM deal
		WHERE dl_no != ${dlNo}
		  AND ntsl_id = (	SELECT ntsl_id
		                    FROM deal
		                    WHERE dl_no = ${dlNo})
	</select>
	
		<select id="getDealCtgry"
			parameterType="DealVO"
			resultType="DealVO">			                
		SELECT *
		FROM deal
		WHERE dl_no != ${dlNo}
		  AND ctgry = (	SELECT ctgry
		                    FROM deal
		                    WHERE dl_no = ${dlNo})
	</select>

	<select id="dealListSelect" 
			parameterType="com.goguma.deal.vo.DealVO"
			resultType="com.goguma.deal.vo.DealVO">
	select * from (select rownum rn,a.* from(
			SELECT *
			FROM DEAL
			<include refid="creiteria"></include>
		
		order by dl_no
	<![CDATA[
		) a where rownum <= #{last} )b where rn >= #{first}
		]]>	
	</select>
	 
	<sql id="creiteria">
		<where>
			<if test="ctgry != null and ctgry != ''" >
				ctgry = #{ctgry}
			</if>
			 <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'dlTtl'.equals(searchType)">
                            AND dl_ttl LIKE '%' || #{keyword}|| '%'
                        </when>
                        <when test="'dlCn'.equals(searchType)">
                            AND dl_cn LIKE '%' || #{keyword}|| '%'
                        </when>
                        <when test="'ntslId'.equals(searchType)">
                            AND ntsl_id LIKE '%' || #{keyword}|| '%'
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <otherwise>
                    AND (
                           dl_Ttl LIKE '%' || #{keyword}|| '%'
                        OR dl_Cn LIKE '%' || #{keyword}|| '%'
                        OR ntsl_Id LIKE '%' || #{keyword}|| '%'
                    )
                </otherwise>
            </choose>
        </if>
		</where>
	</sql>
	
	<select id="getcountTotal" 
			resultType="int">
		SELECT COUNT(*)
		FROM DEAL
		<include refid="creiteria"></include>

	</select>
	
	<insert id="insertDeal"
			parameterType="com.goguma.deal.vo.DealVO">
	<selectKey keyProperty="dlNo" resultType="int"
			order="BEFORE">
			SELECT
			CASE WHEN MAX(dl_no) IS NULL THEN 1 ELSE
			MAX(dl_no) + 1 END as dlNo
			FROM deal
		</selectKey>		
	insert into deal (
		dl_no,
		dl_ttl,
		dl_cn,
		ctgry,
		dl_prc,
		area,
		nego_yn,
		atch_id
	) values (
		#{dlNo},
		#{dlTtl},
		#{dlCn},
		#{ctgry},
		#{dlPrc},
		#{area},
		#{negoYn},
		#{atchId}
	)	
	</insert>
	

   
	
	
	<insert id="deleteDeal"
			parameterType="string">
		DELETE FROM DEAL
		WHERE ntsl_id = #{ntslId}
	</insert>
	
	<update id="updateDeal"
			parameterType="com.goguma.deal.vo.DealVO">
		update deal
		   set dl_no = #{dlNo},
			   ntsl_id = #{ntslId},
			   prchs_id = #{prchsId},
			   dl_ymd = #{dlYmd},
			   dl_prc = #{dlPrc}  
		WHERE ntsl_id = #{ntslId}	
	</update>
	
	<update id="dealHitUpdate">
		UPDATE DEAL
		SET INQ_CNT = INQ_CNT + 1
		WHERE DL_NO = #{dlNo}
	</update>
</mapper>