<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.deal.mapper.DealReviewMapper">

	<select id="getDealRv"
			parameterType="int"
			resultType="com.goguma.deal.vo.DealReviewVO">
	   select *
		from rv
        where dl_no in 
                    (select dl_no
                     from deal
                     where ntsl_id = 
                                    (select ntsl_id
                                     from deal
                                     where dl_no= #{dlNo}))
	</select>
</mapper>