<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.deal.mapper.DealMapper">
	
	<!-- 판매자일때의 월별 가계부조회 -->
	<select id="selectCashNtsl"
			parameterType="String"
					resultType="map">
	     SELECT extract(month from dl_ymd) AS month, 
           TO_CHAR(SUM(NVL(dl_prc,0)), 'FM999,999,999') AS totalprc,
           count(extract(month from dl_ymd)) AS cnt,
           count(CASE WHEN nego_yn = 'Y' THEN 1 ELSE NULL END) AS ncnt
	    FROM deal
	    WHERE dl_ymd >= TO_CHAR(ADD_MONTHS(SYSDATE, -3), 'YYYYMMDD')
	      AND ntsl_id = #{ntslId}
	    GROUP BY extract(month from dl_ymd)
	    ORDER BY month DESC
	</select>
	
	<!-- 구매자일때의 월별 가계부 조회 -->
	<select id="selectCashPrchs"
			parameterType="String"
					resultType="map">
	SELECT extract(month from dl_ymd) AS month, 
           TO_CHAR(SUM(NVL(dl_prc,0)), 'FM999,999,999') AS totalprc,
           count(extract(month from dl_ymd)) AS cnt,
           count(CASE WHEN nego_yn = 'Y' THEN 1 ELSE NULL END) AS ncnt
	    FROM deal
	    WHERE dl_ymd >= TO_CHAR(ADD_MONTHS(SYSDATE, -3), 'YYYYMMDD')
	      AND prchs_id = #{prchsId}
	    GROUP BY extract(month from dl_ymd)
	    ORDER BY month DESC
    </select>
    
	<!-- 페이징을 하려면 파라미터를 보로.. -->
	<select id="selectNtslDeal" 
			parameterType="com.goguma.deal.vo.DealVO"
			resultType="map">
 	SELECT b.*, ROWNUM AS rnum 
				FROM (
				    SELECT a.*, ROWNUM AS rn
				    FROM (
				        SELECT d.* ,
				               (SELECT ATCH_PATH
				                FROM ATCH
				                WHERE ATCH_ID = d.ATCH_ID AND ROWNUM=1) ATCH_NM
				                , m.atch_path profile, m.nick_nm nick_Nm, m.addr addr 
				        FROM deal d JOIN MEM m 
				        ON d.ntsl_Id = m.user_id
				        <where>
				            <if test ="ntslId != null">
				             ntsl_id = #{ntslId}
				             </if>
				             <if test="stts != null">
				             and stts = #{stts} 
				             </if>
				             <if test ="prchsId != null">
				             and prchs_id = #{prchsId}
				             </if>
				        </where>
				        <![CDATA[
				    	) a WHERE ROWNUM <= #{last}) b WHERE rn >= #{first}
							]]>
	</select>
	
	<!-- 구매내역입장에서의 셀렉트 : 이거안씀 관련된거 다 없애자-->
	<select id="selectPrchsDeal" 
			parameterType="String"
			resultType="map">
	SELECT d.* ,
		       (SELECT ATCH_PATH
	       		FROM ATCH
	       		WHERE ATCH_ID = d.ATCH_ID AND ROWNUM=1) ATCH_NM
                , m.atch_path profile, m.nick_nm nick_Nm, m.addr addr 
	FROM deal d JOIN MEM m 
    ON d.ntsl_Id = m.user_id
	WHERE prchs_id = #{prchsId}
	</select>
	
	
	<!-- ====== ❤ new(getId+getAtch >> selectDealAtch ====== -->
	<select id="selectDealAtch" 
			parameterType="int" 
			resultType="com.goguma.common.vo.AtchVO">
	SELECT * FROM ATCH
	WHERE ATCH_ID = (SELECT atch_id FROM DEAL
	                WHERE dl_no = #{dlNo})
	</select>

	
	<!-- ====== ❤ getDeal >> selectDeal ======= -->
	<select id="selectDeal"
			parameterType="int"
			resultType="DealVO">
	SELECT *FROM DEAL
	WHERE DL_NO = #{dlNo}
	</select>

	<!-- 시세 -->
	<select id="selectPrice"
			parameterType="com.goguma.deal.vo.DealSearchVO"
			resultType="com.goguma.deal.vo.DealSearchVO">
			
	select NVL(ROUND(AVG(d.dl_prc), -3),0) AS avg, 
           NVL(max(d.dl_prc),0)as max, 
           NVL(min(d.dl_prc),0)as min, 
           c.month
   from (SELECT f.*, 
                extract(month from f.dl_ymd) month 
           FROM DEAL f 
           <if test="dlTtl != null and dlTtl != ''">
          WHERE  dl_ttl like '%'||#{dlTtl}||'%' 
          </if>
            and  dl_ymd >= ADD_MONTHS(TRUNC(CURRENT_DATE), -3)) d
    		RIGHT JOIN (select extract(month from ADD_MONTHS(CURRENT_DATE, -1*(level-1))) month
            from dual
             <![CDATA[
            connect by level <= 3) c
            ]]>	
      ON d.month = c.month
      GROUP BY c.month
      ORDER BY c.month DESC
	</select>

	<!-- ======= 판매자정보(현재 게시글 제외) ======== -->
	<select id="getDealSeller"
			parameterType="com.goguma.deal.vo.DealSearchVO"
			resultType="com.goguma.deal.vo.DealSearchVO">			                
		    select * 
			from (select rownum rn,a.* from(
				SELECT d.* ,
		       (SELECT ATCH_PATH
	       		FROM ATCH
	       		WHERE ATCH_ID = d.ATCH_ID AND ROWNUM=1) ATCH_NM 
			FROM DEAL d
			where ntsl_id = #{ntslId}
		 
		 <![CDATA[
		) a where rownum <= #{last} )b where rn >= #{first}
		]]>	
	</select>
	
	<!-- ======= 카테고리 정보======== -->
	<select id="getDealCtgry" parameterType="DealVO" resultType="DealVO">			                
		SELECT  d.* ,
		       (SELECT ATCH_PATH
	       		FROM ATCH
	       		WHERE ATCH_ID = d.ATCH_ID AND ROWNUM=1) ATCH_NM
		FROM deal d
		WHERE dl_no != ${dlNo}
		  AND ctgry = (	SELECT ctgry
		                    FROM deal
		                    WHERE dl_no = ${dlNo})
	</select>

	<!-- deal 리스트 셀렉트(페이징) -->
	<select id="dealListSelect" 
			parameterType="com.goguma.deal.vo.DealSearchVO"
			resultType="com.goguma.deal.vo.DealVO">
	select * 
			from (select rownum rn,a.* from(
			SELECT d.* ,
		       (SELECT ATCH_PATH
	       		FROM ATCH
	       		WHERE ATCH_ID = d.ATCH_ID AND ROWNUM=1) ATCH_NM 
			FROM DEAL d
			<include refid="creiteria"></include>
		<if test="orderby != null and orderby != ''" >
			order by ${orderby} desc
		</if>
		<if test="orderby == null " >
			order by dl_ymd desc
		</if>
	<![CDATA[
		) a where rownum <= #{last} )b where rn >= #{first}
		]]>	
	</select>
	 
	<sql id="creiteria">
		<where>
			<if test="ntslId != null and ntslId != ''" >
				ntsl_id = #{ntslId}
			</if>
			<if test="ctgry != null and ctgry != ''" >
				ctgry = #{ctgry}
			</if>
			 <if test="searchTtl != null and searchTtl != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'dlTtl'.equals(searchType)">
                            AND dl_ttl LIKE '%' || #{searchTtl}|| '%'
                        </when>
                        <when test="'dlCn'.equals(searchType)">
                            AND dl_cn LIKE '%' || #{searchTtl}|| '%'
                        </when>
                        <when test="'ntslId'.equals(searchType)">
                            AND ntsl_id LIKE '%' || #{searchTtl}|| '%'
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <otherwise>
                    AND (
                           dl_Ttl LIKE '%' || #{searchTtl}|| '%'
                        OR dl_Cn LIKE '%' || #{searchTtl}|| '%'
                        OR ntsl_Id LIKE '%' || #{searchTtl}|| '%'
                    )
                </otherwise>
            </choose>
        </if>
		</where>
	</sql>
	
	<select id="getcountTotal" 
			resultType="int">
		SELECT COUNT(*)
		FROM DEAL
		
		<include refid="creiteria"></include>

	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertDeal"
			parameterType="com.goguma.deal.vo.DealVO">
		<selectKey keyProperty="dlNo" resultType="int"
			order="BEFORE">
			SELECT
			CASE WHEN MAX(dl_no) IS NULL THEN 1 ELSE
			MAX(dl_no) + 1 END as dlNo
			FROM deal
		</selectKey>		
		INSERT INTO DEAL (DL_NO, 
		           DL_TTL, 
		           DL_CN, 
		           CTGRY,
				   DL_YMD, 
				   DL_PRC, 
				   AREA, 
				   NTSL_ID,
				   ATCH_ID
						<if test="negoYn != null">,NEGO_YN</if>) 
			VALUES (#{dlNo}, 
			        #{dlTtl}, 
			        #{dlCn}, 
			        #{ctgry},
					CURRENT_DATE, 
					#{dlPrc}, 
					#{area}, 
					#{ntslId},
					#{atchId}
						<if test="negoYn != null">,#{negoYn}</if>)	
	</insert>
	
	<!-- 게시글 삭제 -->
	<insert id="deleteDeal"
			parameterType="string">
		DELETE FROM DEAL
		WHERE DL_NO = #{dlNo}
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateDeal"
			parameterType="com.goguma.deal.vo.DealVO">
		UPDATE DEAL
		SET 
			 DL_TTL= #{dlTtl},
			 DL_CN = #{dlCn},
			 CTGRY = #{ctgry},
			 DL_YMD = CURRENT_DATE,
			 DL_PRC = #{dlPrc},
			 AREA = #{area}
			<if test="negoYn != null">,NEGO_YN = #{negoYn}</if>
		WHERE DL_NO = #{dlNo}
	</update>
	
	<update id="dealHitUpdate"
			parameterType="int">
		UPDATE DEAL
		SET INQ_CNT = INQ_CNT + 1
		WHERE DL_NO = #{dlNo}
	</update>

	<!-- 게시글 끌올 -->
	<update id="updateYmd">
		update deal
		set dl_ymd = current_date
		where dl_no = #{dlNo} and ntsl_id = #{ntslId}
	</update>
	
	<select id="selectDealList"
		parameterType="com.goguma.deal.vo.DealVO"
		resultType="com.goguma.deal.vo.DealVO">
		select *
		from (select rownum rn,a.* from(
		SELECT * FROM deal
		
		<include refid="creiteria"></include>
		order by deal_ymd
		
		<![CDATA[
		) a where rownum <= #{last} )b where rn >= #{first}
		]]>
	</select>
	


</mapper>