<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goguma.deal.mapper.DealReviewMapper">

	<select id="getDealRv"
			parameterType="String"
			resultType="com.goguma.deal.vo.DealReviewVO">
	   select *
		from rv
        where dl_no in 
                    (select dl_no
                     from deal
                     where ntsl_id = #{ntslId})
	</select>
	<select id="selectRvNo" resultType="int">
			SELECT
			CASE WHEN MAX(rv_no) IS NULL THEN 1 ELSE
			MAX(rv_no) + 1 END as rvNo
			FROM rv
	</select>
	
	<insert id="insertDealRv"
			parameterType="com.goguma.deal.vo.DealReviewVO">
		insert into rv (rv_no,
							user_id,
							pst_se,
							rv_ymd,
							rv_cn,
							rv_yn,
							dl_no)
					values(#{rvNo},
						   #{userId},
						   #{pstSe},
						   CURRENT_DATE,
						   #{rvCn},
						   #{rvYn},
						   #{dlNo})
	</insert>
	
	<!-- 받은 리뷰  -->
	<select id = "selectGetRv"
			parameterType="com.goguma.deal.vo.DealReviewVO">
		select distinct r.*
		from rv r join deal d
		on r.dl_no = d.dl_no
		where user_id = #{userId};
	</select>	
	<!-- 보낸 리뷰 -->
	<select id = "selectSendRv"
			parameterType="com.goguma.deal.vo.DealReviewVO">
		select distinct r.*
		from rv r join deal d
		on r.user_id = d.prchs_id
		where user_id = #{userId};
	</select>
	<!-- 안쓴 리뷰 -->
	<select id = "selectNotSendRv"
			parameterType="com.goguma.deal.vo.DealReviewVO">
		select distinct d.*
		from rv r join deal d
		on d.dl_no != r.dl_no
		where prchs_id = #{userId};
	</select>
</mapper>