<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<style type="text/css">
.whiteH3 {
	color: white;
	font-weight: bold;
}

.spanStrong span {
	color: #C04A82;
	font-weight: bold;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper spanStrong">
			<section id="page-content" class="page-wrapper section">
				<!-- 고굼화켓 -->
				<div class="featured-product-section section-bg-tb pb-50">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-start mb-20">
									<h2 class="uppercase">중고마켓</h2>
									<h6>
										<span>고</span>기로 갈게요, <span>구</span>매 가능 한가요?
									</h6>
									<h6>고구마켓과 함께 일상의 기쁨을 누리세요.</h6>
								</div>
								<div class="featured-product">
									<div class="active-featured-product slick-arrow-2"
										data-slick='{"autoplay": true, "autoplaySpeed": 2000}'>
										<!--중고마켓게시글1-->
										<div class="product-item product-item-2" th:each="d : ${deal}">
											<div class="product-img">
												<a th:href="@{/goguma/dealdetail/{dlNo}(dlNo = ${d.DL_NO})}">
													<img th:if="${d.ATCH_PATH!=0}" th:src="${d.ATCH_PATH}"
													alt="중고사진"
													onerror="this.onerror=null; this.src='/img/logo/003.png'" />
													<img th:if="${d.ATCH_PATH==0}"
													th:src="/img/logo/003.png" alt="중고사진" />
												</a>
											</div>
											<div class="product-info">
												<h6 class="product-title">
													<a
														th:href="@{/goguma/dealdetail/{dlNo}(dlNo = ${d.DL_NO})}"
														th:text="${d.DL_TTL}"></a>
												</h6>
												<h6 class="brand-name" th:text="${d.AREA}">Sumsung</h6>
												<h3 class="pro-price" th:if="${d.DL_PRC != 0}"
													th:text="${#numbers.formatInteger(d.DL_PRC, 3, 'COMMA') + '원'}"></h3>
												<h4 class="pro-price" th:if="${d.DL_PRC == 0}"
													th:text="무료나눔"
													th:style="${'color: #C04A82; font-weight: bold;'}"></h4>
											</div>
											<ul class="action-button">
												<li><a title="Wishlist"><i
														class="zmdi zmdi-favorite"></i></a></li>
												<li th:text="${#dates.format(d.DL_YMD, 'yyyy/MM/dd')}"></li>
											</ul>
										</div>
										<!--중고마켓게시글1-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 고구마켓 끝 -->
				<!-- 경매 -->
				<div class="up-comming-product-section pb-50">
					<div class="container">
						<div class="row">
							<!-- 경매 -->
							<div class="section-title text-start mb-20">
								<h2 class="uppercase">경매</h2>
								<h6>
									고구마켓과 함께 <span class="whiteSpan">짜릿한 경매</span>에 참여해 보세요.
								</h6>
							</div>
							<div class="col-lg-8">
								<div class="up-comming-pro gray-bg up-comming-pro-2 clearfix">
									<div class="up-comming-pro-img f-left">
										<a href="#"> <img th:if="${auct[0].ATCH_PATH!=0}"
											th:src="${auct[0].ATCH_PATH}" alt="경매사진"
											onerror="this.onerror=null; this.src='/img/logo/003.png'" />
											<img th:if="${auct[0].ATCH_PATH==0}"
											th:src="/img/logo/003.png" alt="경매사진" />

										</a>
									</div>
									<div class="up-comming-pro-info f-left">
										<h3>
											<a href="#" th:text="${auct[0].AUCT_TTL}">경매타이틀(a태그걸기)</a>
										</h3>
										<h4>
											<span>현재가격 </span> [[${#numbers.formatInteger(auct[0].MAX, 3,
											'COMMA') + '원'}]]
										</h4>
										<h3>
											<span>경매마감까지</span>
										</h3>
										<div class="up-comming-time-2">
											<div
												data-countdown="${#dates.format(auct[0].DDLN_YMD, 'yyyy/MM/dd')}"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 d-block d-md-none d-lg-block">
								<div class="banner-item banner-1">
									<div class="ribbon-price">
										<h3 class="whiteH3">참여현황</h3>
									</div>
									<div class="banner-img">
										<a href="#"><img src="/img/logo/경매배경.png" alt=""></a>
									</div>
									<div class="banner-info">
										<h3>
											<a href="#">낙찰유력</a>
										</h3>
										<ul class="banner-featured-list" th:each="mem : ${auctMem}">
											<li><i class="zmdi zmdi-check"></i>[[${#dates.format(auct[0].DDLN_YMD,
												'yyyy/MM/dd')}]] [[${#numbers.formatInteger(mem.nowPrc, 3,
												'COMMA') + '원'}]]</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- BIZ -->
				<div class="product-tab-section section-bg-tb pb-50">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="section-title text-start mb-40">
									<h2 class="uppercase">동네가게</h2>
									<h6>우리동네 사람들이 자주 이용하는 가게를 찾아보세요!</h6>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="product-tab pro-tab-menu pro-tab-menu-2 text-end">
									<!-- Nav tabs -->
									<ul class="nav">
										<li><a class="active" href="#chicken-biz"
											data-bs-toggle="tab">카페</a></li>
										<li><a href="#korean-biz" data-bs-toggle="tab">한식</a></li>
										<li><a href="#western-biz" data-bs-toggle="tab">양식</a></li>
										<li><a href="#chinese-biz" data-bs-toggle="tab">중식</a></li>
										<li><a href="#cafe-biz" data-bs-toggle="tab">치킨</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-12">
								<!-- Tab panes -->
								<div class="tab-content">
									<!-- 치킨 -->
									<div id="chicken-biz" class="tab-pane active show">
										<div class="row">
											<!-- product-item start -->
											<div class="col-lg-3 col-md-4" th:each="b : ${biz}"
												th:if="${b.CTGRY}=='카페'">
												<div class="product-item product-item-2">
													<div class="product-img">
														<a
															th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}">
															<img th:if="${b.ATCH_PATH !=0}"
															th:src="${b.ATCH_PATH}" alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${b.ATCH_PATH==0}"
															th:src="/img/logo/003.png" alt="" />

														</a>
													</div>
													<div class="product-info">
														<h5 class="product-title">
															<a
																th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}"
																th:text="${b.BIZ_NM}">치킨집이름</a>
														</h5>
														<h6 class="brand-name" th:text="${b.BIZ_ADDR}">가게위치</h6>
														<h6 class="pro-price" th:text="${b.BIZ_TEL}">전화번호</h6>
													</div>
													<ul class="action-button">
														<li>
															<!--단골--> <a href="#" title="Wishlist"><i
																class="zmdi zmdi-favorite"></i></a>
														</li>
														<li>
															<!--후기--> <a href="#" title="Add to cart"><i
																class="zmdi zmdi-shopping-cart-plus"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<!-- popular-product end -->
										</div>
									</div>
									<!-- new-arrival start -->
									<div id="korean-biz" class="tab-pane" role="tabpanel">
										<div class="row">
											<!-- product-item start -->
											<div class="col-lg-3 col-md-4" th:each="b : ${biz}"
												th:if="${b.CTGRY}=='한식'">
												<div class="product-item product-item-2">
													<div class="product-img">
														<a
															th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}">
															<img th:if="${b.ATCH_PATH !=0}"
															th:src="${b.ATCH_PATH}" alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${b.ATCH_PATH ==0}"
															th:src="/img/logo/003.png" alt="" />

														</a>
													</div>
													<div class="product-info">
														<h5 class="product-title">
															<a
																th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}"
																th:text="${b.BIZ_NM}">치킨집이름</a>
														</h5>
														<h6 class="brand-name" th:text="${b.BIZ_ADDR}">가게위치</h6>
														<h6 class="pro-price" th:text="${b.BIZ_TEL}">전화번호</h6>
													</div>
													<ul class="action-button">
														<li>
															<!--단골--> <a href="#" title="Wishlist"><i
																class="zmdi zmdi-favorite"></i></a>
														</li>
														<li>
															<!--후기--> <a href="#" title="Add to cart"><i
																class="zmdi zmdi-shopping-cart-plus"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- new-arrival end -->
									<!-- best-seller start -->
									<div id="western-biz" class="tab-pane" role="tabpanel">
										<div class="row">
											<div class="col-lg-3 col-md-4" th:each="b : ${biz}"
												th:if="${b.CTGRY}=='양식'">
												<div class="product-item product-item-2">
													<div class="product-img">
														<a
															th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}">
															<img th:if="${b.ATCH_PATH!=0}" th:src="${b.ATCH_PATH}"
															alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${b.ATCH_PATH==0}"
															th:src="/img/logo/003.png" alt="" />
														</a>
													</div>
													<div class="product-info">
														<h5 class="product-title">
															<a
																th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}"
																th:text="${b.BIZ_NM}">치킨집이름</a>
														</h5>
														<h6 class="brand-name" th:text="${b.BIZ_ADDR}">가게위치</h6>
														<h6 class="pro-price" th:text="${b.BIZ_TEL}">전화번호</h6>
													</div>
													<ul class="action-button">
														<li>
															<!--단골--> <a href="#" title="Wishlist"><i
																class="zmdi zmdi-favorite"></i></a>
														</li>
														<li>
															<!--후기--> <a href="#" title="Add to cart"><i
																class="zmdi zmdi-shopping-cart-plus"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- best-seller end -->
									<!-- special-offer start -->
									<div id="chinese-biz" class="tab-pane" role="tabpanel">
										<div class="row">
											<div class="col-lg-3 col-md-4" th:each="b : ${biz}"
												th:if="${b.CTGRY}=='중식'">
												<div class="product-item product-item-2">
													<div class="product-img">
														<a
															th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}">
															<img th:if="${b.ATCH_PATH!=0}" th:src="${b.ATCH_PATH}"
															alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${b.ATCH_PATH==0}"
															th:src="/img/logo/003.png" alt="" />
														</a>
													</div>
													<div class="product-info">
														<h5 class="product-title">
															<a
																th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}"
																th:text="${b.BIZ_NM}">치킨집이름</a>
														</h5>
														<h6 class="brand-name" th:text="${b.BIZ_ADDR}">가게위치</h6>
														<h6 class="pro-price" th:text="${b.BIZ_TEL}">전화번호</h6>
													</div>
													<ul class="action-button">
														<li>
															<!--단골--> <a href="#" title="Wishlist"><i
																class="zmdi zmdi-favorite"></i></a>
														</li>
														<li>
															<!--후기--> <a href="#" title="Add to cart"><i
																class="zmdi zmdi-shopping-cart-plus"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- special-offer end -->
									<div id="cafe-biz" class="tab-pane" role="tabpanel">
										<div class="row">
											<div class="col-lg-3 col-md-4" th:each="b : ${biz}"
												th:if="${b.CTGRY}=='치킨'">
												<div class="product-item product-item-2">
													<div class="product-img">
														<a
															th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}">
															<img th:if="${b.ATCH_PATH!=0}" th:src="${b.ATCH_PATH}"
															alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${b.ATCH_PATH==0}"
															th:src="/img/logo/003.png" alt="" />
														</a>
													</div>
													<div class="product-info">
														<h5 class="product-title">
															<a
																th:href="@{/goguma/bookmain/{bizNo}(bizNo = ${b.BIZ_NO})}"
																th:text="${b.BIZ_NM}">치킨집이름</a>
														</h5>
														<h6 class="brand-name" th:text="${b.BIZ_ADDR}">가게위치</h6>
														<h6 class="pro-price" th:text="${b.BIZ_TEL}">전화번호</h6>
													</div>
													<ul class="action-button">
														<li>
															<!--단골--> <a href="#" title="Wishlist"><i
																class="zmdi zmdi-favorite"></i></a>
														</li>
														<li>
															<!--후기--> <a href="#" title="Add to cart"><i
																class="zmdi zmdi-shopping-cart-plus"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--SNS -->
				<div class="blog-section-2 pb-50">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-title text-start mb-40">
									<h2 class="uppercase">동네생활</h2>
									<h6>동네생활 설명</h6>
								</div>
								<div class="blog">
									<div class="active-blog-2">
										<!-- sns 회전초밥 -->
										<div class="blog-item-2" th:each="s : ${sns}">
											<div class="row">
												<div class="col-lg-6">
													<div class="blog-image">
														<a href="/goguma/snsMain"> <img
															th:if="${s.ATCH_PATH!=0}" th:src="${s.ATCH_PATH}"
															alt=""
															onerror="this.onerror=null; this.src='/img/logo/003.png'" />
															<img th:if="${s.ATCH_PATH==0}"
															th:src="/img/logo/003.png" alt="" />
														</a>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="blog-desc">
														<h5 class="blog-title-2">
															<a href="/goguma/snsMain" th:text="${s.HASH}">해시태그</a>
														</h5>
														<p th:text="${#dates.format(s.SNS_YMD, 'yyyy/MM/dd')}">날짜</p>
														<p th:text="${s.USER_ID}">작성자</p>
														<p th:utext="${s.SNS_CN}"
															style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>
														<div class="read-more">
															<a href="/goguma/snsMain">더보기</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- BLOG SECTION END -->
			</section>

		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var auctDdln = /*[[ ${#dates.format(auct[0].DDLN_YMD, 'yyyy/MM/dd')} ]]*/
			console.log(auctDdln);
			/*]]*/

			$(function() {

				$('[data-countdown]')
						.countdown(
								auctDdln,
								function(event) {
									$(this)
											.html(
													event
															.strftime('<span class="cdown days"><span class="time-count">%-D</span> <p>Days</p></span> <span class="cdown hour"><span class="time-count">%-H</span> <p>Hour</p></span> <span class="cdown minutes"><span class="time-count">%M</span> <p>Mint</p></span> <span class="cdown second"> <span><span class="time-count">%S</span> <p>Sec</p></span>'));
								});
			})
		</script>
	</div>
</body>
</html>