<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net/thymeleaf/layout"
	layout:decorate="~{myPages/sideBar/sideBar}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <script th:inline="javascript">

        

    </script>
	<div layout:fragment="myContent">
        <section id="page-content" class="page-wrapper section">
            <div class="message-box box-shadow white-bg" style="width: 1000px;">
                    <div class="section-title text-start mb-20" >
                        <div>
                            <h4 class="blog-section-title border-left mb-30">내가 등록한 경매품</h4>
                        </div>

                        <table class="table" border="1" style="width: 900px;">
                            <thead>
                                <tr style="text-align: center;">
                                    <th style="width: 50px;">번호</th>
                                    <th>마감일</th>
                                    <th>상품명</th>
                                    <th style="width: 180px;">경매상태</th>
                                    <th style="width: 50px;">조회수</th>
                                    <th style="width: 50px;">낙찰자</th>
                                    <th>낙찰가</th>
                                    <th>낙찰일시</th>
                                    <th style="width: 50px;">이동</th>
                                </tr>
                            </thead>

                            <tbody>
                                <th:block th:if="${#lists.isEmpty(myAuctList)}">
                                    <tr>
                                        <td colspan="6" style="text-align: center;">입찰하신 상품이 없습니다.</td>
                                    </tr>
                                </th:block>
                                <th:block th:if="${not #lists.isEmpty(myAuctList)}">
                                    <tr th:each="myAuctList:${myAuctList}"
                                        onmouseover='this.style.background="#fcecae";'
                                        onmouseleave='this.style.background="#FFFFFF";'
                                        >
                                        <td th:text="${myAuctList.auctNo}" style="width: auto;;"></td>
                                        <td th:text="${#dates.format(myAuctList.ddlnYmd, 'yyyy/MM/dd')}"></td>
                                        <td th:text="${myAuctList.auctTtl}"></td>
                                        <th:block th:switch="${myAuctList.stts}">
                                            <td th:case="1">경매가 진행중입니다.</td>
                                            <td th:case="2">경매가 종료되었습니다.</td>
                                            <td th:case="3">유찰되었습니다.</td>
                                            <td th:case="*">경매가 진행중입니다.</td>
                                        </th:block>
                                        <td th:text="${myAuctList.inqCnt}"></td>
                                        <td th:text="${myAuctList.prchsId}"></td>
                                        <td th:if="${myAuctList.prchsPrc != 0}"
                                            th:text="${myAuctList.prchsPrc}"></td>
                                        <td th:if="${myAuctList.prchsPrc == 0}"></td>
                                        <td th:text="${#dates.format(myAuctList.prchsYmd, 'yyyy/MM/dd')}"></td>
                                        <td><a th:href="@{/goguma/auctSelect/{myAuctList}(myAuctList = ${myAuctList.auctNo})}">이동</a></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
            </div>
        </section>
    </div>

    <script th:inline="javascript">
        
        
    </script>
</body>

</html>