<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://ultraq.net/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>내가 입찰한 경매</title>
</head>

<body>
    <script th:inline="javascript">

        

    </script>
    <article layout:fragment="content">
        경매 전체조회 페이지입니다.
        짜잔쓰
        근데 이거 나의 경매에서 AJAX처리하면 한페이지에 다 떄려박을 수 있지 않을까요?
        그리구 사이드바에서 중고거래랑 경매랑 따로 분리하는게 좋을듯함!
        <table class="table" border="1">

            <thead>
                <tr style="text-align: center;">
                    <th>입찰번호</th>
                    <th>입찰자</th>
                    <th>경매품 번호</th>
                    <th>입찰날짜</th>
                    <th>입찰가</th>
                    <th>이동</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="mybidList:${mybidList}"
					onmouseover='this.style.background="#fcecae";'
					onmouseleave='this.style.background="#FFFFFF";'
                    >
                    <td th:text="${mybidList.auctMemNo}"></td>
                    <td th:text="${mybidList.userId}"></td>
                    <td th:text="${mybidList.auctNo}"></td>
                    <td th:text="${mybidList.auctYmd}"></td>
                    <td th:text="${mybidList.nowPrc}"></td>
                    <td><a th:href="@{/goguma/auctSelect/{mybidList}(mybidList = ${mybidList.auctNo})}">이동</a></td>
                </tr>
            </tbody>
        </table>

        <script src="js/vendor/jquery-3.6.0.min.js"></script>
		<script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- Bootstrap framework js -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- jquery.nivo.slider js -->
		<script src="lib/js/jquery.nivo.slider.js"></script>
		<!-- All js plugins included in this file. -->
		<script src="js/plugins.js"></script>
		<!-- Main js file that contents all jQuery plugins activation. -->
		<script src="js/main.js"></script>
    </article>
</body>

</html>